block variables
  - title = 'Styles'

extends /layout

block content
  .contain-to-grid.hide-for-small(data-magellan-expedition='fixed')
    nav.top-bar(data-topbar='', role='navigation')
      .top-bar-section
        ul
          li(data-magellan-arrival='core-beliefs')
            a(href='#core-beliefs') Core Beliefs
          li(data-magellan-arrival='what-sets-us-apart')
            a(href='#what-sets-us-apart') What Sets Us Apart
          li(data-magellan-arrival='branding')
            a(href='#branding') Branding
          li(data-magellan-arrival='market-segmentation')
            a(href='#market-segmentation') Market Segmentation
          li(data-magellan-arrival='hub-relationship')
            a(href='#hub-relationship') Hub Relationship
          li(data-magellan-arrival='si-assets')
            a(href='#si-assets') Assets

        ul.right
          li.divider
          li
            a(href='#top')
              i.fa.fa-caret-up
              | &nbsp; Top


  section.main
    .row
      .small-12.columns
        h1 Hub Branding Guidelines
        p Welcome to the Savory Institute “family of brands”. As a branded partner to the Savory Institute, your communication efforts will have the most impact if they reflect a sense of shared purpose, aligned values, and similar visual cues with other Hubs and with the Institute overall. To that end, we have worked to develop a set of marketing standards, which we hope will create a consistent, high-quality look and feel throughout all marketing materials in our shared efforts. This will ensure all materials are recognizable as part of the same unified cause. We’ve included visibility of the Savory Institute’s branding goals and assets to help inform your decisions in your Hub branding.
        blockquote For the land and all who depend on it the Savory Institute facilitates the realization of a life of enduring returns.


  #core-beliefs(data-magellan-destination='core-beliefs')
  section.main.core-beliefs
    header
      .row
        .small-12.columns
          h2 Core Beliefs

    .row
      .flex
        .medium-4.columns.one
          h4 1
          p The world’s grasslands have the potential, based on how they are managed, to mitigate some of the world’s most pressing problems.

        .medium-4.columns.two
          h4 2
          p People have a willingness and capacity to learn and should be empowered to do what is right for them.

        .medium-4.columns.three
          h4 3
          p Any solution to desertification must simultaneously address the ecological, economic and social factors involved to be successful in the long-term.


  #what-sets-us-apart(data-magellan-destination='what-sets-us-apart')
  section.main
    .row
      .small-12.columns
        h2 What Sets Us Apart

    .row
      .medium-6.columns
        figure.img-love
          img(src='/assets/images/styleguide/dirt.jpg')
        h3 Savory Institute Organization Personality:
        ol
          li Collaborator/Partner
          li Entrepreneurial
          li Results-oriented

        h3 Unique Niche:
        p Savory Institute is the only organization that uses a large-scale global approach with properly managed livestock to tackle desertification and the associated global issues that we face today.

      .medium-6.columns
        h3 Implementation:
        p The Savory Institute promotes large-scale restoration of the world’s grasslands through Holistic Management by:
        ol
          li Healing land using properly managed livestock
          ul
            li Special Projects with key partners around the globe in strategic large-scale partnerships
          li Empowering others to use properly managed livestock to heal the land
          ul
            li Through our global network of Hubs: providing Hubs with training, curriculum, tools, and networking leads so they can support and educate ranchers, farmers, and pastoralists in their regions to restore the land.
          li Creating the right conditions for large-scale success
          ul
            li Conducting research
            li Helping establish market incentives
            li Working with policymakers
            li Increasing public awareness


  #branding(data-magellan-destination='branding')
  section.main.branding
    .section-header
      header
        .row
          .small-12.columns
            h2 Branding

    .row
      .small-12.columns
        h3 Brand Vision:
        blockquote Our trajectory is to migrate the Savory Institute brand from a singular idea in response to a crisis (1.0), to shared practice surrounding an opportunity (2.0), and eventually to a widespread movement that facilitates a new reality (3.0).

        h3 Brand Impact:
        p In everything we do, we believe in shifting the global paradigm; we believe in thinking differently. We facilitate changing management systems to a proactive model that fosters planning for true triple bottom line results. The way that we currently execute on this is by working with those closest to the land, often with the greatest need. This “low hanging fruit,” or the sector that provides the greatest global impact for the fewest inputs, are the pastoralists that have ruminants and work with large tracts of undeveloped land. Our curriculum, Hub Network, Accredited Professionals, Champions (to come), and myriad of services all facilitate the global adoption of Holistic Management with a great level of quality consistency. Though no single-variable is the prime objective, this paradigm shift additionally cultivates a role in increasing biodiversity, reversing climate change, invigorating communities, and improving social well-being for business owners, families, employees, and communities at large.

        h3 Brand Assets:
        ul.bordered-list
          li Allan Savory and his 50 years of R&D, in addition to his ongoing commitment to a global shift in humans’ relationship to the land
          li Pastoralists influencing 40 million+ acres and growing through the practice of Holistic Management
          li Portfolio of Holistic Management research
          li Burgeoning global network of Hubs
          li Network of Professionals and Champions
          li Key strategic partnerships with other like-minded organizations
          li Cutting edge curriculum with options for both self-paced online courses and in-person courses to be facilitated by the Hubs. Our curriculum has the most up-to-date information supported by Allan’s ongoing study and observation, current university research, and key insights from strategic partners such as The Nature Conservancy.
          li The Holistic Platform, an online, digital, multi-media, interactive visual platform which supports each local Hub with a global online network, data management, and funding resources.



  #market-segmentation(data-magellan-destination='market-segmentation')
  section.main.market
    .section-header
      header
        .row
          .small-12.columns
            h2 Market Segmentation

    .row
      .small-12.columns
        p It is our goal to address every individual with the key points that speak to them where they are. Here the various target markets we have identified:
        ol
          li Ranchers/Farmers/Pastoralists
          li Beginning Farmers or Ranchers
          li Professors and Professional Educators
          li Land restoration agencies/NGOs
          li Impact Investors and Entrepreneurs
          li Governmental officials and agencies
          li General Public, typically related to one of the following other growing movements: local/organic food, Slow Food, primitive diets like Paleo or Weston Price, people with personal health concerns, self-reliance/homesteading, permaculture, biodynamic, ecological concern/conservation, and local economies/Slow money, urban population /consumers, schools, etc.

        blockquote In all of our combined marketing efforts we want to strike a chord of momentum, inevitability, progress and innovation, evidenced by a global revolution of revived communities, healthy soils, resilient landscapes, and thriving businesses and communities. In all your outbound Hub messaging do a gut-check to see if it aligns with this. Rather than focusing on challenging criticism, unnecessarily giving it energy, focus on the positive, where at all possible, keeping the spotlight on the incredible international progress being made.



  #hub-relationship(data-magellan-destination='hub-relationship')
  section.main
    .row
      .small-12.columns
        h2 Hub Relationship to Savory Institute:
        p This is not a mother-brand to sub-brand relationship but rather a co-brand or alliance brand and in many cases a proxy of Savory Institute’s global mission in a given region. In a regional context your brand should have as much recognition and value as the Savory Institute brand. We want to build collaboration and synergy between the two entities to reinforce one another in our combined vision and efforts.

        h3 How Hubs should refer to Savory Institute:
        ul.no-bullet
          li “[HUB NAME] is a member of the Savory Institute Hub Network.”
          li “I”m the Hub leader at [HUB NAME], a member of the Savory Institute Hub Network”

        h3 Hub Naming:
        p Each Hub should have its own unique name. These names should not include regions such as “Southwest” or a state/country name, as over time the defined regional area a Hub works in could shift in size. When naming your Hub, you may consider a thematic impact using phrases like “regenerative,” “grasslands,” “soil,” etc.
        p The Hub name should <em>not</em> include the words “Holistic,” “Holistic Management”, or “Savory.” As trademarked terms, those can be revoked at a future point should one or both parties, for whatever reason, decide to move in different directions. Hubs that have already created brands with those names will be addressed individually and have to meet very specific criteria to maintain them.
        p If your organization already has a name you can choose to make that your Hub name or utilize a different Hub name for your work that applies specifically to Holistic Management. This is left at your discretion to allow you to maximize synergy between your efforts. You will want to choose a name that defines your organization while maximizing its potential to grow over time.





  #si-assets(data-magellan-destination='si-assets')
  section.main.si-assets
    .row
      .small-12.columns
        h2 Assets

    .row.hub-network-logo
      .medium-3.columns
        figure.logos
          img(src='/assets/images/savory-network.svg')
          figcaption
            ul.icon-list
              li
                a(href='/assets/images/styleguide/savory-network.png', target='_blank')
                  i.fa.fa-file-image-o
                  | Download PNG
              li
                a(href='/assets/images/styleguide/savory-network.pdf', target='_blank')
                  i.fa.fa-file-pdf-o
                  | Download PDF
              li
                a(href='/assets/images/styleguide/savory-network-light.png', target='_blank')
                  i.fa.fa-file-image-o
                  | White Version PNG
              li
                a(href='/assets/images/styleguide/savory-network-light.pdf', target='_blank')
                  i.fa.fa-file-pdf-o
                  | White Version PDF

      .medium-9.columns
        h3 Hub Network Logo:
        p The Savory Network logo for Hubs must be displayed on all outbound communications and marketing materials that relate to Holistic Management. We understand some Hubs are part of existing organizations with broader missions in their region, but we would encourage that the logo be utilized in all presentation decks, email signatures, business cards, blast emails, print materials including flyers and ads, promotional items, etc. to maximize synergy between your organization and the Hub Network.
        p We encourage displaying the logo on products produced and marketed through the Hub. However, do not state or insinuate that the logo “certifies” the product as being managed holistically. As we develop standards tied to land performance we will have a seal specifically for products to certify them as coming from holistically managed operations.

        h4 Website Logo Guidelines:
        p The logo should be intact and unmodified. Please have the logo link back to our website <a href="http://savory.global", target="_blank">(http://savory.global).</a>

    .row
      .small-12.columns
        h3 Usage Examples
        p Some examples of how we'd suggest placing our logo:
        ul.icon-list
          li
            a(href='#', data-reveal-id='logo-example-header')
              i.fa.fa-external-link
              | Example of usage in header
          li
            a(href='#', data-reveal-id='logo-example-footer')
              i.fa.fa-external-link
              | Example of usage in footer
          li
            a(href='#', data-reveal-id='usage-white-example')
              i.fa.fa-external-link
              | Example on colored backgrounds

    .row
      .small-12.columns
        h3 Savory Institute Brand Color Palette
        p Here is the Savory Institute color palette if you’d like to align your palette with ours.
        ul.small-block-grid-2.medium-block-grid-4
          li
            figure.color.smoke
              figcaption
                | Smoke (#efefef)
          li
            figure.color.iron
              figcaption
                | Iron (#cccccc)
          li
            figure.color.aluminum
              figcaption
                | Aluminum (#999999)
          li
            figure.color.terra
              figcaption
                | Terra (#4f483f)
          li
            figure.color.elf
              figcaption
                | Elf (#38b3bc)
          li
            figure.color.verdant
              figcaption
                | Verdant (#b5c034)
          li
            figure.color.poppy
              figcaption
                | Poppy (#e35825)

    .row
      .small-12.columns
        h3 Typeface
        p We use the following fonts in our branded materials:
        ul.no-bullet
          li.serif Roboto Slab
          li.sans Proxima Nova Light

        p Proxima Nova is available to buy via <a href='https://www.myfonts.com', target='_blank'>MyFonts.com</a>, or you can use them as part of the Adobe Creative Cloud Subscription via Typekit. While we'd rather use open source, Proxima Nova (very similar to Gotham), is a beautiful font which is fairly unique. Roboto <em>is</em> an open source font, however.



  section.main
    .row
      .small-12.columns
        h2 Thank You
        p Thanks for being a part of the Savory Network! If you have questions about any of the above, please contact Chris at <a href='mailto:ckerston@savoryinstitute.org'>ckerston@savoryinstitute.org</a>.



  //- modals
  #logo-example-header.reveal-modal.small('data-reveal')
    img(src='/assets/images/styleguide/logo-in-header-example.jpg')
    h4 Usage Example 1
    p An example of the logo used in the header.
    a.close-reveal-modal
      i.fa.fa-close

  #logo-example-footer.reveal-modal.small('data-reveal')
    img(src='/assets/images/styleguide/logo-in-footer-example.jpg')
    h4 Usage Example 2
    p An example of the logo used in the footer. Some footers (like this example) wouldn't be able to support a full-color logo. To help support that, we offer both a light and dark version of our network logo.
    a.close-reveal-modal
      i.fa.fa-close


  #usage-white-example.reveal-modal.small('data-reveal')
    a.close-reveal-modal
      i.fa.fa-close
    img(src='/assets/images/styleguide/logo-white-examples.jpg')
    h4 Example of White Version
    p Sometimes it's hard to make our logo work with your colors, so we've provided a light version with opacity, which will work with any color.

