#donate(data-magellan-destination='donate')
img(data-interchange='[/assets/images/donate/donate.jpg, (default)], [/assets/images/donate/donate-lg.jpg, (medium)]')
section.main.donate.store-items
  header.overview-header
    .row
      .medium-3.columns
        h2.section-title Donate
      .medium-9.columns
        p 
          strong What if we all became investors in the success of this global network? 
          | Your investment will help more communities to become part of the Savory Global Network. More Hubs means more people trained, equipped, and empowered and more hectares of land being restored; and with that...

  .row
    .small-12.columns
      .key-points
        .keyline
        .row.collapse
          .medium-6.columns.left
            .point
              h4 More carbon being removed from the atmosphere and into the soil via healthier plants
            .point
              h4 More water supporting life and recharging rivers

          .medium-6.columns.right
            .point
              h4 More prosperity for rural communities
            .point
              h4 Better resilience for the surrounding urban populations

      p Let's invest in a shared future of hope. Show your dedication by making any of these fully tax deductible gifts a one-time or monthly investment.
  
  
  
  .donation-callouts
    .row
      .medium-3.columns
        figure
          img(src='/assets/images/donate/i-believe.jpg')
          figcaption
            a.price(href='https://savory-institute.myshopify.com/collections/donate-1/products/25-recurring-donation?variant=962121096', target='_blank') $25/Mo.
              i.fa.fa-shopping-cart
            h5 I Believe
        
      .medium-3.columns
        figure
          img(src='/assets/images/donate/i-support.jpg')
          figcaption
            a.price(href='https://savory-institute.myshopify.com/collections/donate-1/products/50-recurring-donation?variant=962121148', target='_blank') $50/Mo.
              i.fa.fa-shopping-cart
            h5 I Support
        
      .medium-3.columns
        figure
          img(src='/assets/images/donate/i-commit.jpg')
          figcaption
            a.price(href='https://savory-institute.myshopify.com/collections/donate-1/products/100-recurring-donation?variant=962121272', target='_blank') $100/Mo.
              i.fa.fa-shopping-cart
            h5 I Commit
      
      .medium-3.columns
        figure
          img(src='/assets/images/donate/custom.jpg')
          figcaption
            a.price(href='https://savory-institute.myshopify.com/collections/donate-1/products/1-donation?variant=343417711', target='_blank') $1+
              i.fa.fa-shopping-cart
            h5 Give a Custom Amount
    
  
  .row
    .small-12.columns

      a.btn-primary(href='http://savory-institute.myshopify.com/collections/donate-1', target='_blank') 
        i.fa.fa-shopping-cart
        | Donate Now
      
      p.legal Savory is a 501(c)3 non-profit. All donations are tax-deductible.
