#donate(data-magellan-destination='donate')
form
  section.main.donate
    .overlay-bottom
    .row
      .small-12.columns
        .content
          h2 Donate
          p <strong>What if we all became investors in the success of this global network?</strong> Your investment will help more communities to become part of the Savory Hub network. More Hubs means more farmers, ranchers, and pastoralists trained, equipped, and empowered and more hectares of land being restored; and with that... 

          .key-points
            .keyline
            .row.collapse
              .medium-6.columns.left
                .point
                  h4 More carbon being removed from the atmosphere and into the soil via healthier plants
                .point
                  h4 More water supporting life and recharging rivers

              .medium-6.columns.right
                .point
                  h4 More prosperity for rural communities
                .point
                  h4 Better resilience for the surrounding urban populations

          p <em>We've made the cultivation of this global network our top priority. Your investment will help us seed its growth. It starts with each of us believing, supporting, and committing.</em>
          hr

          .row.donation-amounts
            .medium-6.columns
              h3 Make an Ongoing Contribution*
              div
                input(type='radio', name='ongoing', id='25-mo')
                label(for='25-mo', class='radio-label') <strong>I Believe</strong>: $25 Each Month
              div
                input(type='radio', name='ongoing', id='50-mo')
                label(for='50-mo', class='radio-label') <strong>I Support</strong>: $50 Each Month
              div
                input(type='radio', name='ongoing', id='100-mo')
                label(for='100-mo', class='radio-label') <strong>I Commit</strong>: $100 Each Month
              div
                input(type='radio', name='ongoing', id='other-mo')
                label(for='other-mo', class='radio-label') Other Amount Each Month
              
              #other-amount-mo-holder.other-amount-holder
                .row.collapse
                  .small-1.columns
                    span.prefix $
                  .small-4.end.columns
                    input(type='text', placeholder='Other Amount', name='other-amount-mo', id='other-amount')

            .medium-6.columns
              h3 Make a One-Time Contribution
              div
                input(type='radio', name='amount', id='25')
                label(for='25', class='radio-label') $25
              div
                input(type='radio', name='amount', id='50')
                label(for='50', class='radio-label') $50
              div
                input(type='radio', name='amount', id='100')
                label(for='100', class='radio-label') $100
              div
                input(type='radio', name='amount', id='other')
                label(for='other', class='radio-label') Other
              
              #other-amount-holder.other-amount-holder
                .row.collapse
                  .small-1.columns
                    span.prefix $
                  .small-4.end.columns
                    input(type='text', placeholder='Other Amount', name='other-amount', id='other-amount-mo')

          hr
          button.primary
            a(href='#')
              i.fa.fa-shopping-cart
              | Add to Cart
          p.fine-print *Ongoing contributions can be changed or cancelled at any time. Your donation be deducted from your credit on the same day every month. If you're donating at the end of the month (the 31st for example) and the current month has fewer days, your donation will be deducted at the end of the month.
          p.fine-print Savory is a 501(c)3 non-profit. All donations are tax-deductible.