#donate(data-magellan-destination='donate')
img(data-interchange='[/assets/images/platform/donate.jpg, (default)], [/assets/images/platform/donate-lg.jpg, (medium)]')
section.main.donate
  header
    .row
      .medium-3.columns
        h2.section-title Donate
      .medium-9.columns
        p 
          strong What if we all became investors in the success of this global network? 
          | Your investment will help more communities to become part of the Savory Global Network. More Hubs means more people trained, equipped, and empowered and more hectares of land being restored; and with that...

  .row
    .small-12.columns
      .key-points
        .keyline
        .row.collapse
          .medium-6.columns.left
            .point
              h4 More carbon being removed from the atmosphere and into the soil via healthier plants
            .point
              h4 More water supporting life and recharging rivers

          .medium-6.columns.right
            .point
              h4 More prosperity for rural communities
            .point
              h4 Better resilience for the surrounding urban populations

      p We've made the cultivation of this global network our top priority. Your investment will help us seed its growth. It starts with each of us believing, supporting, and committing.

      a.btn-primary(href='http://savory-institute.myshopify.com/collections/donate', target='_blank') Donate Now
      
      p.legal Savory is a 501(c)3 non-profit. All donations are tax-deductible.
