mixin institute-subnav
	li('data-magellen-arrival=healing-the-land')
		a.close-off-canvas(href='/institute/#healing-the-land') Healing the Land
	li('data-magellen-arrival=removing-barriers')
		a.close-off-canvas(href='/institute/#removing-barriers') Removing Barriers
	li('data-magellen-arrival=evidence')
		a.close-off-canvas(href='/institute/#evidence') Evidence
	li('data-magellen-arrival=partnerships')
		a.close-off-canvas(href='/institute/#partnerships') Partnerships
	li('data-magellen-arrival=our-team')
		a.close-off-canvas(href='/institute/#our-team') Our Team
	li('data-magellen-arrival=honors')
		a.close-off-canvas(href='/institute/#honors') Honors
	li('data-magellen-arrival=annual-report')
		a.close-off-canvas(href='/institute/#annual-report') Annual Report
		
mixin network-subnav
	li('data-magellan-arrival=empowering-others')
		a.close-off-canvas(href='/network/#empowering-others') Empowering Others
	li('data-magellan-arrival=growth')
		a.close-off-canvas(href='/network/#growth') Growth
	li('data-magellan-arrival=launch-strategy')
		a.close-off-canvas(href='/network/#launch-strategy') Launch Strategy

mixin platform-subnav
	li('data-magellan-arrival=classes')
		a.close-off-canvas(href='/platform/#classes') Classes
	li('data-magellan-arrival=consulting')
		a.close-off-canvas(href='/platform/#consulting') Consulting
	li('data-magellan-arrival=renew')
		a.close-off-canvas(href='/platform/#renew') Renew Accredidation
	li('data-magellan-arrival=gift-cards')
		a.close-off-canvas(href='/platform/#gift-cards') Gift Cards
	li('data-magellan-arrival=ebooks')
		a.close-off-canvas(href='/platform/#ebooks') Ebooks
	li('data-magellan-arrival=tools')
		a.close-off-canvas(href='/platform/#tools') Tools
	li('data-magellan-arrival=donate')
		a.close-off-canvas(href='/platform/#donate') Donate
		

mixin get-involved-subnav
	li('data-magellen-arrival=join-the-tribe')
		a.close-off-canvas(href='/get-involved/#join-the-tribe') Join the Tribe
	li('data-magellen-arrival=donate')
		a.close-off-canvas(href='/get-involved/#donate') Donate
	li('data-magellen-arrival=volunteer')
		a.close-off-canvas(href='/get-involved/#volunteer') Volunteer
	li('data-magellen-arrival=careers')
		a.close-off-canvas(href='/get-involved/#careers') Careers
	


li.institute-link.has-submenu
	a(href='/institute') Savory Insitute
	ul.left-submenu
		li.back
			a(href='#') Back
		+institute-subnav
		
li.network-link
	a(href='/network') Savory Network
	ul.left-submenu
		li.back
			a(href='#') Back
		+network-subnav
		
li.platform-link
	a(href='/platform') Savory Platform
	ul.left-submenu
		li.back
			a(href='#') Back
		+platform-subnav

li.get-involved-link
	a(href='/get-involved') Get Involved
	ul.left-submenu
		li.back
			a(href='#') Back
		+get-involved-subnav