mixin institute-subnav
	li(data-magellan-arrival='top')
		a.close-off-canvas.overview(href='/institute/#top') Overview
	li(data-magellan-arrival='our-mission')
		a.close-off-canvas(href='/institute/#our-mission') Our Mission
	li(data-magellan-arrival='evidence')
		a.close-off-canvas(href='/institute/#evidence') Evidence
	li(data-magellan-arrival='partnerships')
		a.close-off-canvas(href='/institute/#partnerships') Partnerships
	li(data-magellan-arrival='our-team')
		a.close-off-canvas(href='/institute/#our-team') Our Team
	li(data-magellan-arrival='honors')
		a.close-off-canvas(href='/institute/#honors') Honors
	li(data-magellan-arrival='annual-report')
		a.close-off-canvas(href='/institute/#annual-report') Annual Report


mixin network-subnav
	li(data-magellan-arrival='top')
		a.close-off-canvas.overview(href='/network/#top') Overview
	li(data-magellan-arrival='savory-hub')
		a.close-off-canvas(href='/network/#savory-hub') Savory Hub
	li(data-magellan-arrival='hub-application')
		a.close-off-canvas(href='/network/#hub-application') Hub Application
	li(data-magellan-arrival='tech-platform')
		a.close-off-canvas(href='/network/#tech-platform') Technology Platform


mixin platform-subnav
	li(data-magellan-arrival='top')
		a.close-off-canvas.overview(href='/platform/#top') Overview
	li(data-magellan-arrival='classes')
		a.close-off-canvas(href='/platform/#classes') Classes
	li(data-magellan-arrival='consulting')
		a.close-off-canvas(href='/platform/#consulting') Consulting
	li(data-magellan-arrival='renew')
		a.close-off-canvas(href='/platform/#renew') Renew Accreditation
	li(data-magellan-arrival='gift-cards')
		a.close-off-canvas(href='/platform/#gift-cards') Gift Cards
	li(data-magellan-arrival='ebooks')
		a.close-off-canvas(href='/platform/#ebooks') Ebooks
	li(data-magellan-arrival='tools')
		a.close-off-canvas(href='/platform/#tools') Tools
	li(data-magellan-arrival='donate')
		a.close-off-canvas(href='/platform/#donate') Donate


mixin get-involved-subnav
	li(data-magellan-arrival='top')
		a.close-off-canvas.overview(href='/get-involved/#top') Overview
	li(data-magellan-arrival='join-the-tribe')
		a.close-off-canvas(href='/get-involved/#join-the-tribe') Join the Tribe
	li(data-magellan-arrival='donate')
		a.close-off-canvas(href='/get-involved/#donate') Donate
	li(data-magellan-arrival='volunteer')
		a.close-off-canvas(href='/get-involved/#volunteer') Volunteer
	li(data-magellan-arrival='careers')
		a.close-off-canvas(href='/get-involved/#careers') Careers



li.institute-link.has-submenu
	a(href='/institute') Savory Insitute
	ul.left-submenu
		li.back
			a(href='#') Back
		+institute-subnav

li.network-link.has-submenu
	a(href='/network') Savory Network
	ul.left-submenu
		li.back
			a(href='#') Back
		+network-subnav

li.platform-link.has-submenu
	a(href='/platform') Savory Platform
	ul.left-submenu
		li.back
			a(href='#') Back
		+platform-subnav

li.get-involved-link.has-submenu
	a(href='/get-involved') Get Involved
	ul.left-submenu
		li.back
			a(href='#') Back
		+get-involved-subnav