li
	a.has-tip.tip-top(target='_blank', data-tooltip='', aria-haspopup='true', title='Facebook', href='//www.linkedin.com/company/savory-institute')
		i.fa.fa-facebook

li
	a.has-tip.tip-top(target='_blank', data-tooltip='', aria-haspopup='true', title='Google+', href='//plus.google.com/106778762142514006501/posts')
		i.fa.fa-google-plus

li
	a.has-tip.tip-top(target='_blank', data-tooltip='', aria-haspopup='true', title='Twitter', href='//twitter.com/SavoryInstitute')
		i.fa.fa-twitter

li
	a.has-tip.tip-top(target='_blank', data-tooltip='', aria-haspopup='true', title='YouTube', href='//www.youtube.com/user/HolisticGrazing/')
		i.fa.fa-youtube

li
	a.has-tip.tip-top(target='_blank', data-tooltip='', aria-haspopup='true', title='Instagram', href='//instagram.com/savoryinstitute')
		i.fa.fa-instagram
		
li
	a.has-tip.tip-top(target='_blank', data-tooltip='', aria-haspopup='true', title='Linkedin', href='//www.linkedin.com/company/savory-institute')
		i.fa.fa-linkedin
