li(data-magellan-arrival='top')
	a.close-off-canvas.overview(href='/platform/#top') Overview
li(data-magellan-arrival='courses')
	a.close-off-canvas(href='/platform/#courses') Courses
li(data-magellan-arrival='consulting')
	a.close-off-canvas(href='/platform/#consulting') Consulting
li(data-magellan-arrival='renew')
	a.close-off-canvas(href='/platform/#renew') Renew Accreditation
li(data-magellan-arrival='ebooks')
	a.close-off-canvas(href='/platform/#ebooks') Ebooks
li(data-magellan-arrival='tools')
	a.close-off-canvas(href='/platform/#tools') Tools
