li(data-magellan-arrival='top')
  a.close-off-canvas.overview(href='/network/#top') Overview
li(data-magellan-arrival='savory-hub')
  a.close-off-canvas(href='/network/#savory-hub') Savory Hub
li(data-magellan-arrival='hub-application')
  a.close-off-canvas(href='/network/#hub-application') Hub Application
li(data-magellan-arrival='accredited-pros')
  a.close-off-canvas(href='/network/#accredited-pros') Accredited Professionals
