//- don't forget to change in both places
li: a.close-off-canvas(href='/platform/#top') Overview
li: a.close-off-canvas: a(href='/platform/#online-ed') Online Education
li: a.close-off-canvas: a(href='/platform/#data-management') Data Management
li: a.close-off-canvas: a(href='/platform/#forum') Collaboration Forum
li: a.close-off-canvas: a(href='/platform/#store') Store
