li(data-magellan-arrival='top')
  a.close-off-canvas.overview(href='/get-involved/#top') Overview
li(data-magellan-arrival='join-the-tribe')
  a.close-off-canvas(href='/get-involved/#join-the-tribe') Join the Tribe
li(data-magellan-arrival='newsletter-subscription')
  a.close-off-canvas(href='/get-involved/#newsletter-subscription') Newsletter Subscription
li(data-magellan-arrival='donate')
  a.close-off-canvas(href='/get-involved/#donate') Donate
