li(data-magellan-arrival='top')
	a.close-off-canvas.overview(href='/platform/#top') Overview
li(data-magellan-arrival='classes')
	a.close-off-canvas(href='/platform/#classes') Classes
li(data-magellan-arrival='consulting')
	a.close-off-canvas(href='/platform/#consulting') Consulting
li(data-magellan-arrival='renew')
	a.close-off-canvas(href='/platform/#renew') Renew Accreditation
li(data-magellan-arrival='ebooks')
	a.close-off-canvas(href='/platform/#ebooks') Ebooks
li(data-magellan-arrival='tools')
	a.close-off-canvas(href='/platform/#tools') Tools
li(data-magellan-arrival='donate')
	a.close-off-canvas(href='/platform/#donate') Donate
