//- don't forget to change in both places
li: a.close-off-canvas(href='/institute/#top') Overview
li: a.close-off-canvas(href='/institute/#history') History
li: a.close-off-canvas(href='/institute/#our-strategy') Our Strategy
li: a.close-off-canvas(href='/institute/#evidence') Evidence
li: a.close-off-canvas(href='/institute/#our-team') Our Team
li: a.close-off-canvas(href='/institute/#honors') Honors
li: a.close-off-canvas(href='/institute/#annual-report') Annual Report
li: a.close-off-canvas(href='/institute/#careers') Careers
