//- don't forget to change in both places
li: a.close-off-canvas(href='/platform/#top') Overview
li: a.close-off-canvas(href='/platform/#courses') Courses
li: a.close-off-canvas(href='/platform/#consulting') Consulting
li: a.close-off-canvas(href='/platform/#renew') Renew Accreditation
li: a.close-off-canvas(href='/platform/#ebooks') Ebooks
li: a.close-off-canvas(href='/platform/#tools') Tools
