//- don't forget to change in both places
li: a.close-off-canvas(href='/network/#top') Overview
li: a.close-off-canvas(href='/network/#savory-hub') Savory Hub
li: a.close-off-canvas(href='/network/#hub-application') Hub Application
li: a.close-off-canvas(href='/network/#accredited-pros') Accredited Professionals
