li(data-magellan-arrival='top')
  a.close-off-canvas.overview(href='/institute/#top') Overview
li(data-magellan-arrival='our-strategy')
  a.close-off-canvas(href='/institute/#our-strategy') Our Strategy
li(data-magellan-arrival='evidence')
  a.close-off-canvas(href='/institute/#evidence') Evidence
li(data-magellan-arrival='our-team')
  a.close-off-canvas(href='/institute/#our-team') Our Team
li(data-magellan-arrival='honors')
  a.close-off-canvas(href='/institute/#honors') Honors
li(data-magellan-arrival='annual-report')
  a.close-off-canvas(href='/institute/#annual-report') Annual Report
li(data-magellan-arrival='careers')
  a.close-off-canvas(href='/institute/#careers') Careers

