block variables
  - title = 'History'

extends /layout-institute

block content

  section.main
    .row
      .small-12.columns
        h1= title
        p In the 1960s Zimbabwean wildlife biologist-farmer Allan Savory made a significant breakthrough in understanding what was causing the degradation and desertification of the world’s grassland ecosystems and developed a way to restore the land to health using livestock as his primary tool.
        p For centuries we believed livestock were a major cause of desertification, but Savory’s research showed that the cause lay in how those livestock were managed. His solution involved mimicking the behavior of the formerly vast herds of wild grazing animals he had witnessed as a young biologist. He devised a simple method any pastoralist can use to move massive amounts of carbon and water from the atmosphere back to the soil and begin reversing thousands of years of human-caused desertification – on the scale required, which no technology imaginable can accomplish. In the process, we can feed more people and enhance societal well-being.