block variables
  - title = 'Institute'

extends /layout-institute

block content

  section.main
    .row
      .small-12.columns
        h1= title
        p The Savory Institute promotes large-scale restoration of the world’s grasslands through holistic management. We use properly managed livestock to heal the land and empower others to do the same. We also remove barriers on the path to large-scale success through activities such as conducting research, creating market incentives and raising public awareness.


  #healing-the-land(data-magellan-destination='healing-the-land')
  section.main
    .row
      .small-12.columns
        h2 Healing the Land
        p The Savory Institute has joined with impact investors, Armonia, LLC and Level 3 Capital Advisors, LLC to create Grasslands, LLC. Grasslands identifies attractive ranch real estate investments, raises investor capital to purchase the assets, and then engages in long-term management contracts on the acquired properties.
        p A think tank called Capital Institute founded by Level 3 Capital Advisors’ principal John Fullerton has created a study called “Field Guide to Investing In A Resilient Economy”, of which Grasslands, LLC was the first subject. Read the study on the Capital Institute Web site.
        p As the Grasslands, LLC project grows,we foresee developing a “ranch real estate fund,” enabling investors to simultaneously participate in a portfolio of properties. The Grasslands team looks for properties that have the potential to provide triple-bottom-line impacts, including:
        ul
          li Major ecological benefits such as enhancing ecosystem resilience, sequestering carbon and building biodiversity.
          li Solid financial results through competitive annual cash dividends and low-risk, long term capital storage in the form of productive grassland.
          li Long-term stability for rural communities by providing employment opportunities for both experienced and up-and-coming land managers.
          li To date, Grasslands LLC is managing properties in South Dakota, Montana, Hawaii, and New Zealand. Total acreage under management is near 200,000 acres. These beautiful ranches support large herds of livestock all managed for land health under Holistic Planned Grazing. Grasslands is actively pursuing additional ranch purchases and management contracts worldwide. Grasslands is also collaborating with third party monitoring entities to objectively measure ecological, social and economic changes.
        p If you are interested in investing or working with the Grasslands LLC team, please contact the team at contact@savoryinstitute.com


  #removing-barriers(data-magellan-destination='removing-barriers')
  section.main
    .row
      .small-12.columns
        h2 Removing Barriers
        h3 Monitoring, Curating and Conducting Research
        p The Savory Institute conducts, coordinates and supports comprehensive social, ecological, and financial monitoring.
        p The Savory Institute has compiled and curated a portfolio of peer reviewed papers, articles, white papers and case study that represents the scientific and ground-truthed evidence basis of our work. We work in collaboration with organizations, scientists, and academic institutions to collect and conduct research that will increase our understanding of how properly managed livestock in the grasslands of the world contribute to removing carbon from the atmosphere and addressing problems such as drought, poverty, hunger and social violence.
        p We are currently working in collaborations with:
        ul
          li The Nature Conservancy
          li University of Wyoming – Haub School of Natural Resources and the Environment.
          li Princeton University – Ecology and Evolutionary Biology
          li Texas A&M University – Texas AgriLife Research
          li Idaho State University’s – GIS Training and Research Center
          li University of Pennsylvania – Applied Positive Psychology
          li Oregon State University – Geosciences
          li Agriculture Center for Excellence
          li Applied Eco Services
          li Land EKG
          li South Western Research Institute
          li South African Ag Research Council
          li Soil Carbon Coalition
          li Barrett’s Value Centre

        h3 Informing Policy and Programs
        p Policies and development programs concerning grasslands and livestock management in many countries are often flawed – and they are a major reason why desertification is expanding so rapidly around the world. The Savory Institute informs policymakers and stakeholders of the need to shift current agriculture and land management policies and programs. Savory Institute is a member of several global roundtables and dialogues, such as:
        ul
          li United Nations Convention to Combat Desertification (UNCCD)
          li United Nations Global Compact (UNGC) - Core Advisory Group - Member.
          li Food and Agriculture Organization (FAO) Global Agenda for Action – Restoring the Value of Grasslands and Multi-Stakeholder Action for Sustainable Livestock – Member.
          li Global Roundtable for Sustainable Beef – Member.
          li Solidaridad - Farmers Support Program Pre-screening Committee – Member.
          li USAID’s Office of Foreign Disaster Assistance (OFDA)
          li Natural Resources Defense Council – Sustainable Grazing Metrics and Standards
          li The Nature Conservancy – 10-year collaboration on enhancing the role of science and conservation in the practice of Holistic Management.

        h3 Identifying and Establishing Market Incentives
        p The Savory Institute works to identify and establish strategies to create market-based incentives to encourage people to use Holistic Management to create environmental, economic and social benefits.  For example: Patagonia Inc.: we have joined a collaboration of sheep producers in Argentina which represent one of our first Savory Hubs in the Patagonia region, working with Patagonia, Inc. and The Nature Conservancy on a land management project that will restore 10 million acres of the Patagonia grasslands and add value to the wool produced on these estancias, Argentina.
        ul
          li US Beef Stewardship Collaboration - Sustainable Food Lab, USA
          li Armonia Sustainable Beef Program, USA
          li Massmart – South Africa
          li Marfrig – Latinamerica.
          li Increasing Public Awareness
          li The Savory Institute engages many different audiences to change public perception that livestock itself causes the degradation and/or desertification of grasslands. It is actually the way humans manage livestock that is the culprit. This fundamental shift in thinking must happen to drive needed policy and market shifts.

        p Many different key environmental activists and thought leaders are supporting our efforts to increase public awareness such as TED, HRH Prince of Wales, Deepak Chopra, Ian Somerhalder, Hazel Henderson, Gretel Erlich, and Peter Byck among others.
        p Media venues have featured the work of the Savory Institute, and several film producers, writers and independent journalists are working closely with the Savory Institute team to spread this knowledge.
        p The Savory Institute team is also available to speak at conferences, meetings and other gatherings.




  #evidence(data-magellan-destination='evidence')
  section.main.evidence
    .row
      .small-12.columns
        h2 Evidence
        p The Savory Institute has compiled and curated a portfolio of peer reviewed papers, articles, white papers, and case studies that represent the scientific and ground-truthed evidence basis of our work. We work in collaboration with organizations, scientists, and academic institutions to collect and conduct research that will increase our understanding of how properly managed livestock in the grasslands of the world contribute to removing carbon from the atmosphere and addressing problems such as drought, poverty, hunger and social violence.

        h3 Case Studies
        p We'll do a masonry grid here of the case studies.

        h3 We are currently working in collaborations with:
        ul
          li The Nature Conservancy
          li University of Wyoming – Haub School of Natural Resources and the Environment.
          li Princeton University – Ecology and Evolutionary Biology
          li Texas A&M University – Texas AgriLife Research
          li Idaho State University’s – GIS Training and Research Center
          li University of Pennsylvania – Applied Positive Psychology
          li Oregon State University – Geosciences
          li Agriculture Center for Excellence
          li Applied Eco Services
          li Land EKG
          li South Western Research Institute
          li South African Ag Research Council
          li Soil Carbon Coalition
          li Barrett’s Value Centre

        h3 Papers and Research

        h5 Papers by Allan Savory
        ul.icon-list
          li
            a(href='/assets/docs/evidence-papers/science-methodology.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Response to Request for Information on the “science” and “methodology” Underpinning Holistic Management and Holistic Planned Grazing (Updated 2013)
          li
            a(href='/assets/docs/evidence-papers/new-context.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | A New Framework, a New Context by Allan Savory (2012)
          li
            a(href='http://www.un.org/esa/dsd/dsd_sd21st/21_pdf/agriculture_and_food_the_future_of_sustainability_web.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Food and Agriculture: The future of sustainability, by United Nations Department of Economic and Social Affairs, Division for Sustainable Development, Allan Savory contributor (2012)
          li
            a(href='/assets/docs/evidence-papers/brief-overview.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | A Brief Overview of Holistic Management and Holistic Decision Making (2011)
          li
            a(href='/assets/docs/evidence-papers/award.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | The Buckminster Fuller Award and the Afghanistan War (2010)
          li
            a(href='/assets/docs/evidence-papers/climate-change.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | A Global Strategy for Addressing Climate Change (2008)
          li
            a(href='/assets/docs/evidence-papers/holistic-resource-management.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Holistic Resource Management: A Conceptual Framework for Ecologically Sound Economic Modeling (2008)
          li
            a(href='/assets/docs/evidence-papers/good-governance.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Good Governance (2008)

        h5 Research by Savory Institute
        ul.icon-list
          li
            a(href='/assets/docs/evidence-papers/portfolio-of-findings.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Holistic Management: Portfolio of Scientific Findings (2014)
          li
            a(href='/assets/docs/evidence-papers/holistic-management-overview.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Holistic Management Overview (2013)
          li
            a(href='/assets/docs/evidence-papers/exploration-of-methane.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | An Exploration of Methane and Properly Managed Livestock through Holistic Management (2013)
          li
            a(href='/assets/docs/evidence-papers/restoring-the-climate.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Restoring the Climate Through Capture and Storage of Soil Carbon Through Holistic Planned Grazing (2013)
          li
            a(href='/assets/docs/evidence-papers/framework-for-holistic-management.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Framework for Holistic Management (2012)
          li
            a(href='/assets/docs/evidence-papers/thundering-hooves.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Thundering Hooves — Value-Added Farming (2010)
          li
            a(href='/assets/docs/evidence-papers/thriving-in-drought.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Surviving or Thriving in Drought. In Practice. (2008)

        h5 Research by Other Holistic Management Experts
        ul.icon-list
          li
            a(href='http://planet-tech.com/blog/talking-points-regarding-savory', target='_blank')
              i.fa.fa-external-link
              | Talking Points Regarding Savory, Seth Itzkan (2013)
          li
            a(href='http://swelterdesigns.com/climate_articles/', target='_blank')
              i.fa.fa-external-link
              | The Fight Against Global Warming: A Failure and A Fix, Adam Sacks (2013)
          li
            a(href='http://www.sciencedirect.com/science/article/pii/S0140196310003460', target='_blank')
              i.fa.fa-external-link
              | Effect of grazing on soil-water content in semiarid rangelands of southeast Idaho, K.T. (Keith) Weber, B.S. Gokhale, <em>Journal of Arid Environments</em> (2011)
          li
            a(href='http://anoptimiststourofthefuture.com/?page_id=1658', target='_blank')
              i.fa.fa-external-link
              | “A little bit of a bloody big amount”, Mark Stevenson, chapter from the book <em>An Optimist’s Tour of the Future</em> (2011)
          li
            a(href='http://www.sciencedirect.com/science/article/pii/S0167880911000934', target='_blank')
              i.fa.fa-external-link
              | Grazing management impacts on vegetation, soil biota and soil chemical, physical and hydrological properties in tall grass prairie, Teague, R. (2011)
          li
            a(href='http://quiviracoalition.org/images/pdfs/2055-Journal35.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Resilience on the Prairie Edge: The 777 Buffalo Ranch (2010)
          li
            a(href='/assets/docs/managing-grass.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Managing Grass, Small Grains, and Cattle (1992)
          li
            a(href='/assets/docs/evidence-papers/doing-what-works.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Doing What Works, Chris Gill, <em>Range Magazine</em> (2009)
          li
            a(href='http://quiviracoalition.org/images/pdfs/225-Newsletter_14.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Profile of good stewardship: the Rafter F Cattle Company (2001)



  #partnerships(data-magellan-destination='partnerships')
  section.main
    .row
      .small-12.columns
        h2 Partnerships
        h3 Global Partnerships
        p Throughout history, billions of dollars have been spent on solutions to desertification, which include resting the land, planting grass and trees, and developing machines to work or irrigate the soil. These solutions rely on large amounts of capital and expensive technology and are often culturally inappropriate. None of them have been successful in creating large-scale change. In fact, desertification has continued to accelerate at an alarming rate.

        p If we are going to create large-scale change on the ground, we must transform the way we think and act. Savory Institute believes that the restoration of the grasslands of the world, the fight against global climate change, the enhancement of water, food and nutrition security, and ultimately the wellbeing of all humans and living forms on Earth will take the collaboration of many aligned individuals and organizations.

        p The solution to the imminent global problems that are threatening life on Earth requires that we all join forces to find answers, innovative solutions, and political will to rethink the models that drive businesses, the way resources are allocated and distributed, the way science engages and informs resource management, the way we make our daily decisions as consumers, among other transformations.

        h4 Partner Network
        p HM uses a decision-making framework to ensure environmental, economic and social soundness

        p The decision-making framework used in Holistic Management to ensure environmental, economic and social soundness will be a powerful tool in facilitating this change around the world. And a global network of partners can make it happen. We count among our collaborators:

        ul
          li The Nature Conservancy
          li Buckminster Fuller Institute
          li Rainforest Alliance
          li Ashoka
          li University of Wyoming – Haub School of Natural Resources and the Environment.
          li Princeton University – Ecology and Evolutionary Biology
          li University of Colorado (CU)
          li Texas A&M University – Texas AgriLife Research
          li Idaho State University’s – GIS Training and Research Center
          li University of Pennsylvania – Applied Positive Psychology
          li Oregon State University – Geosciences
          li Agriculture Center for Excellence
          li Applied Eco Services
          li Land EKG
          li South Western Research Institute
          li Agricultural Research Council
          li Soil Carbon Coalition
          li EKKO
          li United Nations Convention to Combat Desertification (UNCCD)
          li United Nations Global Compact (UNGC)
          li Food and Agriculture Organization (FAO) Global Agenda for Action
          li Global Roundtable for Sustainable Beef
          li Solidaridad - Farmers Support Program Pre-screening Committee
          li Earth Security
          li USAID’s Office of Foreign Disaster Assistance (OFDA)
          li Natural Resources Defense Council
          li Armonia
          li Capital Institute
          li Barrett's Values Centre
          li Biological Capital
          li TED
          li HRH Prince of Wales




  #our-team(data-magellan-destination='our-team')
  section.main.our-team
    .row
      .small-12.columns
        h2 Our Team
        p The Savory Institute was co-founded in 2009 by Allan Savory and a small group of old-time Holistic Managers.

    hr
    .row
      .small-12.columns
        h3 Staff
        ul.small-block-grid-2.medium-block-grid-4.image-grid
          li
            a(href='/institute/our-team#allan')
              figure
                .plus +
                img(src='/assets/images/institute/allan.jpg')
                figcaption Allan Savory
          li
            a(href='/institute/our-team#daniela')
              figure.colorado
                .plus +
                img(src='/assets/images/institute/daniela.jpg')
                figcaption Daniela Ibarra-Howell
          li
            a(href='/institute/our-team#tre')
              figure.colorado
                .plus +
                img(src='/assets/images/institute/tre.jpg')
                figcaption Tré Cates
          li
            a(href='/institute/our-team#andrea')
              figure
                .plus +
                img(src='//placehold.it/500x500')
                figcaption Andrea Malmberg
          li
            a(href='/institute/our-team#byron')
              figure
                .plus +
                img(src='//placehold.it/500x500')
                figcaption Byron Shelton
          li
            a(href='/institute/our-team#chris')
              figure
                .plus +
                img(src='//placehold.it/500x500')
                figcaption Chris Kerston
          li
            a(href='/institute/our-team#jody')
              figure
                .plus +
                img(src='//placehold.it/500x500')
                figcaption Jody Butterfield



    hr
    .row
      .small-12.columns
        h3 Board Members
        ul.small-block-grid-2.medium-block-grid-5.image-grid
          li
            a(href='/institute/our-team#jody')
              figure
                .plus +
                img(src='//placehold.it/400x400')
                figcaption Jody Butterfield
          li
            a(href='/institute/our-team#john')
              figure
                .plus +
                img(src='//placehold.it/400x400')
                figcaption John Fullterton
          li
            a(href='/institute/our-team#daniela')
              figure
                .plus +
                img(src='/assets/images/institute/daniela.jpg')
                figcaption Daniela Ibarra-Howell
          li
            a(href='/institute/our-team#larry')
              figure
                .plus +
                img(src='//placehold.it/400x400')
                figcaption Larry Lunt
          li
            a(href='/institute/our-team#suzanne')
              figure
                .plus +
                img(src='//placehold.it/400x400')
                figcaption Suzanne Probart

    hr
    .row
      .small-12.columns
        h3 Advisors
        ul.small-block-grid-2.medium-block-grid-5.image-grid
          li
            a(href='/institute/our-team#jim')
              figure
                .plus +
                img(src='//placehold.it/400x400')
                figcaption Jim Howell
          li
            a(href='/institute/our-team#tony')
              figure
                .plus +
                img(src='//placehold.it/400x400')
                figcaption Tony Malmberg
          li
            a(href='/institute/our-team#shannon')
              figure
                .plus +
                img(src='//placehold.it/400x400')
                figcaption Shannon Horst
          li
            a(href='/institute/our-team#zachary')
              figure
                .plus +
                img(src='//placehold.it/400x400')
                figcaption Zachary Jones



  #honors(data-magellan-destination='board-and-advisors')
  section.main.honors
    .row
      .small-12.columns
        h2 Honors and Recognition
        p Allan Savory, Savory Institute, and the Africa Centre for Holistic Management continually receive high-profile honors and recognition for their efforts to empower others to use Holistic Management to restore grasslands.
        ul.no-bullet
          li
            h5 UN Convention to Combat Desertification Land for Life Award—2013
            p Savory Institute was named a semi-finalist for the UNCCD Land for Life Award for the second straight year. The award recognizes excellence and innovation in sustainable land management and provides winners with visibility and support to expand their work.

          li
            h5 40 Organizations That Are Shaking Up the Food System
            p In 2013 FoodTank included Savory Institute among their list of 40 Organizations That Are Shaking Up the Food System. The groups in the list "... are doing invaluable work to change the way we eat, grow, cook, buy, and sell food."

          li
            h5 Sustainia 100
            p Savory Institute has been selected for inclusion in the Sustainia 100 guide, and entered the field of nominees for international 2013 Sustainia Award.

          li
            h5 TED2013 Conference
            p Allan Savory was chosen to present at the TED2013 global conference “The Young. The Wise. The Undiscovered” in the Sustain! category. His presentation was titled “How to green the world’s deserts and reverse climate change.”

          li
            h5 UN Convention to Combat Desertification Land for Life Award
            p Allan Savory was a semi-finalist for the 2012 Land for Life Award. The award recognizes excellence and innovation in sustainable land management and provides winners with visibility and support to expand their work.

          li
            h5 Virgin Earth Challenge
            p The Savory Institute is among a dozen remaining groups nominated for the 2012 Virgin Earth Challenge. Our organization emerged from an extensive review process of over 2,600 submissions.

          li
            h5 Buckminster Fuller Challenge Award
            p The Savory Institute’s sister organization, the Africa Centre for Holistic Management, won the 2010 Buckminster Fuller Challenge Award for the organization working to solve the world’s most pressing problems.

          li
            h5 Banksia International Award
            p In 2003, Allan Savory won this award given to the person doing the most for the environment on a global scale.

          li
            h5 USAID Office of Foreign Disaster Assistance
            p This organization identified Holistic Management as a way to empower people to reverse the Africa-wide cycle of failing surface and ground water, failing land productivity, massive drought, livestock deaths, famine, food aid and destocking.

          li
            h5 TED’s “Ads Worth Spreading”
            p Allan Savory was featured in a video selected as one of TED’s “Ads Worth Spreading” in 2010, based on his ability “to engage in a dialog with [his] audience based on creativity, authenticity, and a shared pursuit of a better future.”

          li
            h5 Keynote Address at United Nations Framework Convention on Climate Change
            p In 2011, Allan Savory gave the keynote address at the United Nations Land Day 4 during the United Nations Framework Convention on Climate Change in Bonn, Germany.



  #annual-report(data-magellan-destination='board-and-advisors')
  section.main.annual-report
    .row
      .small-12.columns
        h2 Annual Report
        ul.icon-list
          li
            a(href='/assets/docs/annual-reports/2013-2014-ar.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Annual Report (2013-2014)
          li
            a(href='/assets/docs/annual-reports/2013-2014-letter.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Letter from our CEO (2013-2014)
          li
            a(href='/assets/docs/annual-reports/2012-ar.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Annual Report (2012)
