block variables
  - title = 'Rotational Grazing - Grasslands of the World'
  - metaDesc = 'The Savory Institue is passionate about rotational grazing. To us, agricultural education is an importantstep to preserving the grasslands of the world. Join our commitment today and learn how Holistic Management can benefit our world.'

extends /layout-institute

block content
  #overview(data-magellan-destination='overview')
  section.overview

  section.half-color
    .art
    .color
    .row
      .medium-6.columns
        h1= 'Savory Institute'

      .medium-6.columns
        p The Savory Institute facilitates the realization of a life of enduring returns for the land and all who depend on it. The Institute is the <a href='#' data-reveal-id='braintrust'>brain trust</a> of the organization. We develop innovative tools and enhanced curricula, inform policy, establish market incentives, increase public awareness, and coordinate relevant research, cultivating relationships with aligned partners.


  section.main.video-overview
    .row
      .medium-6.columns
        .video
          .flex-video.widescreen.youtube
            iframe(src='//www.youtube.com/embed/5LHoh-OKUfU?rel=0&amp;controls=0&amp;showinfo=0')
      .medium-6.columns
        .video
          .flex-video.widescreen.youtube
            iframe(src='//www.youtube.com/embed/vpTHi7O66pI?rel=0&amp;controls=0&amp;showinfo=0')


  #our-strategy(data-magellan-destination='our-strategy')
  section.main.our-strategy
    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Our Strategy
        .medium-9.columns
          p Our strategy is three-fold: We demonstrate our results in diverse contexts; we equip and empower people and share our experiences in learning and achieving success; and we pave the way for a global movement to take off, being an advocate and catalyst of needed change.


    .row
      .small-12.columns
        h3 Demonstrate Success
        p In partnerships with aligned organizations, with the intention of building capacity and proof of concept in key strategic regions, we demonstrate the power of Holistic Management through Special Projects. Currently, we have special projects in the USA, New Zealand, and China, and are beginning work in new regions in 2015. Among our strategic partners we can mention Grasslands LLC, The Nature Conservancy, and Heifer International.
        hr

    .row.share-knowledge
      .medium-2.columns
        img(src='/assets/images/savory-network.svg' alt='Rotational Grazing')

      .medium-10.columns
        .content
          h3 Empower People
          p Through a global network of entrepreneurial innovators and leaders committed to serving their regions with the highest standards of Holistic Management training and implementation support, and incubating contextually relevant, holistic solutions to accelerate the needed shifts in decision making and resource management. In the past 3 years, 30 Hubs have been established and nurtured, and we plan to welcome many more in the years to come.

    .row
      .small-12.columns
        hr
        h3 Facilitate Improved Conditions
        h4 Informing Policy and Programs
        p Policies and development programs concerning grasslands and livestock management in many countries are often flawed – and they are a major reason why desertification is expanding so rapidly around the world. The Savory Institute informs policymakers and stakeholders of the need to shift current agriculture and land management policies and programs.

        h4 Identifying and Establishing Market Incentives
        p The Savory Institute works to identify and establish strategies to create market-based incentives to encourage managing holistically to create environmental, economic and social benefits.

        h4 Monitoring, Curating, and Coordinating Research
        p The Savory Institute coordinates and supports comprehensive social, ecological, and financial monitoring and relevant research. We work in collaboration with organizations, scientists, and academic institutions to collect and conduct research that will increase our understanding of how properly managed livestock in the grasslands of the world and managing holistically contribute to increasing biological diversity, increasing soil carbon, and addressing problems such as drought, poverty, hunger, and social violence.

        h4 Increasing Public Awareness
        p The Savory Institute engages many different audiences to change public perception that livestock itself causes the degradation of grasslands. It is actually the way humans manage livestock that is the culprit. This fundamental shift in thinking must happen to drive needed policy and market shifts. Many different key environmental activists and thought leaders are supporting our efforts to increase public awareness such as TED, HRH Prince of Wales, Deepak Chopra, Ian Somerhalder, Hazel Henderson, Gretel Erlich, and Peter Byck among others.



  #history(data-magellan-destination='history')
  section.main.history
    .image
    .content
      .row
        .small-12.columns
          figure.img-love.show-for-small-only
            img(src='/assets/images/institute/allan-savory.jpg', alt='Allan Savory')
            figcaption Allan Savory in Africa, 2014

          header.overview-header
            .row
              .small-12.columns
                h2.section-title History
                p In the 1960s Zimbabwean wildlife biologist-farmer Allan Savory made a significant breakthrough in understanding what was causing the degradation and desertification of the world’s grassland ecosystems and developed a way to restore the land to health using livestock as his primary tool.
          .row
            .small-12.columns
              p For centuries we believed livestock were a major cause of desertification, but Savory’s research showed that the cause lay in how those livestock were managed. His solution involved mimicking the behavior of the formerly vast herds of wild grazing animals he had witnessed as a young biologist. He devised a simple method any pastoralist can use to move massive amounts of carbon and water from the atmosphere back to the soil and begin reversing thousands of years of human-caused desertification – on the scale required, which no technology imaginable can accomplish. In the process, we can feed more people and enhance societal well-being.
              a.btn-primary(href='https://docs.google.com/forms/d/1m3H1HGPZ5Pk__7BPJPatCN1qyvNbebpmEJ5R5J2dTCw/viewform?usp=send_form', target='_blank')
                i.fa.fa-comment
                | Ask Allan to Speak at Your Event



  section.main
    .row
      .medium-8.medium-centered.columns
        blockquote.section-quote Saving our planet, lifting people out of poverty, advancing economic growth... these are one and the same fight. We must connect the dots between climate change, water scarcity, energy shortages, global health, food security and women's empowerment. Solutions to one problem must be solutions for all.
          footer Ban Ki-moon



  #evidence(data-magellan-destination='evidence')
  section.main.evidence

    .case-studies

      //- zimbabwe
      .case-study-01.hero-slide
        .gradient
        .case-study-content
          .row
            .large-9.medium-8.small-10.end.columns
              img(src='/assets/images/institute/case-studies/case-study-01.svg', alt='Case Study 01')
              p At the 777 Ranch in <strong>South Dakota, USA</strong>, Holistic Management practices are bringing back the native vegetation and wildlife. 28,000 acres house 1,700 bison which rely on the original diversity of flora and fauna to thrive.


            .large-2.medium-3.stats-column.columns
              .stats
                ul(data-orbit='')
                  li
                    figure
                      .number 0<span>%</span>
                      figcaption Soil erosion — it has stopped completely
                  li
                    figure
                      .number 40<span>%</span>
                      figcaption Decrease in space between plants
                  li
                    figure
                      .number 48<span>%</span>
                      figcaption Decrease in less desirable annual grasses
                  li
                    figure
                      .number 77<span>%</span>
                      figcaption Decrease in bare ground

      //- south dakota
      .case-study-02.hero-slide
        .gradient
        .case-study-content
          .row
            .large-9.medium-8.small-10.end.columns
              img(src='/assets/images/institute/case-studies/case-study-02.svg', alt='Case Study 02')
              p In <strong>Victoria Falls, Zimbabwe</strong>, the Africa Center for Holistic Management is a model of sustainable resource management that can be replicated in the region and elsewhere. People working together are steadily making a difference to restore land productivity, diversity of wildlife, and local livelihoods by learning how to manage their natural resources in a regenerative fashion.


            .large-2.medium-3.stats-column.columns
              .stats
                ul(data-orbit='')
                  li
                    figure
                      .number 370<span>%</span>
                      figcaption Increase in forage production
                  li
                    figure
                      .number 440<span>%</span>
                      figcaption Increase in crop yield
                  li
                    figure
                      .number 12<span>%</span>
                      figcaption Increase in perennial grasses
                  li
                    figure
                      .number 31<span>%</span>
                      figcaption Decrease in bare ground


      //- chile
      .case-study-03.hero-slide
        .gradient
        .case-study-content
          .row
            .large-9.medium-8.small-10.end.columns
              img(src='/assets/images/institute/case-studies/case-study-03.svg', alt='Case Study 03')
              p Near <strong>San Gregorio, Chile</strong>, Estancia Nevada is a ranch where sheep are raised for Merino wool. Erosion that was once evident on slopes and dry lagoons is now mostly covered and plant diversity has increased greatly in a very short time.

            .large-2.medium-3.stats-column.columns
              .stats
                ul(data-orbit='')
                  li
                    figure
                      .number 25<span>%</span>
                      figcaption Increase in stocking rate
                  li
                    figure
                      .number 60<span>%</span>
                      figcaption Increase in forage production


    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Evidence
        .medium-9.columns
          p The Savory Institute has compiled and curated a portfolio of peer reviewed papers, articles, white papers, and case studies that represent the scientific evidence of our work.

    .row
      .medium-4.columns
        h5 Papers by Allan Savory
        ul.icon-list
          li
            a(href='/assets/docs/evidence-papers/The_Science_and_Methodolgy_of_Holistic_Planned_Grazing.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | The Science and Methodolgy of Holistic Planned Grazing (Updated 2015)
          li
            a(href='/assets/docs/evidence-papers/science-methodology.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Response to Request for Information on the “science” and “methodology” Underpinning Holistic Management and Holistic Planned Grazing (Updated 2013)
          li
            a(href='/assets/docs/evidence-papers/new-context.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | A New Framework, a New Context by Allan Savory (2012)
          li
            a(href='http://www.un.org/esa/dsd/dsd_sd21st/21_pdf/agriculture_and_food_the_future_of_sustainability_web.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Food and Agriculture: The future of sustainability, by United Nations Department of Economic and Social Affairs, Division for Sustainable Development, Allan Savory contributor (2012)
          li
            a(href='/assets/docs/evidence-papers/brief-overview.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | A Brief Overview of Holistic Management and Holistic Decision Making (2011)
          li
            a(href='/assets/docs/evidence-papers/award.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | The Buckminster Fuller Award and the Afghanistan War (2010)
          li
            a(href='/assets/docs/evidence-papers/climate-change.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | A Global Strategy for Addressing Climate Change (2008)
          li
            a(href='/assets/docs/evidence-papers/holistic-resource-management.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Holistic Resource Management: A Conceptual Framework for Ecologically Sound Economic Modeling (2008)
          li
            a(href='/assets/docs/evidence-papers/good-governance.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Good Governance (2008)
          li
            a(href='/assets/docs/evidence-papers/Allan-Savory-Comment-On-9-11.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Allan Savory Comment On 9-11 (2001)

      .medium-4.columns
        h5 Research by Savory Institute
        ul.icon-list
          li
            a(href='/assets/docs/evidence-papers/RestoringClimateWhitePaper2015.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Restoring Climate White Paper (2015)
          li
            a(href='/assets/docs/evidence-papers/2015-methane.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Methane White Paper (2015)
          li
            a(href='/assets/docs/evidence-papers/2015-climate-a-restoration-story.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Climate - A Restoration Story (2015)
          li
            a(href='/assets/docs/evidence-papers/about-holistic-planned-grazing.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | About Holistic Planned Grazing (2015)
          li
            a(href='/assets/docs/evidence-papers/portfolio-of-findings.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Holistic Management: Portfolio of Scientific Findings (2014)
          li
            a(href='/assets/docs/evidence-papers/holistic-management-overview.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Holistic Management Overview (2013)
          li
            a(href='/assets/docs/evidence-papers/exploration-of-methane.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | An Exploration of Methane and Properly Managed Livestock through Holistic Management (2013)
          li
            a(href='/assets/docs/evidence-papers/restoring-the-climate.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Restoring the Climate Through Capture and Storage of Soil Carbon Through Holistic Planned Grazing (2013)
          li
            a(href='/assets/docs/evidence-papers/framework-for-holistic-management.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Framework for Holistic Management (2012)
          li
            a(href='/assets/docs/evidence-papers/thundering-hooves.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Thundering Hooves — Value-Added Farming (2010)
          li
            a(href='/assets/docs/evidence-papers/thriving-in-drought.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Surviving or Thriving in Drought. In Practice. (2008)

      .medium-4.columns
        h5 Research by Other Holistic Management Experts
        ul.icon-list
          li
            a(href='http://planet-tech.com/blog/talking-points-regarding-savory', target='_blank')
              i.fa.fa-external-link
              | Talking Points Regarding Savory, Seth Itzkan (2013)
          li
            a(href='http://swelterdesigns.com/climate_articles/', target='_blank')
              i.fa.fa-external-link
              | The Fight Against Global Warming: A Failure and A Fix, Adam Sacks (2013)
          li
            a(href='http://www.sciencedirect.com/science/article/pii/S0140196310003460', target='_blank')
              i.fa.fa-external-link
              | Effect of grazing on soil-water content in semiarid rangelands of southeast Idaho, K.T. (Keith) Weber, B.S. Gokhale, <em>Journal of Arid Environments</em> (2011)
          li
            a(href='http://anoptimiststourofthefuture.com/?page_id=1658', target='_blank')
              i.fa.fa-external-link
              | “A little bit of a bloody big amount”, Mark Stevenson, chapter from the book <em>An Optimist’s Tour of the Future</em> (2011)
          li
            a(href='http://www.sciencedirect.com/science/article/pii/S0167880911000934', target='_blank')
              i.fa.fa-external-link
              | Grazing management impacts on vegetation, soil biota and soil chemical, physical and hydrological properties in tall grass prairie, Teague, R. (2011)
          li
            a(href='http://quiviracoalition.org/images/pdfs/2055-Journal35.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Resilience on the Prairie Edge: The 777 Buffalo Ranch (2010)
          li
            a(href='/assets/docs/managing-grass.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Managing Grass, Small Grains, and Cattle (1992)
          li
            a(href='/assets/docs/evidence-papers/doing-what-works.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Doing What Works, Chris Gill, <em>Range Magazine</em> (2009)
          li
            a(href='http://quiviracoalition.org/images/pdfs/225-Newsletter_14.pdf', target='_blank')
              i.fa.fa-file-pdf-o
              | Profile of good stewardship: the Rafter F Cattle Company (2001)




  #our-team(data-magellan-destination='our-team')
  section.main.our-team
    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Our Team
        .medium-9.columns
          p The Savory Institute was co-founded in 2009 by Allan Savory and a small group of experienced Holistic Managers.


    .row
      .small-12.columns
        h3 Staff
        ul.small-block-grid-2.medium-block-grid-4.image-grid
          li
            a(href='/institute/our-team#jody')
              figure
                .plus +
                img(src='/assets/images/institute/jody.jpg')
                figcaption Jody Butterfield
          li
            a(href='/institute/our-team#tre')
              figure.colorado
                .plus +
                img(src='/assets/images/institute/tre.jpg')
                figcaption Tré Cates
          li
            a(href='/institute/our-team#daniela')
              figure.colorado
                .plus +
                img(src='/assets/images/institute/daniela.jpg')
                figcaption Daniela Ibarra-Howell
          li
            a(href='/institute/our-team#chris')
              figure
                .plus +
                img(src='/assets/images/institute/chris.jpg')
                figcaption Chris Kerston
          li
            a(href='/institute/our-team#sarah')
              figure
                .plus +
                img(src='/assets/images/institute/sarah.jpg')
                figcaption Sarah Gleason
          li
            a(href='/institute/our-team#andrea')
              figure
                .plus +
                img(src='/assets/images/institute/andrea.jpg')
                figcaption Andrea Malmberg
          li
            a(href='/institute/our-team#candice')
              figure
                .plus +
                img(src='/assets/images/institute/candice.jpg')
                figcaption Candice Newmyer
          li
            a(href='/institute/our-team#allan')
              figure
                .plus +
                img(src='/assets/images/institute/allan.jpg')
                figcaption Allan Savory
          li
            a(href='/institute/our-team#byron')
              figure
                .plus +
                img(src='/assets/images/institute/byron.jpg')
                figcaption Byron Shelton




    .row
      .small-12.columns
        hr
        h3 Board Members
        ul.small-block-grid-2.medium-block-grid-5.image-grid
          li
            a(href='/institute/our-team#jody')
              figure
                .plus +
                img(src='/assets/images/institute/jody.jpg')
                figcaption Jody Butterfield
          li
            a(href='/institute/our-team#john')
              figure
                .plus +
                img(src='/assets/images/institute/john.jpg')
                figcaption John Fullterton
          li
            a(href='/institute/our-team#daniela')
              figure
                .plus +
                img(src='/assets/images/institute/daniela.jpg')
                figcaption Daniela Ibarra-Howell
          li
            a(href='/institute/our-team#larry')
              figure
                .plus +
                img(src='/assets/images/institute/larry.jpg')
                figcaption Larry Lunt
          li
            a(href='/institute/our-team#allan')
              figure
                .plus +
                img(src='/assets/images/institute/allan.jpg')
                figcaption Allan Savory

  #annual-report(data-magellan-destination='annual-report')
  section.main.annual-report
    .image
    .content
      header.overview-header
        .row
          .small-12.columns
            h2.section-title Annual Report

      .row
        .small-12.columns
          ul.icon-list
            li
              a(href='/assets/docs/annual-reports/2013-2014-ar.pdf', target='_blank')
                i.fa.fa-file-pdf-o
                | Annual Report (2013-2014)
            li
              a(href='/assets/docs/annual-reports/2013-2014-letter.pdf', target='_blank')
                i.fa.fa-file-pdf-o
                | Letter from our CEO (2013-2014)
            li
              a(href='/assets/docs/annual-reports/2012-ar.pdf', target='_blank')
                i.fa.fa-file-pdf-o
                | Annual Report (2012)


  #careers(data-magellan-destination='careers')
  section.main.careers
    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Careers
        .medium-9.columns
          p The Savory Institute welcomes resumés and CVs from professionals in the communications, land management, and livestock management fields. We are a diverse and dedicated group of people spread out across the globe but headquartered in Boulder, Colorado.

    .row
      .small-12.columns
        h4 Current openings:
        ul.plus
          if careers.length
            each career in careers
              li
                a(href='/institute/jobs/'+career.id)=career.getStructuredText('careers.title').asText()
          else
            li Sorry, right now we have no openings. Please check back at a later date, this is updated as needed.



  //- braintrust modal
  #braintrust.reveal-modal.small(data-reveal='')
    h2 brain trust
    p
      em noun
    p A group of official or unofficial advisers concerned especially with planning and strategy; a group of people who give advice to a leader about what should be done
    a.close-reveal-modal
      i.fa.fa-close
