block variables
  - title = 'Our Team'

extends /layout

block content

  section.main
    .row
      .small-12.columns
        h1 Our Team
        hr

        dl.our-team-subnav
          dt Staff:
          dd: a(href='#jody') Jody Butterfield
          dd: a(href='#tre') Tré Cates
          dd: a(href='#daniela') Daniela Ibarra-Howell
          dd: a(href='#chris') Chris Kerston
          dd: a(href='#sarah') Sarah Gleason
          dd: a(href='#andrea') Andrea Malmburg
          dd: a(href='#candice') Candice Newmyer
          dd: a(href='#allan') Allan Savory
          dd: a(href='#byron') Byron Shelton

        dl.our-team-subnav
          dt Board Members:
          dd: a(href='#jody') Jody Butterfield
          dd: a(href='#john') John Fullerton
          dd: a(href='#daniela') Daniela Ibarra-Howell
          dd: a(href='#larry') Larry Lunt
          dd: a(href='#allan') Allan Savory


  #jody
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/jody.jpg')

      .medium-8.columns
        h2 Jody Butterfield
        h3 Director of Special Projects
        .company-position
          span.label.radius Staff
          span.label.radius Board
        p Jody is a Savory Institute co-founder who has worked over the last 30 years to communicate the story of Holistic Management, initially as a free-lance writer and then as a collaborator with husband Allan Savory on books, articles and papers, including the basic texts still in use today – Holistic Management:  A New Decision Making Framework (1999) and the Holistic Management Handbook: Healthy Land, Healthy Profits (2006).  In 1984 she co-founded, with Allan, the Center for Holistic Management (later renamed Holistic Management International) and over the following two decades served in a variety of positions, including Publications Director, Training Programs Director, and Research Coordinator.  In 1992 she and Allan co-founded the Africa Centre for Holistic Management in Victoria Falls, Zimbabwe.

        p Shortly after the launch of the <a href="">Savory Institute</a> in 2009, Jody landed the opportunity to fulfill a decades’ long dream to bring holistic management to pastoral communities in Africa with a multi-year grant from the US Agency for International Development.  Working with the dedicated staff of the Africa Centre for Holistic Management (ACHM) and training professionals, she developed methods and materials for introducing communities to Holistic Land & Livestock Management – a curriculum specific to communal land situations where livestock are herded. ACHM has since trained over 100 community facilitators from Southern Africa who are proving increasingly successful at empowering communities to restore their land through Holistic Planned Grazing. In 2014, in collaboration with her Savory Institute colleagues, Jody adapted the Holistic Land & Livestock Management curriculum for online presentation to the worldwide Savory Hub community.

        p In 2015 she took on the role of Special Projects Director, working with partnering organizations to build capacity and proof of concept in key strategic regions where the power of Holistic Management has not yet been demonstrated.

        p Jody was born in Salt Lake City, Utah. She received a BA in Journalism and an MA in American Studies from the University of Utah following a year of classwork, writing and lecturing at the Polytechnic of Central London. From 1975–1983 she worked as a freelance writer, editor and photographer, based in The Netherlands, Washington, DC, and Albuquerque, New Mexico, where she met Allan in 1979.


  #tre
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/tre.jpg')

      .medium-8.columns
        h2 Tré Cates
        h3 COO/CFO
        .company-position
          span.label.radius Staff
        p Tré is a proven leader, innovator and social entrepreneur. Motivating and understanding people have proven to be indispensable while defining, developing, and communicating an organization’s vision for the future. His ability to create and lead high performing organizations is foundational to his success.
        p After graduating from Ouachita Baptist University in 1993, he focused his efforts in creating and growing faith-based community organizations. He also has served on the board of over 6 different non-profits during his professional career. After moving to Colorado in 1996, he fined tuned his skills as an entrepreneur through founding a technology company in 1997 and leading the organization's growth to annual revenues of $36+ million, 100+ employees, and a publicly-traded company. His company was recognized two times as one of the fastest growing companies in the US on the INC 500/5000 list and won several top company awards in the state of Colorado.
        p He has received multiple awards including Entrepreneur of Distinction in Boulder, CO and two-time semi-finalist of Ernst & Young Entrepreneur of the Year. He is active in his community by serving on the board of several companies including multiple non-profits. Tré has a BA in Philosophy from Ouachita Baptist University and a MA in Theology from Southwestern seminary.


  #john
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/john.jpg')

      .medium-8.columns
        h2 John Fullerton
        h3 Founder and President, Capital Institute
        .company-position
          span.label.radius Board
        p John is the Founder and President of Capital Institute, a collaborative space working to transform finance to serve a more just, regenerative, and sustainable economic system. Through the work of Capital Institute, regular public speaking engagements, and university lectures, John has become a recognized thought leader in the New Economy space generally, and the financial system transformation challenge in particular.


  #daniela
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/daniela.jpg')

      .medium-8.columns
        h2 Daniela Ibarra-Howell
        .company-position.right
          span.label.radius Staff
          span.label.radius Board
        h3 CEO and Co-Founder
        p A native Argentinean, born and raised in Buenos Aires, Daniela is an agronomist by profession and holds a MS in Natural Resource Management and Economics. With over 25 years of international experience in ranching, Holistic Management, and collaborative ecosystem restoration programs, Daniela co founded with Allan Savory and other colleagues the <a href="http://savory.global/">Savory Institute</a> in 2009, and became its CEO in 2011. Since then she has led her team in the design and implementation of a revolutionary entrepreneurial, self-sustaining <a href="http://savory.global/network">global impact strategy</a> for large-scale restoration of grasslands through Holistic Management to tackle global food and water security, and climate change issues.
        p She has served as an advisor to sustainability initiatives such as UN Global Compact, UN Rio+20 informal-informals, Solidaridad’s Farmers Support Program (FSP), Global Roundtable for Sustainable Beef (GRSB), Sustainable Food Lab, Sustainable Agriculture Network (SAN), and others.
        p She holds executive degrees in Advanced Negotiation and Conflict Resolution from University Notre Dame.
        p Before her involvement with the Savory Institute, Daniela co-founded Del Cerro LLC, a land management and consulting firm and served as its Director for seventeen years. During that time she co managed the family’s 9,000-acre ranch in western Colorado, increasing its productivity by 300%. In the off-season she and her husband led educational ranch tours around the world.
        p All along she worked closely with Allan Savory, teaching and consulting in many continents, having completed training in Holistic Management with Savory himself in 1996, when she became a certified educator.
        p Earlier in her career she served as a Resource Policy Analyst for the Argentine Ministry of Agriculture, the Under-secretariat Environmental Policy, and the National Commission for Desertification in Patagonia (CONADEPA); and served as a consultant to the Inter American Institute for Cooperation in Agriculture (IICA), and the UN on agricultural and land restoration policies.
        p An advocate of entrepreneurial approaches to tackle global problems, she is a co-founder and member of Holistic Holdings International Inc. and Grasslands LLC.
        p An avid traveler, Daniela enjoys exploring with her family the world’s cultures and countryside. Additionally she loves to follow her two daughters in their horse jumping, ballet, and gymnastics performances.

  #chris
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/chris.jpg')

      .medium-8.columns
        h2 Chris Kerston
        h3 Director of Events and Public Outreach
        .company-position
          span.label.radius Staff
        p Chris Kerston has been grazing cattle for over a decade. With a longstanding passion for alternative agricultural models, Chris has dedicated much of his life to helping connect ranchers with consumers in ways that create real value for both parties. With formal training and instinctive talent, Chris utilizes social media in concert with traditional marketing techniques to help ranchers share their stories and build long lasting relationships with partners based upon common goals.
        p For 6 years Chris co-managed a 2,000 acre diversified farm based on holistic grazing and permaculture in the Sacramento Valley. The farm is comprised of old growth olive orchards, heirloom stonefruits and citrus groves, and also raises grassfed cattle, sheep, goats, and pasture-raised chickens for both meat and eggs. Through creative positioning, the farm quickly attracted national notoriety and the attention from public figures such as Joel Salatin and Michael Pollan. Chris has also been recognized as a leader in the emerging agri-tourism market and he facilitated a partnership with a European-based hospitality company and the farm he managed. The resulting farmstays provided urban dwellers a recreational, but also educational, outlet to see first-hand how food could be produced in abundance outside the realm of conventional industrial systems.
        p Chris has become a recognized public speaker championing for stronger connections between grower and eater and providing training to help build those connections. He has been on the forefront of the collaborative process with state and federal regulators, advocating for the recognition of alternative agricultural models as well as the consumers' right to access healthy local foods. Chris is also very enthusiastic about developing opportunities for young ranchers. Fostering creative solutions to removing barriers of available land and capital will ultimately help cultivate the next generation of holistic land stewards.

  #sarah
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/sarah.jpg')

      .medium-8.columns
        h2 Sarah Gleason
        h3 Director of Marketing and Communications
        .company-position
          span.label.radius Staff
        p Sarah is an award-winning, mission-based marketer who is passionate about developing strategic communication plans that engage audiences and motivate them to action. She has a proven track record in successful results-oriented business development, marketing, and fundraising.

        p Sarah grew up in Colorado, learning to ski, cycle, run, river raft and backpack the mountains of her colorful home state.  She competed as a Division I swimmer in college and began her career in Washington, DC working for congress and an environmental non-profit.  It was only a matter of time before the bountiful opportunities and life work-balance of Colorado brought Sarah back home.  As part of the Marketing Department of Whole Foods Market, she successfully increased year over year sales through strategic marketing, event planning & public relations while coordinating over $100,000 in charitable giving to local non-profits.  She passionately implemented innovative story-telling to promote local farmers, ranchers and producers in the Rocky Mountain Region.

        p Her work at the Savory Institute is the perfect combination of her skills in marketing and communications and her passion for agriculture, land management, socio-economic concerns and environmental issues. When she’s not out trying to change the world, Sarah is spending time with her husband, 2 dogs, cat, and small flock of chickens.


  #larry
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/larry.jpg')

      .medium-8.columns
        h2 Larry Lunt
        h3 Armonia, LLC
        .company-position
          span.label.radius Board
        p Lawrence (Larry) Lunt is a private investor from Belgium who manages Armonia, his family office in Greenwich, CT, focusing 100 on triple bottom line investments with a balanced emphasis on people, planet and profit. Armonia seeded TBL Capital, a venture fund focusing on social enterprises in the US.
        p Larry is a Director of his family private equity group, Artal, which invests through its advisor, the Invus Group.
        p Prior to moving to the US in 1997, Larry was active in venture capital in Europe where he developed the Lino group focusing on retail outlets.
        p Larry has been actively engaged in various education projects internationally, including Up With People and World Campus International, and locally, including Whitby Montessori School and Convent of Sacred Heart of Greenwich, where he founded the Barat Foundation, the mission of which is to educate students in philanthropy. He is also involved with Ashoka (which promotes the world’s leading social entrepreneurs), which he helped launch in Belgium. Larry also has a strong interest in the preservation of the Arctic where he has participated in several expeditions. He is a member of the NRDC Global Leadership Council and of the International Polar Foundation in Brussels.
        p Larry graduated in Economics from Louvain University in Belgium and received his MBA from Sophia University in Tokyo, Japan.

  #andrea
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/andrea.jpg')

      .medium-8.columns
        h2 Andrea Malmberg
        h3 Director of Research and Knowledge Management
        .company-position
          span.label.radius Staff
        p Andrea Malmberg is the Director of Research and Knowledge Management at the Savory Institute, a global network restoring the grasslands of the world. She was raised on the land with livestock and real food in the western United States and has run profitable land-based businesses for over fifteen years. She holds a Bachelor of Science in Agriculture and a Master of Science in Natural Resources from Washington State University as well as a Masters of Applied Positive Psychology from the University of Pennsylvania. After completing her studies in Zimbabwe and Argentina in 2007, Andrea became an Accredited Field Professional in Holistic Management. Over the last twenty years and in many different capacities, Andrea has facilitated researchers and citizens in gathering data and interpreting and understanding ecological, financial, and psycho-sociological phenomena so that they can make sound ecological, economic, and quality of life decisions.

  #candice
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/candice.jpg')

      .medium-8.columns
        h2 Candice Newmyer
        h3 Executive Assistant
        .company-position
          span.label.radius Staff
        p Candice grew up on the shores of Central California, but fell in love with the mountains and rivers of Idaho over a decade ago. It was this love of the mountain lifestyle, in combination with a desire to live in an entrepreneurial and socially-conscious environment, that lead her to Boulder, Colorado.
        p Candice holds a Bachelors of Science in Aquatic Biology from University of California Santa Barbara.  She has worked and lived in Honduras and Costa Rica during various points of her life, teaching life science, sea turtle conservation, and taking students on unforgettable adventures such as rafting the class IV river, the Rio Pacuare. Her career has been as meandering as the river she loves, including managing an internationally renowned food and wine festival, working in biotechnology, and being an advocate for victims of domestic violence.
        p She has been very fortunate to travel all over the world, surfing, scuba-diving, skiing, and eating anything new and exotic. She is extremely passionate about food chain, socio-economic and environmental issues and is excited to be working for an organization that is far reaching and has such an amazing global impact at so many different levels.


  #allan
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/allan.jpg')

      .medium-8.columns
        h2 Allan Savory
        h3 Founder and President
        .company-position
          span.label.radius Staff
          span.label.radius Board

        p Allan Savory, born in Zimbabwe and educated in South Africa (University of Natal, BS in Zoology and Botany) pursued an early career as a research biologist and game ranger in the British Colonial Service of what was then Northern Rhodesia (today Zambia) and later as a farmer and game rancher in Zimbabwe.
        p In the 1960s he made a significant breakthrough in understanding what was causing the degradation and desertification of the world’s grassland ecosystems and, as a resource management consultant, worked with numerous managers on four continents to develop sustainable solutions.
        p He served as a Member of Parliament in the latter days of Zimbabwe’s civil war and became the leader of the opposition to the ruling party headed by Ian Smith. Exiled in 1979 as a result of his opposition, he immigrated to the United States, where he continued to work with land managers through his consulting business. The growth of that business, a desire to assist many more people and the need for furthering his work led him to continue its development in the nonprofit world. In 1992 Savory and his wife, Jody Butterfield, formed a non-profit organization in Zimbabwe, the <a href="http://www.africacentreforholisticmanagement.org/">Africa Centre for Holistic Management</a>, donating a ranch that would serve as a learning site for people all over Africa. In 2009Savory, Butterfield, and a group of colleagues co-founded the <a href="http://savory.global/">Savory Institute</a> in Boulder, Colorado to serve the world through an international network of entrepreneurial innovators and leaders committed to serving their regions with the highest standards of Holistic Management training and implementation support. The Africa Centre became the first of the Savory Institute’s locally led and managed “hubs.”
        p Savory’s book, <a href="http://www.amazon.com/Holistic-Management-Framework-Decision-Making/dp/155963488X/ref=sr_1_3?ie=UTF8&qid=1399854843&sr=8-3&keywords=allan+savory">Holistic Management: A New Framework for Decision-Making</a> (Island Press, 1999), describes his effort to find workable solutions ordinary people could implement to overcome many of the problems besetting communities and businesses today. 
        p In 2003, Allan Savory received Australia’s International Banksia Award “for the person or organization doing the most for the environment on a global scale,” and in 2010 Savory (and the Africa Centre) received the Buckminster Fuller Institute’s Challenge award for work that has “significant potential to solve humanity’s most pressing problems.” A TED talk Savory gave in 2013 has received <a href="https://www.ted.com/talks/allan_savory_how_to_green_the_world_s_deserts_and_reverse_climate_change?language=en">over 3.4 million views</a> and in 2014 was voted one of the 50 most intriguing TED talks of all time. The Savory Institute is one of 11 finalists in the Virgin Earth Challenge, a $25 million initiative for the successful commercialization of ways of taking greenhouse gases out of the atmosphere and keeping them out with no countervailing impacts.

  #byron
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/byron.jpg')

      .medium-8.columns
        h2 Byron Shelton
        h3 Senior Program Director
        .company-position
          span.label.radius Staff
        p Byron Shelton is the founder and managing member of Landmark Decisions, LLC providing facilitation and training in whole farm planning using Holistic Management™ decision-making, financial planning, ecosystem processes management, grazing planning, biological monitoring, land planning, policy analysis and development processes, and low stress animal handling in agricultural, natural resource, business, family, and community settings. He is a Savory Institute Professional Educator/Field Professional. He has worked with large and small beef and dairy operations across the US and in Europe as well as with a wide range of other livestock and crop enterprises.
        p Byron is the founder and managing member of Landmark Harvest, LLC producing and marketing primarily 100 grass-fed and grass-finished, land-improving, beyond-organic beef. He has managed organic and non-organic ranches and farms in Colorado, New Mexico, and Virginia. Grass-based enterprises included cattle, veal, bison, sheep, hog, broiler, layer, and turkey. Other enterprises included orchard, market garden, draft show horse, hay, guest ranch, horseback riding, and adventure youth/family camp enterprises.
        p Byron has served as a founding Board Member of the Central Colorado Food Shed Alliance, Faculty Innovator Coordinator in Instructional Technology for Colorado Mountain College, Adjunct Instructor of Agriculture/Natural Resource Economics at Colorado Mountain College, Career/job Skills Instructor for the Colorado Correctional Alternative Program, President and Board Member of the Colorado Branch of Holistic Management, Independent Construction Contractor, and as a High School Vocational Agriculture Instructor and FFA and Young Farmer Advisor in Colorado.



