block variables
  - title = 'Our Team'

extends /layout-institute

block content
  
  section.main
    .row
      .small-12.columns
        h1 Our Team
        hr
  
        dl.our-team-subnav
          dt Staff:
          dd
            a(href='#allan') Allan Savory 
          dd
            a(href='#daniela') Daniela Ibarra-Howell 
          dd
            a(href='#tre') Tré Cates 
          dd
            a(href='#andrea') Andrea Malmburg 
          dd
            a(href='#byron') Byron Shelton 
          dd
            a(href='#chris') Chris Kerston 
          dd
            a(href='#jody') Jody Butterfield 
  
        dl.our-team-subnav
          dt Board Members:
          dd
            a(href='#jody') Jody Butterfield 
          dd
            a(href='#john') John Fullerton 
          dd
            a(href='#daniela') Daniela Ibarra-Howell 
          dd
            a(href='#larry') Larry Lunt 
          dd
            a(href='#suzanne') Suzanne Probart 
  
        dl.our-team-subnav
          dt Advisors:
          dd
            a(href='#jim') Jim Howell 
          dd
            a(href='#tony') Tony Malmberg 
          dd
            a(href='#shannon') Shannon Horst 
          dd
            a(href='#zachary') Zachary Jones 
  
  
  
  #jody
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/jody.jpg')
  
      .medium-8.columns
        h2 Jody Butterfield
        h3 Southern Africa Programs Director
        .company-position
          span.label.radius Staff
          span.label.radius Board
        p Jody is a Savory Institute co-founder who has served as Southern Africa Programs Director since 2009 and is based half the year in Zimbabwe. The position has enabled her to fulfill a decades’ long dream to bring holistic management to pastoral communities in Zimbabwe. Working with the dedicated staff of the Africa Centre for Holistic Management (ACHM) at Victoria Falls, they developed methods and materials for introducing the communities neighboring ACHM’s learning center and demonstration site to what has become known as Holistic Land and Livestock Management — a curriculum specific to communal lands situations and where livestock are herded.
        p In 2010 Jody was successful in securing a 3-year USAID grant to develop a training program for community facilitators from NGOs and government ministries in the Southern African Region that would extend Holistic Land and Livestock Management knowledge and skills to hundreds of thousands of communal farmers subsisting on rapidly deteriorating land. Over 100 facilitators have since been trained and are proving increasingly successful at empowering communities to restore their land through holistic planned grazing. ACHM continues to improve and grow the program. Jody is collaborating with her Savory Institute colleagues to adapt the Holistic Land and Livestock Management curriculum for online presentation to the world-wide Savory Hub community so that communal farmers anywhere can benefit from the principles and processes developed at ACHM and tested in hundreds of communities.
        p From 1975–1983 Jody worked as a freelance writer, editor and photographer, based in The Netherlands, Washington, DC, and Albuquerque, New Mexico, where she met her husband Allan Savory in 1979. In 1984, she and Allan co-founded the Center for Holistic Management in Albuquerque, and in the following two decades Jody served in a variety of positions at the Center, including Publications Director, Research Coordinator, and Training Programs Director. During this period Jody authored, co-authored with Allan, and edited numerous books, articles and papers related to holistic management, including the basic texts still in use today — <em>Holistic Management: A New Decision Making Framework</em> <small>(Island Press, 1999)</small> and the <em>Holistic Management Handbook: Healthy Land, Healthy Profits</em> <small>(Island Press, 2006)</small>.
        p Jody was born in Salt Lake City, Utah. She received a BA in Journalism and an MA in American Studies from the University of Utah following a year of classwork, writing and lecturing at the Polytechnic of Central London.
  
  
  #tre
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/tre.jpg')
  
      .medium-8.columns
        h2 Tré Cates
        h3 COO/CFO
        .company-position
          span.label.radius Staff
        p Tré is a proven leader, innovator and social entrepreneur. Motivating and understanding people have proven to be indispensable while defining, developing, and communicating an organization’s vision for the future. His ability to create and lead high performing organizations is foundational to his success.
        p After graduating from Ouachita Baptist University in 1993, he founded two faith-based non-profits, growing these organizations to memberships of 100+ people. After moving to Colorado in 1996, he founded a technology sales company in 1997. As the COO/CFO, he facilitated the growth of this organization to annual revenues of $36 million+, 100+ employees, and a publicly-traded company with offices in four states and sales internationally. His company was recognized two times as one of the fastest growing companies in the US on the INC 500/5000 list and won several top company awards in the state of Colorado.
        p He has received multiple awards including Entrepreneur of Distinction in Boulder, CO and two-time semi-finalist of Ernst & Young Entrepreneur of the Year. He is active in his community by serving on the board of several companies including multiple non-profits. Tré has a BA in Philosophy from Ouachita Baptist University and a MA in Theology from Southwestern seminary.
  
  
  #john
  section.main
    .row
      .medium-4.columns
        img(src='//placehold.it/500x500')
  
      .medium-8.columns
        h2 John Fullerton
        h3 Founder and President, Capital Institute
        .company-position
          span.label.radius Board
        p John is the Founder and President of Capital Institute, a collaborative space working to transform finance to serve a more just, regenerative, and sustainable economic system. Through the work of Capital Institute, regular public speaking engagements, and university lectures, John has become a recognized thought leader in the New Economy space generally, and the financial system transformation challenge in particular.
  
  #jim
  section.main
    .row
      .medium-4.columns
        img(src='//placehold.it/500x500')
  
      .medium-8.columns
        h2 Jim Howell
        h3 CEO Grasslands LLC, Co-Founder
        .company-position
          span.label.radius Advisor
        p Jim Howell was raised both in California and Colorado, where his family has ranched since the late 1800's. He graduated summa cum laude with a B.S. in Animal Science from Cal Poly Pomona, completing his final year as a foreign exchange student at Lincoln University in New Zealand in 1991. Right out of college, Jim cowboyed on a large diversified ranching operation in western Colorado, then managed a 1000-cow pasture-based dairy in east Texas. From 1994-96, he co-managed (with wife Daniela) the 34,000 acre High Lonesome Ranch (a former learning site of Holistic Management International) in the Chihuahua Desert of southwestern New Mexico.
        p After traveling extensively in Africa in 1996, Jim and Daniela settled on Jim’s family’s ranch in high altitude southwestern Colorado, near Cimarron. Their primary enterprises include custom cattle grazing, big game guiding and outfitting, small scale sustainable forestry, and educational seminars, both on the family ranch and adjacent leased ranches. Jim and Daniela also lead educational trips to ecologically and economically vibrant, creatively managed ranches in Argentina, Australia, Zimbabwe, South Africa, and New Zealand.
        p Jim helps bring holistic management decision making and planning to ranching clients across the American West. He is a frequent speaker at grazing, land, water, and holistic management conferences. His growing expertise is in the analysis of the economic and ecological viability of large, forage-based livestock production models and he now leads the Savory Institute’s land management arm, Grasslands, LLC.
        p He has published one book, <a href='http://www.amazon.com/Love-Land-Studies-Grazing-Natures/dp/143921610X/ref=sr_1_1?ie=UTF8&qid=1248705709&sr=8-1', target='_blank'><em>For the Love of Land—Global Case Studies of Grazing in Nature’s Image</em></a>.
        p Jim and Daniela have two young daughters—Savanna and Mia.
    
  #daniela
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/daniela.jpg')
  
      .medium-8.columns
        h2 Daniela Ibarra-Howell
        .company-position.right
          span.label.radius Staff
          span.label.radius Board
        h3 CEO and Co-Founder
        p Daniela co-founded the Savory Institute and became its CEO in 2011, bringing over 20 years of experience working on desertification and land degradation issues.
        p Daniela has practiced and taught Holistic Management to successfully heal grasslands and meet economic and social goals in many different regions of the world, including the US, Argentina, Mexico, and New Zealand. She has worked with pastoralists and agricultural communities in Southeast Asia, South America, Southern and Eastern Africa and Europe.
        p One of Daniela’s strengths is bringing people together to build collaborative efforts. She’s managed teams that included federal and state public agencies, environmental groups, citizens, ranchers, academics and other sectors.  She has also worked extensively with the government in Argentina on the economic impacts of desertification and land degradation, including the Undersecretariat of Environmental Policy, the Argentine Secretariat of Agriculture and the National Commission of Desertification in Patagonia.
        p Daniela worked for her firm Del Cerro L.L.C, a land management and international consulting and education business, for 14 years. She and her husband own Del Cerro Ranch in western Colorado, which has been managed holistically for nearly 20 years.
        p Daniela was born and raised in Buenos Aires, Argentina. She studied Agricultural Sciences at the University of Buenos Aires specializing in desertification control and agricultural economics. She has a Masters Degree in Natural Resource Management and Economics from Lincoln University in Canterbury, New Zealand. She completed training in Holistic Management with Allan Savory in 1996, when she became a certified educator. She holds executive degrees in Advanced Negotiation and Conflict Resolution from University of Notre Dame.
        p Daniela is married and has two young daughters, Savanna and Mia.
  
  #chris
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/chris.jpg')
  
      .medium-8.columns
        h2 Chris Kerson
        h3 Director of Marketing and Communication
        .company-position
          span.label.radius Staff
        p Chris Kerston has been grazing cattle for over a decade. With a longstanding passion for alternative agricultural models, Chris has dedicated much of his life to helping connect ranchers with consumers in ways that create real value for both parties. With formal training and instinctive talent, Chris utilizes social media in concert with traditional marketing techniques to help ranchers share their stories and build long lasting relationships with partners based upon common goals.
        p For 6 years Chris co-managed a 2,000 acre diversified farm based on holistic grazing and permaculture in the Sacramento Valley. The farm is comprised of old growth olive orchards, heirloom stonefruits and citrus groves, and also raises grassfed cattle, sheep, goats, and pasture-raised chickens for both meat and eggs. Through creative positioning, the farm quickly attracted national notoriety and the attention from public figures such as Joel Salatin and Michael Pollan. Chris has also been recognized as a leader in the emerging agri-tourism market and he facilitated a partnership with a European-based hospitality company and the farm he managed. The resulting farmstays provided urban dwellers a recreational, but also educational, outlet to see first-hand how food could be produced in abundance outside the realm of conventional industrial systems.
        p Chris has become a recognized public speaker championing for stronger connections between grower and eater and providing training to help build those connections. He has been on the forefront of the collaborative process with state and federal regulators, advocating for the recognition of alternative agricultural models as well as the consumers' right to access healthy local foods. Chris is also very enthusiastic about developing opportunities for young ranchers. Fostering creative solutions to removing barriers of available land and capital will ultimately help cultivate the next generation of holistic land stewards.
  
  #larry
  section.main
    .row
      .medium-4.columns
        img(src='//placehold.it/500x500')
  
      .medium-8.columns
        h2 Larry Lunt
        h3 Armonia, LLC
        .company-position
          span.label.radius Board
        p Lawrence (Larry) Lunt is a private investor from Belgium who manages Armonia, his family office in Greenwich, CT, focusing 100 on triple bottom line investments with a balanced emphasis on people, planet and profit. Armonia seeded TBL Capital, a venture fund focusing on social enterprises in the US.
        p Larry is a Director of his family private equity group, Artal, which invests through its advisor, the Invus Group.
        p Prior to moving to the US in 1997, Larry was active in venture capital in Europe where he developed the Lino group focusing on retail outlets.
        p Larry has been actively engaged in various education projects internationally, including Up With People and World Campus International, and locally, including Whitby Montessori School and Convent of Sacred Heart of Greenwich, where he founded the Barat Foundation, the mission of which is to educate students in philanthropy. He is also involved with Ashoka (which promotes the world’s leading social entrepreneurs), which he helped launch in Belgium. Larry also has a strong interest in the preservation of the Arctic where he has participated in several expeditions. He is a member of the NRDC Global Leadership Council and of the International Polar Foundation in Brussels.
        p Larry graduated in Economics from Louvain University in Belgium and received his MBA from Sophia University in Tokyo, Japan.
  
  #andrea
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/andrea.jpg')
  
      .medium-8.columns
        h2 Andrea Malmberg
        h3 Director of Research and Knowledge Management
        .company-position
          span.label.radius Staff
        p Andrea Malmberg is the Director of Research and Knowledge Management at the Savory Institute, a global network restoring the grasslands of the world. She was raised on the land with livestock and real food in the western United States and has run profitable land-based businesses for over fifteen years. She holds a Bachelor of Science in Agriculture and a Master of Science in Natural Resources from Washington State University as well as a Masters of Applied Positive Psychology from the University of Pennsylvania. After completing her studies in Zimbabwe and Argentina in 2007, Andrea became an Accredited Field Professional in Holistic Management. Over the last twenty years and in many different capacities, Andrea has facilitated researchers and citizens in gathering data and interpreting and understanding ecological, financial, and psycho-sociological phenomena so that they can make sound ecological, economic, and quality of life decisions.
  
  #suzanne
  section.main
    .row
      .medium-4.columns
        img(src='//placehold.it/500x500')
  
      .medium-8.columns
        h2 Suzanne Probart
        h3 Executive Director, Tree New Mexico
        .company-position
          span.label.radius Board
        p Suzanne serves as the executive director of Tree New Mexico and has guided Tree New Mexico into a nationally recognized and commended environmental tree planting and education organization. She currently serves as a founding board member of the Alliance for Community Trees, the New Mexico Tree Planting Advisory Committee, the Savory Institute, and the New Mexico Urban Forest Council. Suzanne also helped Navajo agencies and government officials establish Navajo Nation Arbor Day, and assist other communities in earning their Tree City USA designation.
  
  #allan
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/allan.jpg')
  
      .medium-8.columns
        h2 Allan Savory
        h3 Founder and President
        .company-position
          span.label.radius Staff
          span.label.radius Board
        p Allan was born in Rhodesia, southern Africa. He pursued an early career as a research biologist and Game Ranger in the British Colonial Service of what was then Northern Rhodesia (today Zambia), and later as a farmer, game rancher, politician and international consultant, based in Southern Rhodesia (today Zimbabwe). In the 1960's, while working on the interrelated problems of increasing poverty and disappearing wildlife, he made a significant breakthrough in understanding what was causing the degradation and desertification of the world’s grassland ecosystems. He went on to work, as a resource management consultant, with numerous managers, eventually on four continents, to develop sustainable solutions.
        p His early results in reversing land degradation in a manner that made, rather than cost, money were impressive. But, as he often states, his failures were equally impressive! Finally, in the mid 1980’s the last of some key missing pieces fell into place. Since then thousands of land, livestock and wildlife managers have been able to demonstrate consistent results following the methodology he called “holistic management.”
        p Savory served as a Member of Parliament in the latter days of Zimbabwe’s civil war and leader of the opposition to the ruling party headed by Ian Smith. Exiled in 1979, as a result of his opposition, he emigrated to the United States where he co-founded the non-profit organization Holistic Management International with his wife, Jody Butterfield. In 1992 they formed a second non-profit (social welfare) organization near Victoria Falls, Zimbabwe, the Africa Centre for Holistic Management, donating a ranch that would serve as a learning site for people all over Africa. Savory and the five local Chiefs are permanent Trustees of the Africa Centre. Savory and his wife divide their time between Zimbabwe and New Mexico.
        p In 2003, Savory was awarded the Banksia International Award for the person or organization doing the most for the environment on a global scale. His current work in Africa is receiving much praise and recognition and the Africa Centre for Holistic Management was announced the winner of the 2010 Buckminster Fuller Award for the organization working to solve the world’s most pressing problems.
  
  #byron
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/institute/byron.jpg')
  
      .medium-8.columns
        h2 Byron Shelton
        h3 Senior Program Director
        .company-position
          span.label.radius Staff
        p Byron Shelton is the founder and managing member of Landmark Decisions, LLC providing facilitation and training in whole farm planning using Holistic Management™ decision-making, financial planning, ecosystem processes management, grazing planning, biological monitoring, land planning, policy analysis and development processes, and low stress animal handling in agricultural, natural resource, business, family, and community settings. He is a Savory Institute Professional Educator/Field Professional. He has worked with large and small beef and dairy operations across the US and in Europe as well as with a wide range of other livestock and crop enterprises.
        p Byron is the founder and managing member of Landmark Harvest, LLC producing and marketing primarily 100 grass-fed and grass-finished, land-improving, beyond-organic beef. He has managed organic and non-organic ranches and farms in Colorado, New Mexico, and Virginia. Grass-based enterprises included cattle, veal, bison, sheep, hog, broiler, layer, and turkey. Other enterprises included orchard, market garden, draft show horse, hay, guest ranch, horseback riding, and adventure youth/family camp enterprises.
        p Byron has served as a founding Board Member of the Central Colorado Food Shed Alliance, Faculty Innovator Coordinator in Instructional Technology for Colorado Mountain College, Adjunct Instructor of Agriculture/Natural Resource Economics at Colorado Mountain College, Career/job Skills Instructor for the Colorado Correctional Alternative Program, President and Board Member of the Colorado Branch of Holistic Management, Independent Construction Contractor, and as a High School Vocational Agriculture Instructor and FFA and Young Farmer Advisor in Colorado.


  