block variables
  - title = 'Artisans of the Grasslands'

extends layout

block content
  section.overview.artisans-event-overview
    header
      .row
        .medium-6.columns
          img.event-main-title(src='/assets/images/event/white-header.png')
          h1 Crafting the Future for <br>Food and Agriculture
          h3
            | October 2&ndash;4, 2015
            small San Francisco

  section.main.copy-overview
    .row
      .small-12.columns
        p This unprecedented event will be a venue for producers and consumers to come together and celebrate the cadre of people embracing the holistic paradigm shift in ecology, health, and diet. Join us, along with all thirty Savory Institute Hubs and everyone from gauchos, to Massai, to cowboys — all of whom are actively engaged in this movement. These artisans, who have built their livelihood on fostering an intimate relationship with the land, will commune with passionate families striving to feed their children clean, healthy food that helps rejuvenate the environment on which we all depend.
        blockquote Grasslands are being healed all over the world as pastoralists of all races, genders, religions, and ages band together in a unified effort to regenerate the land and paint a brighter future for all humanity. Holistic Management practitioners use existing resources to sculpt degraded terrain and transform it into thriving working landscapes. 
        h3 A new era of food production and healthy living is upon us
        p We've seen a new awakening among people to embrace living in harmony with their environment — making healthier food choices, and staying active. As we blaze forward, our next step is to engage urbanites. As the incredible poet Wendell Berry was quoted, “Eating is an agricultural act,” and we must meet people where they are — their daily food choices.

        a.btn-primary(href='https://www.eventbrite.com/e/san-francisco-international-conference-registration-16374858643', target='_blank') Buy Tickets

  section.main
    .row
      .medium-6.columns
        figure.img-love
          img(src='/assets/images/event/hyatt.jpg')
      .medium-6.columns
        h2 Conference Venue
        p The conference will be hosted at the Hyatt Regency Burlingame.

        p San Francisco is an ideal location for our partners and collaborators from around the globe to join us for this year’s annual international conference. This unique location with easy fly-in-fly-out access to the San Francisco International Airport provides all the modern amenities to host our world-gathering.

        ul.icon-list
          li: a(href='http://sanfranciscoairport.hyatt.com/en/hotel/home.html', target='_blank')
            i.fa.fa-external-link
            | Hyatt Regency Burlingame
          li: a(href='https://goo.gl/maps/asD7l', target='_blank')
            i.fa.fa-map-marker
            | Map
          li: a(href='https://aws.passkey.com/g/45196125', target='_blank')
            i.fa.fa-bed
            | Lodging at a discounted rate

  section.main.speaker-bios
    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Speaker Bios
        .medium-9.columns
          p This year's conference will include an engaging and dynamic line-up of speakers from multiple industries and spaces. These presenters will include experts in the fields of soil science, climate change, permaculture, range science, the local food movement, human health, conservation biology, and alternative finance.  Prepare to interface with some of the world's thought leaders in everything from the food we eat, to being profitable land managers. We will also be announcing our newly accredited 2015 Hub Leaders and hearing from the Savory Institute Executive Team, as well as Allan Savory himself.


    .row
      .small-12.columns
        h3 Speaker Bios
        ul.small-block-grid-2.medium-block-grid-4.image-grid
          li
            a(href='/artisans-of-the-grasslands/speakers#allan')
              figure
                .plus +
                img(src='/assets/images/event/speakers/allan.jpg')
                figcaption Allan Savory
          li
            a(href='/artisans-of-the-grasslands/speakers#anya')
              figure
                .plus +
                img(src='/assets/images/event/speakers/anya.jpg')
                figcaption Anya Fernald
          li
            a(href='/artisans-of-the-grasslands/speakers#birju')
              figure
                .plus +
                img(src='/assets/images/event/speakers/birju.jpg')
                figcaption Birju Pandya
          li
            a(href='/artisans-of-the-grasslands/speakers#brock')
              figure
                .plus +
                img(src='/assets/images/event/speakers/brock.jpg')
                figcaption Brock Dolman
          li
            a(href='/artisans-of-the-grasslands/speakers#bryan')
              figure
                .plus +
                img(src='/assets/images/event/speakers/bryan.jpg')
                figcaption Bryan Welch
          li
            a(href='/artisans-of-the-grasslands/speakers#colin')
              figure
                .plus +
                img(src='/assets/images/event/speakers/colin.jpg')
                figcaption Colin Seis
          li
            a(href='/artisans-of-the-grasslands/speakers#courtney')
              figure
                .plus +
                img(src='/assets/images/event/speakers/courtney.jpg')
                figcaption Courtney White
          li
            a(href='/artisans-of-the-grasslands/speakers#cindy')
              figure
                .plus +
                img(src='/assets/images/event/speakers/cindy.jpg')
                figcaption Dr. Cindy Daley
          li
            a(href='/artisans-of-the-grasslands/speakers#richard')
              figure
                .plus +
                img(src='/assets/images/event/speakers/richard.png')
                figcaption Dr. Richard Teague
          li
            a(href='/artisans-of-the-grasslands/speakers#finian')
              figure
                .plus +
                img(src='/assets/images/event/speakers/finian.png')
                figcaption Finian Makepeace
          li
            a(href='/artisans-of-the-grasslands/speakers#fred')
              figure
                .plus +
                img(src='/assets/images/event/speakers/fred.jpg')
                figcaption Fred Provenza
          li
            a(href='/artisans-of-the-grasslands/speakers#haven')
              figure
                .plus +
                img(src='/assets/images/event/speakers/haven.jpg')
                figcaption Haven Borque
          li
            a(href='/artisans-of-the-grasslands/speakers#jared')
              figure
                .plus +
                img(src='/assets/images/event/speakers/jared.jpg')
                figcaption Jared Stone
          li
            a(href='/artisans-of-the-grasslands/speakers#jenni')
              figure
                .plus +
                img(src='/assets/images/event/speakers/jenni.jpg')
                figcaption Jenni Harris
          li
            a(href='/artisans-of-the-grasslands/speakers#jenny')
              figure
                .plus +
                img(src='/assets/images/event/speakers/jenny.jpg')
                figcaption Jenny McGruther
          li
            a(href='/artisans-of-the-grasslands/speakers#jody')
              figure
                .plus +
                img(src='/assets/images/event/speakers/jody.jpg')
                figcaption Jody Butterfield
          li
            a(href='/artisans-of-the-grasslands/speakers#jonah')
              figure
                .plus +
                img(src='/assets/images/event/speakers/jonah.jpg')
                figcaption Jonah Sachs
          li
            a(href='/artisans-of-the-grasslands/speakers#judy')
              figure
                .plus +
                img(src='/assets/images/event/speakers/judy.jpg')
                figcaption Judith Schwartz
          li
            a(href='/artisans-of-the-grasslands/speakers#kat')
              figure
                .plus +
                img(src='/assets/images/event/speakers/kat.jpg')
                figcaption Kat Taylor
          li
            a(href='/artisans-of-the-grasslands/speakers#kelly')
              figure
                .plus +
                img(src='/assets/images/event/speakers/kelly.jpg')
                figcaption Kelly Mulville
          li
            a(href='/artisans-of-the-grasslands/speakers#nicolette')
              figure
                .plus +
                img(src='/assets/images/event/speakers/nicolette.jpg')
                figcaption Nicolette Niman
          li
            a(href='/artisans-of-the-grasslands/speakers#nora')
              figure
                .plus +
                img(src='/assets/images/event/speakers/nora.jpg')
                figcaption Nora Gedgaudas
          li
            a(href='/artisans-of-the-grasslands/speakers#precious')
              figure
                .plus +
                img(src='/assets/images/event/speakers/precious.jpg')
                figcaption Precious Phiri
          li
            a(href='/artisans-of-the-grasslands/speakers#ray')
              figure
                .plus +
                img(src='/assets/images/event/speakers/ray.jpg')
                figcaption Ray Archuleta
          li
            a(href='/artisans-of-the-grasslands/speakers#robb')
              figure
                .plus +
                img(src='/assets/images/event/speakers/robb.jpg')
                figcaption Robb Wolf
          li
            a(href='/artisans-of-the-grasslands/speakers#sally')
              figure
                .plus +
                img(src='/assets/images/event/speakers/sally.jpg')
                figcaption Sally Fallon Morell
          li
            a(href='/artisans-of-the-grasslands/speakers#sara')
              figure
                .plus +
                img(src='/assets/images/event/speakers/sara.jpg')
                figcaption Sara Scherr
          li
            a(href='/artisans-of-the-grasslands/speakers#seth')
              figure
                .plus +
                img(src='/assets/images/event/speakers/seth.jpg')
                figcaption Seth Itzkan
          li
            a(href='/artisans-of-the-grasslands/speakers#tom')
              figure
                .plus +
                img(src='/assets/images/event/speakers/tom.jpg')
                figcaption Tom Newmark
          li
            a(href='/artisans-of-the-grasslands/speakers#tony')
              figure
                .plus +
                img(src='/assets/images/event/speakers/tony.jpg')
                figcaption Tony Malmberg
          li
            a(href='/artisans-of-the-grasslands/speakers#will')
              figure
                .plus +
                img(src='/assets/images/event/speakers/will.jpg')
                figcaption Will Harris
          li
            a(href='/artisans-of-the-grasslands/speakers#woody')
              figure
                .plus +
                img(src='/assets/images/event/speakers/woody.jpg')
                figcaption Woody Tasch
          li
            a(href='/artisans-of-the-grasslands/speakers#andrea')
              figure
                .plus +
                img(src='/assets/images/event/speakers/andrea.jpg')
                figcaption Andrea Malmberg
          li
            a(href='/artisans-of-the-grasslands/speakers#byron')
              figure
                .plus +
                img(src='/assets/images/event/speakers/byron.jpg')
                figcaption Byron Shelton
          li
            a(href='/artisans-of-the-grasslands/speakers#chris')
              figure
                .plus +
                img(src='/assets/images/event/speakers/chris.jpg')
                figcaption Chris Kerston
          li
            a(href='/artisans-of-the-grasslands/speakers#tre')
              figure
                .plus +
                img(src='/assets/images/event/speakers/tre.jpg')
                figcaption Tre' Cates
          li
            a(href='/artisans-of-the-grasslands/speakers#daniela')
              figure
                .plus +
                img(src='/assets/images/event/speakers/daniela.jpg')
                figcaption Daniela Ibarra-Howell

  section.main.tickets
    .sf
    .row
      .medium-6.push-6.columns
        h2 Tickets
        p Please note, all tickets purchased before July 7 qualify for early-bird pricing.
        hr
        h3 Early Bird Pricing (Ends July 7)
        ul.no-bullet
          li <strong>$499</strong> Standard Ticket
          li <strong>$425/ea</strong> Qty Discount (buy 5 tickets and get 15% off)
          li <strong>$350/ea</strong> Qty Discount (buy 10 tickets and get 30% off)
          li <strong>$299</strong> Savory Institute Accredited Professionals/Hub Leaders
          li <strong>$299</strong> Students/Educators

        h3 July 7 - September 7
        ul.no-bullet
          li <strong>$549</strong> standard ticket
          li <strong>$425/ea</strong> qty discount (buy 5 tickets and get 15% off)
          li <strong>$350/ea</strong> qty discount (buy 10 tickets and get 30% off)
          li <strong>$349</strong> Savory Institute Accredited Professionals/Hub Leaders
          li <strong>$349</strong> Students/Educators

        h3 September 8 - October 2
        ul.no-bullet
          li <strong>$599</strong> standard ticket
          li Bulk Discounts not Available
          li <strong>$399</strong> Savory Institute Accredited Professionals/Hub Leaders
          li <strong>$399</strong> Students/Educators

        p.fine-print All tickets include meals as listed above in <em>conference food</em>.

        a.btn-primary(href='https://www.eventbrite.com/e/san-francisco-international-conference-registration-16374858643', target='_blank') Buy Tickets



  section.main.sponsors
      header.overview-header
        .row
          .medium-3.columns
            h2.section-title Sponsors
          .medium-9.columns
            p If you would like to sponsor this special event please reference our <a href="/assets/docs/savory-international-conference-sponsorship-packages.pdf">sponsorship package (PDF)</a>. If you are a farmer or rancher and are interested in donating food, please contact Paul Frank at paul@ptfassociates.com.

      .row
        .small-12.columns
          h2.sponsor-title Soil Level Sponsorship
          img(src='/assets/images/event/sponsors/epic.png')

      .row
        .small-12.columns
          h2.sponsor-title Grass Level Sponsorship
          img(src='/assets/images/event/sponsors/TMFSimpleWeb.jpg')
      .row
        .small-12.columns
          h2.sponsor-title Hub Level Sponsorship
          ul.small-block-grid-2.medium-block-grid-4.image-grid
            li
              img(src='/assets/images/event/sponsors/hub_sponsor1.jpg')
            li
              img(src='/assets/images/event/sponsors/hub_sponsor2.png')
            li
              img(src='/assets/images/event/sponsors/hub_sponsor3.png')
            li
              img(src='/assets/images/event/sponsors/hub_sponsor4.jpg')
            li
              img(src='/assets/images/event/sponsors/hub_sponsor5.jpg')
            li
              img(src='/assets/images/event/sponsors/hub_sponsor6.png')
            li
              img(src='/assets/images/event/sponsors/hub_sponsor7.jpg')
            li
              img(src='/assets/images/event/sponsors/hub_sponsor8.jpg')
            li
              img(src='/assets/images/event/sponsors/hub_sponsor9.png')
            li
              img(src='/assets/images/event/sponsors/hub_sponsor10.png')
            li
              img(src='/assets/images/event/sponsors/hub_sponsor11.jpg')
            li
              img(src='/assets/images/event/sponsors/hub_sponsor12.png')
            li
              img(src='/assets/images/event/sponsors/hub_sponsor13.jpg')
            li
              img(src='/assets/images/event/sponsors/hub_sponsor14.png')

  section.main.food
    .row
      .medium-8.medium-centered.small-12.columns
        .content
          h2 Conference Food
          p Your ticket includes many amenities including lunch and dinner banquet on Saturday, lunch on Sunday, as well as a complementary Friday night reception and small plates dinner. All meals will be made from organic, gluten-free ingredients, and sourced from local, holistically-managed farms where possible.
          p If you are a farmer or rancher and are interested in donating food for this special event, please contact Paul Frank at <a href="mailto:paul@ptfassociates.com?subject=Interested%20in%20donating%20food">paul@ptfassociates.com</a> or call his office at (540) 722-7102.
