block variables
  - title = 'Artisans of the Grasslands'

extends layout

block content
  section.overview.artisans-event-overview
    header
      .row
        .medium-6.columns
          img.event-main-title(src='/assets/images/event/white-header.png')
          h1 Crafting the Future for <br>Food and Agriculture
          h3
            | October 2&ndash;4, 2015
            small San Francisco


  section.main.copy-overview
    .row
      .small-12.columns
        p This unprecedented event will be a venue for producers and consumers to come together and celebrate the cadre of people embracing the holistic paradigm shift in ecology, health, and diet. Join us, along with all thirty Savory Institute Hubs and everyone from gauchos, to Massai, to cowboys — all of whom are actively engaged in this movement. These artisans, who have built their livelihood on fostering an intimate relationship with the land, will commune with passionate families striving to feed their children clean, healthy food that helps rejuvenate the environment on which we all depend.
        blockquote Grasslands are being healed all over the world as pastoralists of all races, genders, religions, and ages band together in a unified effort to regenerate the land and paint a brighter future for all humanity. Holistic Management practitioners use existing resources to sculpt degraded terrain and transform it into thriving working landscapes. 
        h3 A new era of food production and healthy living is upon us
        p We've seen a new awakening among people to embrace living in harmony with their environment — making healthier food choices, and staying active. As we blaze forward, our next step is to engage urbanites. As the incredible poet Wendell Berry was quoted, “Eating is an agricultural act,” and we must meet people where they are — their daily food choices.

        a.btn-primary(href='https://www.eventbrite.com/e/san-francisco-international-conference-registration-16374858643', target='_blank') Buy Tickets



  section.main
    .row
      .medium-6.columns
        figure.img-love
          img(src='/assets/images/event/hyatt.jpg')
      .medium-6.columns
        h2 Conference Venue
        p The conference will be hosted at the Hyatt Regency Burlingame.

        p San Francisco is an ideal location for our partners and collaborators from around the globe to join us for this year’s annual international conference. This unique location with easy fly-in-fly-out access to the San Francisco International Airport provides all the modern amenities to host our world-gathering.

        ul.icon-list
          li: a(href='http://sanfranciscoairport.hyatt.com/en/hotel/home.html', target='_blank')
            i.fa.fa-external-link
            | Hyatt Regency Burlingame
          li: a(href='https://goo.gl/maps/asD7l', target='_blank')
            i.fa.fa-map-marker
            | Map
          li: a(href='https://aws.passkey.com/g/45196125', target='_blank')
            i.fa.fa-bed
            | Lodging at a discounted rate


  section.main.food
    .row
      .medium-8.medium-centered.small-12.columns
        .content
          h2 Conference Food
          p Your ticket includes many amenities including lunch and dinner banquet on Saturday, lunch on Sunday, as well as a complementary Friday night reception with hors d’oeuvres. All meals will be made from organic, gluten-free ingredients, and sourced from local, holistically-managed farms where possible.




  section.main.speaker-bios
    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Speaker Bios
        .medium-9.columns
          p We’ve put together a stellar line-up of presenters. Our goal has been to build an arrangement of dynamic speakers who are experts in the fields of soil science, climate change, permaculture, range science, the local food movement, human health, conservation biology, and alternative finance. Holistic Management will be the central piece tying it all together. In addition to these presenters, you can also be sure to expect updates from our returning 2013 Hub Leaders as well as introducing new 2014 Hub Leaders. There will also be presentations from the Savory Institute Executive Team, and the Grasslands LLC Executive Team as well as working land managers and ranchers from around the globe.


    .row
      .small-12.columns
        h3 Speaker Bios
        ul.small-block-grid-2.medium-block-grid-4.image-grid
          li
            a(href='/artisans-of-the-grasslands/speakers#anya')
              figure
                .plus +
                img(src='/assets/images/event/speakers/anya.jpg')
                figcaption Anya Fernald
          li
            a(href='/artisans-of-the-grasslands/speakers#bryan')
              figure.colorado
                .plus +
                img(src='/assets/images/event/speakers/bryan.jpg')
                figcaption Bryan Welch
          li
            a(href='/artisans-of-the-grasslands/speakers#colin')
              figure.colorado
                .plus +
                img(src='/assets/images/event/speakers/colin.jpg')
                figcaption Colin Seis
          li
            a(href='/artisans-of-the-grasslands/speakers#fred')
              figure
                .plus +
                img(src='/assets/images/event/speakers/fred.jpg')
                figcaption Fred Provenza
          li
            a(href='/artisans-of-the-grasslands/speakers#jonah')
              figure
                .plus +
                img(src='/assets/images/event/speakers/jonah.jpg')
                figcaption Jonah Sachs
          li
            a(href='/artisans-of-the-grasslands/speakers#judy')
              figure
                .plus +
                img(src='/assets/images/event/speakers/judy.jpg')
                figcaption Judy Schwatz
          li
            a(href='/artisans-of-the-grasslands/speakers#kat')
              figure
                .plus +
                img(src='/assets/images/event/speakers/kat.jpg')
                figcaption Kat Taylor
          li
            a(href='/artisans-of-the-grasslands/speakers#nicolette')
              figure
                .plus +
                img(src='/assets/images/event/speakers/nicolette.jpg')
                figcaption Nicolette Niman
          li
            a(href='/artisans-of-the-grasslands/speakers#robb')
              figure
                .plus +
                img(src='/assets/images/event/speakers/robb.jpg')
                figcaption Robb Wolf
          li
            a(href='/artisans-of-the-grasslands/speakers#sally')
              figure
                .plus +
                img(src='/assets/images/event/speakers/sally.jpg')
                figcaption Sally Fallon Morell




  section.main.tickets
    .sf
    .row
      .medium-6.push-6.columns
        h2 Tickets
        p Please note, all tickets purchased before September 8 qualify for early-bird pricing.
        hr
        ul.no-bullet
          li <strong>$499</strong> Early Bird Pricing
          li <strong>$599</strong> Standard Ticket
          li <strong>$425/ea</strong> Qty Discount (buy 5 tickets and get 15% off)
          li <strong>$350/ea</strong> Qty Discount (buy 10 tickets and get 30% off)
          li <strong>$299</strong> Students/Educators

        p.fine-print All tickets include meals as listed above in <em>conference food</em>.

        a.btn-primary(href='https://www.eventbrite.com/e/san-francisco-international-conference-registration-16374858643', target='_blank') Buy Tickets



