block variables
  - title = 'Artisans of the Grasslands'

extends layout

block content
  section.overview.artisans-event-overview
    header
      .row
        .medium-6.columns
          img.show-for-small-only(src='/assets/images/event/title.svg')
          h1 Crafting the Future for <br>Food and Agriculture
          h3 
            | October 2&ndash;5, 2015  
            small San Francisco
        
    
  section.main.copy-overview
    .row
      .small-12.columns
        p This unprecedented event will be a venue for producers and consumers to come together and celebrate the cadre of people embracing the holistic paradigm shift in ecology, health, and diet. Join us, along with all thirty Savory Institute Hubs and everyone from gauchos, to Massai, to cowboys — all of whom are actively engaged in this movement. These artisans, who have built their livelihood on fostering an intimate relationship with the land, will commune with passionate families striving to feed their children clean, healthy food that helps rejuvenate the environment on which we all depend.
        blockquote Grasslands are being healed all over the world as pastoralists of all races, genders, religions, and ages band together in a unified effort to regenerate the land and paint a brighter future for all humanity. Holistic Management practitioners use existing resources to sculpt degraded terrain and transform it into thriving working landscapes.  
        h3 A new era of food production and healthy living is upon us
        p We've seen a new awakening among people to embrace living in harmony with their environment — making healthier food choices, and staying active. As we blaze forward, our next step is to engage urbanites. As the incredible poet Wendell Berry was quoted, “Eating is an agricultural act,” and we must meet people where they are — their daily food choices.
        
        a.btn-primary(href='https://www.eventbrite.com/e/san-francisco-international-conference-registration-16374858643', target='_blank') Buy Tickets
  
  
  
  section.main
    .row
      .medium-6.columns
        figure.img-love
          img(src='/assets/images/event/hyatt.jpg')
      .medium-6.columns
        h2 Conference Venue
        p The conference will be hosted at the Hyatt Regency Burlingame.

        p San Francisco is an ideal location for our partners and collaborators from around the globe to join us for this year’s annual international conference. This unique location with easy fly-in-fly-out access to the San Francisco International Airport provides all the modern amenities to host our world-gathering.
        
        ul.icon-list
          li: a(href='http://sanfranciscoairport.hyatt.com/en/hotel/home.html', target='_blank')
            i.fa.fa-external-link
            | Hyatt Regency Burlingame
          li: a(href='https://goo.gl/maps/asD7l', target='_blank') 
            i.fa.fa-map-marker
            | Map
          li: a(href='https://aws.passkey.com/g/45196125', target='_blank') 
            i.fa.fa-bed
            | Lodging at a discounted rate
  
  
  section.main.food
    .row
      .medium-8.medium-centered.columns
        .content
          h2 Conference Food
          p Your ticket includes many amenities including lunch and dinner banquet on Saturday, lunch on Sunday, as well as a complementary Friday night reception with hors d’oeuvres. All meals will be made from organic, gluten-free ingredients, and sourced from local, holistically-managed farms where possible.
    
  
  
  section.main.speakers
    .row
      .small-12.columns
        h2 Confirmed Speakers
        ul
          li 
            | Brock Dolman 
            small Occidental Arts and Ecology
          li 
            | Sally Fallon 
            small Founder of Weston Price Foundation
          li 
            | Nicolette Niman 
            small Author of <em>Defending Beef</em> and Environmental Lawyer
          li 
            | Fred Provenza 
            small Behave
          li Allan Savory
          li 
            | Jared Stone 
            small Author of <em>Year of the Cow</em>
          li 
            | Bryan Welch 
            small Publisher at <em>Mother Earth News</em>
          li 
            | Robb Wolf 
            small Author of <em>The Paleo Solution: The Original Human Diet</em>
  
          
  section.main.tickets
    .sf
    .row
      .medium-6.push-6.columns
        h2 Tickets
        p Please note, all tickets purchased before September 8 qualify for early-bird pricing.
        hr
        ul.no-bullet
          li <strong>$499</strong> Early Bird Pricing (<em>ends Sept 8</em>)
          li <strong>$599</strong> Standard Ticket
          li <strong>$425/ea</strong> Qty Discount (buy 5 tickets and get 15% off)
          li <strong>$350/ea</strong> Qty Discount (buy 10 tickets and get 30% off)
          li <strong>$299</strong> Students/Educators
      
        p.fine-print All tickets include meals as listed above in <em>conference food</em>.
        
        a.btn-primary(href='https://www.eventbrite.com/e/san-francisco-international-conference-registration-16374858643', target='_blank') Buy Tickets
  
    
        
