block variables
  - title = 'Error'
  
extends layout

block content
  section.main.error
    .row
      .medium-6.medium-centered.columns
        .content
          h1 Inconceivable!
          p Sorry, whatever you're looking for isn't here. If you're having a hard time finding something, you can contact us at <a href='mailto:contact@savoryinstitute.org'>contact@savoryinstitute.org.</a> 
