block variables
  - title = 'Uh Oh'

//- extends layout-ie

block content
  h1 IE 8 or Lower? 
  p Internet Explorer versions 8 and older are not fully supported by this site. To view this site, we recommend choosing another browser (such as <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a>) or upgrading your version of IE.
  p As of April 2014, Internet Explorer is on version 11 and Windows XP (and, by extension, IE8) is not being supported or maintained by Microsoft. You might want to consider upgrading your browser. This article is a bit dated, but is a quick read and helps to explain why you really should upgrade: <a href="http://www.smashingmagazine.com/2012/07/10/dear-web-user-please-upgrade-your-browser/" target="_blank">Please Upgrade Your Browser</a>
  p Essentially, what this comes down to is that we are a non-profit and we would rather spend money efficiently instead of spending considerable time and resources designing and maintaining a website that works for legacy, unsupported browsers.
