extends layout

block content
  .row
    .small-12.columns
      h1= title
      h1 title
      h2 jade
      p Welcome to #{title}
      p I'm a cupcake; a pretty, pretty cupcake.
      blockquote I am the lizard king, I can do anything
