block variables
  - title = 'Home'

extends layout

block content
  section.main.outcomes

    //- zimbabwe
    .case-study-01.hero-slide
      .gradient
      .case-study-content
        .row
          .large-9.medium-8.small-10.columns
            img(src='/assets/images/home/case-study-01.svg', alt='Case Study 01')
            p At the 777 Ranch in <strong>South Dakota, USA</strong>, Holistic Management practices are bringing back the native vegetation and wildlife. 28,000 acres house 1,700 bison which rely on the original diversity of flora and fauna to thrive.

          //- .medium-1.small-2.columns
          //-   a.btn-simple(href='#') +

          .large-2.medium-3.stats-column.columns
            .stats
              ul(data-orbit='')
                li
                  figure
                    .number 0<span>%</span>
                    figcaption Soil erosion — it has stopped completely
                li
                  figure
                    .number 40<span>%</span>
                    figcaption Decrease in space between plants
                li
                  figure
                    .number 48<span>%</span>
                    figcaption Decrease in less desirable annual grasses
                li
                  figure
                    .number 77<span>%</span>
                    figcaption Decrease in bare ground

    //- south dakota
    .case-study-02.hero-slide
      .gradient
      .case-study-content
        .row
          .large-9.medium-8.small-10.columns
            img(src='/assets/images/home/case-study-02.svg', alt='Case Study 02')
            p In <strong>Victoria Falls, Zimbabwe</strong>, the Africa Center for Holistic Management is a model of sustainable resource management that can be replicated in the region and elsewhere in Africa to restore land productivity, diversity of wildlife, and local livelihoods. People working together are steadily making a difference by learning how to manage their natural resources in a regenerative fashion.

          //- .medium-1.small-2.columns
          //-   a.btn-simple(href='#') +

          .large-2.medium-3.stats-column.columns
            .stats
              ul(data-orbit='')
                li
                  figure
                    .number 370<span>%</span>
                    figcaption Increase in forage production
                li
                  figure
                    .number 440<span>%</span>
                    figcaption Increase in crop yield
                li
                  figure
                    .number 12<span>%</span>
                    figcaption Increase in more desirable annual grasses
                li
                  figure
                    .number 31<span>%</span>
                    figcaption Decrease in bare ground


    //- chile
    .case-study-03.hero-slide
      .gradient
      .case-study-content
        .row
          .large-9.medium-8.small-10.columns
            img(src='/assets/images/home/case-study-03.svg', alt='Case Study 03')
            p Near <strong>San Gregorio, Chile</strong>, Estancia Nevada is a ranch where sheep are raised for Merino wool. Erosion that was once evident on slopes and dry lagoons is now mostly covered and plant diversity has increased greatly in a very short time.

          //- .medium-1.small-2.columns
          //-   a.btn-simple(href='#') +

          .large-2.medium-3.stats-column.columns
            .stats
              ul(data-orbit='')
                li
                  figure
                    .number 25<span>%</span>
                    figcaption Increase in stocking rate
                li
                  figure
                    .number 60<span>%</span>
                    figcaption Increase in forage production



  section.main
    .row
      .small-12.columns
        h2 Savory: Promoting the Restoration of Grasslands
        p It's our mission to promote the large-scale restoration of the world's grasslands through Holistic Management. Grasslands aren't just important to ranchers, but have a wide-ranging effect on the greater community. Agriculture is the foundation of civilization and any stable economy. Our grasslands can be the genesis of an incredibly strong economy, more self-sufficient communties, and the basis of miraculously renewable food production.

        .strategy
          h3 Our Strategy is Simple:
          .key-points
            .keyline
            .row.collapse
              .medium-6.columns.left
                .point
                  h4 Demonstrate Success
                  p Wild claims are easy; our Holistic Management process is already working through various international special projects in a wide variety of climate and terrain. Among our strategic partners we can mention Grasslands LLC, The Nature Conservancy, and Heifer International.
                  p We are at a tipping point and feel excited about our burgeoning global network leading transformation in their regions. We're creating sustainable solutions to the pressing problems tied to a failing agriculture, desertification, and climate change.

              .medium-6.columns.right
                .point
                  h4 Share Knowledge
                  p Through a network of international Hubs, we're training people to better protect and restore their grasslands, which in turn protects and restores their community.
                .point
                  h4 Create the Right Conditions
                  p We act as a catalyst to inform policy, establish market incentives, and increase public awareness.



  section.main.about
    .row.allan-savory-quote
      .medium-3.medium-offset-1.small-6.columns
        figure
          img(src='/assets/images/home/allan-savory.jpg')
          figcaption
            .hidden-content
              h2 About
            a.btn-simple(href='/institute/history') +

      .medium-7.end.small-6.columns
        blockquote
          | Ultimately, the only wealth that can sustain any community, economy or nation is derived from the photosynthetic process—green plants growing on regenerating soil.
          footer Allan Savory




  section.main.hubs
    .legend
      .row
        .small-12.columns
          ul
            li.poppy
              a(href='#', data-reveal-id='accredited-hubs') Accredited Hubs
            li.verdant
              a(href='#', data-reveal-id='hub-candidates') Hub Candidates
            li.elf
              a(href='#', data-reveal-id='special-projects') Special Projects

    script!='var hubs_geojson='+hubs_geojson+';'
    #map.hubs-map



  section.main.news
    .row
      .small-12.columns
        h2
          | What's New
          small
            a(href='#') View All <span>[</span>+<span>]</span>

        ol.news-grid
          each article in news
            li
              a(href='/news/'+article.getText('news.slug'))
                .marker
                img(src=article.getImage('news.image').views['homepage'].url)
                !=article.getStructuredText('news.shortlede').asHtml()

  section.main.get-involved-and-tools
    .row
      .medium-6.columns
        figure
          img(src='/assets/images/home/crate.jpg')
          figcaption
            .hidden-content
              p
                | Education is not the filling of a pail, but the lighting of a fire.
                footer William Butler Yeats

            h2 Products and Tools
            a.btn-simple(href='/platform') +

      .medium-6.columns
        figure
          img(src='/assets/images/home/field.jpg')
          figcaption
            .hidden-content
              p As Shakespeare put it: "Words are easy, like the wind; faithful friends are hard to find." Take the next step and help us to spread the word.

            h2 Get Involved
            a.btn-simple(href='/get-involved') +





  //- modals
  #accredited-hubs.reveal-modal.small(data-reveal='')
    h2 Accredited Hubs
    p Savory Hubs are locally owned, led and managed initiatives across the globe, offering Holistic Management consulting and training services, on-going support, accreditation, state-of-the-art content and tools, and access to the land, networks and funding resources necessary to create a local impact.
    a.close-reveal-modal
      i.fa.fa-close

  #hub-candidates.reveal-modal.small(data-reveal='')
    h2 Hub Candidates
    p Organizations or individuals chosen to participate in a vetting and application process in order to become a Savory Hub.
    a.close-reveal-modal
      i.fa.fa-close

  #special-projects.reveal-modal.small(data-reveal='')
    h2 Special Projects
    p Special Projects are partnerships with aligned organizations, with the intention of building capacity and proof of concept in key strategic regions. Special Projects may evolve into Hubs once capacity is built and local leadership developed.
    a.close-reveal-modal
      i.fa.fa-close
