block variables
  - title = 'Home'

extends layout

block content
  section.main.outcomes
    .case-study-01
      .gradient
      .case-study-content
        .row
          .large-9.medium-8.small-10.columns
            img(src='/assets/images/home/case-study-01.svg', alt='Case Study 01')
            p Better land management grows a sustainable ranching practice, which creates more jobs, which builds a better economy, which promotes a better community. It's all connected.

          .medium-1.small-2.columns
            button.simple
              a(href='#') +

          .large-2.medium-3.stats-column.columns
            .stats
              ul(data-orbit='')
                li
                  figure
                    .number 56%
                    figcaption Increase in litter cover
                li
                  figure
                    .number 31%
                    figcaption Decrease in bare ground
                li
                  figure
                    .number 21%
                    figcaption Decrease in less desirable annual grasses
                li
                  figure
                    .number 12%
                    figcaption Increase in perennial grass plants



  section.main.overview
    .row
      .small-12.columns
        h2 Savory: Promoting the Restoration of Grasslands
        p It's our mission to promote the large-scale restoration of the world's grasslands through Holistic Management. Grasslands aren't just important to ranchers, but have a wide-ranging effect on the greater community. Agriculture is the foundation of civilization and any stable economy. Our grasslands can be the genesis of an incredibly strong economy, more self-sufficient communties, and the basis of miraculously renewable food production.

        .strategy
          h3 Our Strategy is Simple:
          .key-points
            .keyline
            .row.collapse
              .medium-6.columns.left
                .point
                  h4 Empower People
                  p Through a network of international Hubs, we're training people to better protect and restore their grasslands, which in turn protects and restores their community.
                .point
                  h4 Remove Barriers
                  p We act as a catalyst to inform policy, establish market incentives, and increase public awareness.

              .medium-6.columns.right
                .point
                  h4 Demonstrate Success
                  p Wild claims are easy; we're backing up our process by utilizing the power of Holistic Management through various international special projects in a wide variety of climate and terrain. Among our strategic partners we can mention Grasslands LLC, The Nature Conservancy, and Heifer International.
                  p We are at a tipping point and feel excited about our burgeoning global network leading transformation in their regions. We're creating sustainable solutions to the pressing problems tied to a failing agriculture, desertification, and climate change.



  section.main.about
    .row.allan-savory-quote
      .medium-3.medium-offset-1.small-6.columns
        figure
          img(src='/assets/images/home/allan-savory.jpg')
          figcaption
            .hidden-content
              h2 About
            button.simple
              a(href='/institute/history') +

      .medium-7.end.small-6.columns
        blockquote
          | Ultimately, the only wealth that can sustain any community, economy or nation is derived from the photosynthetic process—green plants growing on regenerating soil.
          footer Allan Savory




  section.main.hubs
    .legend
      .row
        .small-12.columns
          ul
            li.poppy
              a(href='#', data-reveal-id='accredited-hubs') Accredited Hubs
            li.verdant
              a(href='#', data-reveal-id='hub-candidates') Hub Candidates
            li.elf
              a(href='#', data-reveal-id='special-projects') Special Projects

    #map.hubs-map



  section.main.news
    .row
      .small-12.columns
        h2
          | What's New
          small
            a(href='#') View All <span>[</span>+<span>]</span>

        ol.news-grid
          each article in news
            li
              a(href='/news/'+article.getText('news.slug'))
                .marker
                img(src=article.getImage('news.image').views['homepage'].url)
                !=article.getStructuredText('news.shortlede').asHtml()

  section.main.get-involved-and-tools
    .row
      .medium-6.columns
        figure
          img(src='/assets/images/home/crate.jpg')
          figcaption
            .hidden-content
              p
                | Education is not the filling of a pail, but the lighting of a fire.
                footer William Butler Yeats

            h2 Products and Tools
            button.simple
              a(href='/platform') +

      .medium-6.columns
        figure
          img(src='/assets/images/home/field.jpg')
          figcaption
            .hidden-content
              p As Shakespeare put it: "Words are easy, like the wind; faithful friends are hard to find." Take the next step and help us to spread the word.

            h2 Get Involved
            button.simple
              a(href='/get-involved') +





  //- modals
  #accredited-hubs.reveal-modal(data-reveal='')
    h2 Acredited Hubs
    p blah
    a.close-reveal-modal
      i.fa.fa-close

  #hub-candidates.reveal-modal(data-reveal='')
    h2 Hub Candidates
    p blah
    a.close-reveal-modal
      i.fa.fa-close

  #special-projects.reveal-modal(data-reveal='')
    h2 Special Projects
    p blah
    a.close-reveal-modal
      i.fa.fa-close
