block variables
  - title = 'Home'

extends layout

block content
  section.main.grasslands
    .one-third
      .row
        .medium-6.columns
          img(src='/assets/images/home/one-third.svg')

    .event-callout
      .row
        .medium-5.push-8.columns.end
          a(href="/soilforclimate")
            img(src='/assets/images/soilforchange/sfc_logo.png')

  section.main.mission
    .tag-background.hide-for-small-only
    .map.hide-for-small-only
    .row.flex-row
      .marker
      .medium-6.columns.tagline.left-side
        p Loss of grasslands leads to <span>climate change, floods, droughts, famine, and worldwide poverty.</span>
      .medium-6.columns.right-side
        p.biggify It's our mission to promote large-scale restoration of the world's grasslands through Holistic Management.



  section.main.holistic-management
    .row.flex-row
      .medium-3.columns
        img.hm-header(src='/assets/images/holistic-management-light.svg')
      .medium-9.columns
        h2.hide-for-small-only Holistic Management
        p Holistic Management is a process of decision-making and planning that gives people the insights and management tools needed to understand nature: resulting in better, more informed decisions that balance key social, environmental, and financial considerations.
        p In the context of the ecological restoration of grasslands worldwide, managers implement Holistic Planned Grazing to properly manage livestock — mimicking the predator/prey relationships in which these environments evolved.


  section.main.nav-overview
    .row
      .medium-4.columns
        h3: a(href='/institute/') Savory Institute
        p The Savory Institute develops innovative tools and curricula, informs policy, establishes market incentives, increases public awareness, and coordinates research: cultivating relationships with aligned partners.
        a(href='/institute') More ( + )

      .medium-4.columns.center-column
        h3: a(href='/network/') Savory Network
        p A global network of entrepreneurial leaders committed to serving their regions with Holistic Management training and implementation support.
        p Our Network Hubs and Accredited Professionals are taking Holistic Management from theory to practice, with resounding success in real communities.
        a(href='/network') More ( + )

      .medium-4.columns
        h3: a(href='/platform/') Savory Platform
        p Savory’s technology platform has been developed to provide online support and training for ranchers and land managers via education, data management, and collaboration.
        a(href='/platform') More ( + )

  section.main.about
    .row.allan-savory-quote
      .medium-3.medium-offset-1.small-6.columns
        figure
          img(src='/assets/images/home/allan-savory.jpg')
          figcaption
            .hidden-content
              h2 Our History
            a.btn-simple(href='/institute/#history') +

      .medium-7.end.small-6.columns
        blockquote
          | Ultimately, the only wealth that can sustain any community, economy or nation is derived from the photosynthetic process—green plants growing on regenerating soil.
          footer Allan Savory




  section.main
    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Promoting the Restoration <br>of Grasslands
        .medium-9.columns
          p Grasslands aren't just important to ranchers, but have a wide-ranging effect on the greater community. Agriculture is the foundation of civilization and any stable economy. Our grasslands can be the genesis of an incredibly strong economy, more self-sufficient communities, and the basis of miraculously renewable food production.

    .row
      .small-12.columns
        h3 Our Strategy is Simple:
        .key-points
          .keyline
          .row.collapse
            .medium-6.columns.left
              .point
                h4 Demonstrate Success
                p Wild claims are easy; our Holistic Management process is already working through various international special projects in a wide variety of climate and terrain. Among our strategic partners we can mention Grasslands LLC, The Nature Conservancy, and Heifer International.
                p We're creating sustainable solutions to the pressing problems tied to a failing agriculture, desertification, and climate change.

            .medium-6.columns.right
              .point
                h4 Empower People
                p Through a network of international Hubs, we're training people to better protect and restore their grasslands, which in turn protects and restores their community.
                p We are at a tipping point and feel excited about our burgeoning global network leading transformation in their regions.
              .point
                h4 Facilitate Improved Conditions
                p We act as a catalyst to inform policy, establish market incentives, and increase public awareness.





  section.main.hubs
    .legend
      .row
        .small-12.columns
          ul
            li.poppy
              a(href='#', data-reveal-id='accredited-hubs') Accredited Hubs
            li.verdant
              a(href='#', data-reveal-id='hub-candidates') Hub Candidates
            li.elf
              a(href='#', data-reveal-id='special-projects') Special Projects

    #map.hubs-map



  section.main.get-involved-and-tools
    .row
      .medium-6.columns
        figure
          img(src='/assets/images/home/crate.jpg')
          figcaption
            .hidden-content
              p
                | Education is not the filling of a pail, but the lighting of a fire.
                footer William Butler Yeats

            h2 Courses and Tools
            a.btn-simple(href='/platform/#online-ed') +

      .medium-6.columns
        figure
          img(src='/assets/images/home/donate.jpg')
          figcaption
            .hidden-content
              p As Shakespeare put it: "Words are easy, like the wind; faithful friends are hard to find." Take the next step and help us to spread the word.

            h2 Donate
            a.btn-simple(href='/get-involved/#donate') +





  //- modals
  #accredited-hubs.reveal-modal.small(data-reveal='')
    h2 Accredited Hubs
    p Savory Hubs are locally owned, led and managed initiatives across the globe, offering Holistic Management consulting and training services, on-going support, accreditation, state-of-the-art content and tools, and access to the land, networks and funding resources necessary to create a local impact.
    a.close-reveal-modal
      i.fa.fa-close

  #hub-candidates.reveal-modal.small(data-reveal='')
    h2 Hub Candidates
    p Organizations or individuals chosen to participate in a vetting and application process in order to become a Savory Hub.
    a.close-reveal-modal
      i.fa.fa-close

  #special-projects.reveal-modal.small(data-reveal='')
    h2 Special Projects
    p Special Projects are partnerships with aligned organizations, with the intention of building capacity and proof of concept in key strategic regions. Special Projects may evolve into Hubs once capacity is built and local leadership developed.
    a.close-reveal-modal
      i.fa.fa-close
