block variables
doctype html
html
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='IE=Edge', http-equiv='X-UA-Compatible')

    //- stylesheets
    link(rel='stylesheet', href='/assets/app.css')

    //- mapbox
    script(src='//api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js', type='text/javascript')
    link(href='//api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css', rel='stylesheet', type='text/css')

    //- favicons
    link(rel='apple-touch-icon', sizes='57x57', href='/assets/favicons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/assets/favicons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/assets/favicons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/assets/favicons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/assets/favicons/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/assets/favicons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/favicons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/assets/favicons/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/assets/favicons/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/assets/favicons/favicon-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/assets/favicons/favicon-160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='/assets/favicons/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/assets/favicons/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/assets/favicons/favicon-32x32.png', sizes='32x32')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/assets/favicons/mstile-144x144.png')

    //- fonts
    link(href='//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700', rel='stylesheet', type='text/css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    script(src='//use.typekit.net/tye8vow.js')
    script.
      try{Typekit.load();}catch(e){}


    //- title
    title #{title || 'Savory'} | Savory
    
    <!--[if IE 9]>
    <script>document.documentElement.className += ' ie9';</script>
    <![endif]-->
    <!--[if lt IE 9]><script>window.location="/ie"</script><![endif]-->


  body(class=body_class)
    .off-canvas-wrap('data-offcanvas')
      .inner-wrap

        #top(data-magellan-destination='top')
        //- off canvas menu icon
        .off-canvas-menu-holder.hidden-for-large-up
          .row
            .small-12.columns
              a.header-logo(href='/') Savory
              a.left-off-canvas-toggle.right(href='#')
                i.fa.fa-bars
                span Menu

        //- off canvas menu
        aside.left-off-canvas-menu
          ul.site-nav.off-canvas-list
            li.institute-link
              a.off-canvas-submenu-call(href='#') 
                | Savory Institute
                span.right +
            ul.off-canvas-submenu
              include /partials/subnav-si.jade

            li.network-link
              a.off-canvas-submenu-call(href='#') 
                | Savory Network
                span.right +
            ul.off-canvas-submenu
              include /partials/subnav-sn.jade

            li.platform-link
              a.off-canvas-submenu-call(href='#') 
                | Savory Platform
                span.right +
            ul.off-canvas-submenu
              include /partials/subnav-sp.jade

            li.get-involved-link
              a.off-canvas-submenu-call(href='#') 
                | Get Involved
                span.right +
            ul.off-canvas-submenu
              include /partials/subnav-gi.jade

        a.exit-off-canvas

        //- top bar nav (desktop)
        nav.primary-nav.show-for-large-up
          .row
            .large-12.columns
              ul
                li
                  a.header-logo(href='/') Savory
                li.institute-link
                  a(href='/institute') 
                    | Savory Institute
                li.network-link
                  a(href='/network') 
                    | Savory Network
                li.platform-link
                  a(href='/platform') 
                    | Savory Platform
                li.get-involved-link
                  a(href='/get-involved') 
                    | Get Involved

        block subnav
        block content

        footer.site-footer
          .row
            .medium-2.columns.site-map
              h5: a(href='/institute') Savory Institute
              ul
                include /partials/subnav-si.jade
            
            .medium-2.columns.site-map
              h5: a(href='/network') Savory Network
              ul
                include /partials/subnav-sn.jade
            
            .medium-2.columns.site-map
              h5: a(href='/platform') Savory Platform
              ul
                include /partials/subnav-sp.jade
            
            .medium-2.columns.site-map
              h5: a(href='/get-involved') Get Involved
              ul
                include /partials/subnav-gi.jade

            .medium-4.columns
              ul.social
                include /partials/social.jade

              ul.address
                li 1708 Walnut Street
                li Boulder, CO 80302
                li: a(href='mailto:contact@savoryinstitute.org') contact@savoryinstitute.org

              p.charity-text Savory is a US-registered 501c3 charitable organization (EIN: 45-4134319)

    script(src='/assets/app.js')
    script(src='/assets/analytics.js')
