extends /layout

block subnav
	.site-subnav.show-for-large-up(data-magellan-expedition='fixed')
		.row
			.small-12.columns
				ul.sub-nav.no-bullet
					//- don't forget to change in both places
					li(data-magellan-arrival='overview'): a(href='#overview') Overview
					li(data-magellan-arrival='courses'): a(href='#courses') Courses
					li(data-magellan-arrival='consulting'): a(href='#consulting') Consulting
					li(data-magellan-arrival='renew'): a(href='#renew') Renew Accreditation
					li(data-magellan-arrival='ebooks'): a(href='#ebooks') Ebooks
					li(data-magellan-arrival='tools'): a(href='#tools') Tools
					li.top-arrow: a(href='#top'): i.fa.fa-arrow-circle-up
