extends /layout

block subnav
	.site-subnav.show-for-large-up(data-magellan-expedition='fixed')
		.row
			.small-12.columns
				ul.sub-nav.no-bullet
					//- don't forget to change in both places
					li(data-magellan-arrival='overview'): a(href='#overview') Overview
					li(data-magellan-arrival='online-ed'): a(href='#online-ed') Online Education
					li(data-magellan-arrival='data-management'): a(href='#data-management') Data Management
					li(data-magellan-arrival='forum'): a(href='#forum') Collaboration Forum
					li(data-magellan-arrival='courses-services'): a(href='#courses-services') Courses and Services
					li.top-arrow: a(href='#top'): i.fa.fa-arrow-circle-up
