extends /layout

block subnav
	.contain-to-grid.show-for-large-up(data-magellan-expedition='fixed')
		nav.top-bar(data-topbar, role='navigation')
			.top-bar-section
				ul
					include /partials/subnav-gi.jade
