extends /layout

block subnav
	.contain-to-grid.show-for-large-up(data-magellan-expedition='fixed')
		nav.top-bar(data-topbar, role='navigation')
			.top-bar-section
				ul
					+platform-subnav

				ul.right
					li.divider
					li
						a(href='#top')
							i.fa.fa-caret-up
							| &nbsp;Top
				
				ul.right
					li.divider
					li
						a.cart-items(href='#')
							i.fa.fa-shopping-cart 
							| &nbsp; Cart 
							span $0