block variables
  - title = 'Savory Institute'

extends /layout-savory-journeys

block content
  #overview(data-magellan-destination='overview')
  section.overview

  section.half-color
    .art
    .color
    .row
      .medium-6.columns
        h1= title

      .medium-6.columns
        p Welcome to the new Savory Journeys page!!

  section.main
    .tech-platform-points
      .row()
        .medium-4.columns
          .panel()
            .panel-body
              header
                img(src="/assets/images/Enonkishu-Kenya-Cover-1.jpg")
                h3 Savory Journey to the Wild
              p Enonkishu Conservancy, Maasai Mara, Kenya
              footer
                p July 29 – August 7, 2016
                h4 Open
                a.btn-primary(href='/savory-journeys/kenya') View Itinerary

        .medium-4.columns
          .panel()
            .panel-body
              header
                img(src="/assets/images/Ovis-21-Argentina-Chile-Cover-1.jpg")
                h3 Ovis XXI, Argentina and/or Chile
              footer
                p December 9 – 18, 2016
                h4 Coming Soon
                a.btn-primary(href='/savory-journeys/argentina') View Itinerary

        .medium-4.columns
          .panel()
            .panel-body
              header
                img(src="/assets/images/ACHM-Zimbabwe-Cover-1.jpg")
                h3 Africa Centre for Holistic Management, Zimbabwe 
              footer
                p May 26 – June 4, 2017
                h4 Coming Soon
                a.btn-primary(href='/savory-journeys/zimbabwe') View Itinerary

      .row()
        .medium-4.columns
          .panel()
            .panel-body
              header
                img(src="/assets/images/Anadolu-Meralar1Turkey-Cover-1.jpg")
                h3 Anadolu Meraları, Turkey 
              footer
                p August 11 – 20, 2017 
                h4 Coming Soon
                a.btn-primary(href='/savory-journeys/turkey') View Itinerary


  section.main.savory-journeys
    header.overview-header
      a.button.small(href='/assets/docs/terms-and-conditions-for-journey-participants.pdf') + View Terms and Conditions
