block variables
  - title = 'Savory Journeys'

extends /layout-savory-journeys

block content
  #overview(data-magellan-destination='overview')
  section.overview

  section.half-color
    .art
    .color
    .row
      .medium-6.columns
        h1= title

      .medium-6.columns
        p Savory journeys explore the work of the global network of Savory hubs with a focus on educating and connecting visitors to the practices, learning, and success of holistic management throughout the world.

  section.main
    .tech-platform-points
      .row()
          .medium-4.columns
            .panel
              header
                  h3 Journey to Dimbangombe
              .panel-body
                  a(href='/savory-journeys/zimbabwe')
                    img(src="/assets/images/ACHM-Zimbabwe-Cover-1.jpg")
                  p.organization Africa Centre for Holistic Management
                  p.location Zimbabwe
                  p.date May 26 – June 2, 2017
                  h4.status Closed
                footer
                  a.btn-primary(href='/savory-journeys/zimbabwe') View Itinerary

          .medium-4.columns
            .panel
              header
                  h3 Grassland Patagonian Journey
              .panel-body
                  a(href='/savory-journeys/argentina')
                    img(src="/assets/images/Ovis-21-Argentina-Chile-Cover-1.jpg")
                  p.organization Ovis 21
                  p.location Argentina and Chile
                  p.date December 9 – 18, 2016
                  h4.status Closed
                footer
                  a.btn-primary(href='/savory-journeys/argentina') View Itinerary

          .medium-4.columns
            .panel
              header
                h3 Savory Journey to the Wild
              .panel-body
                a(href='/savory-journeys/kenya')
                  img(src="/assets/images/Enonkishu Conservancy, MAASAI MARA, Last Line of Defence Trust 7.jpg")
                p.organization Enonkishu Conservancy
                p.location Maasai Mara, Kenya
                p.date July 29 – August 7, 2016
                h4.status Closed
              footer
                a.btn-primary(href='/savory-journeys/kenya') View Itinerary
