block variables
  - title = 'Soil For Climate Change'

extends layout

block content
  section.soilforchange
    .photo-copy HEALTHY SOIL, a living dynamic ecosystem, is the FOUNDATION of life on Earth. It is the basis for sustainable and productive agriculture. It is the world’s greatest terrestrial CARBON SINK and reservoir of water. And it plays a crucial role in regulating the CLIMATE.

  section.main.copy-overview.sfc-colorblock
    .row
      .small-12.columns
        p This December, over 50,000 people, including governments of more than 190 nations, will gather in Paris for the most important United Nations climate negotiations to date. The aim? To sign the first UNIVERSAL and legally binding CLIMATE AGREEMENT to reduce emissions in an effort to keep a livable climate on Earth.

        p Although REDUCING EMISSIONS is imperative, it IS NOT ENOUGH. Excess atmospheric carbon needs to be DRAWN DOWN from the atmosphere and safely stored where it belongs: the SOIL.

  section.main
    .row
      .manifesto
        img(src="/assets/images/soilforchange/soilmanifesto_wall.png")
    .row
      p.center The SOIL MANIFESTO, with all collected signatures, will be presented to the UNCCD and the UNFCC at COP21.

  section.main.manifesto
    .row
      .medium-12.columns
        // Begin MailChimp Signup Form
        link(href='//cdn-images.mailchimp.com/embedcode/classic-081711.css', rel='stylesheet', type='text/css')
        style(type='text/css').
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          #mc_embed_signup .button {
            width: 80%;
            margin-left: 10%;
            padding: 1em 3em 2em;
            font-size: 30px;
          }
          #mc_embed_signup .mc-field-group {
            position: relative;
            width: 45%;
            padding-bottom: 3%;
            min-height: 50px;
            float: left;
            padding-left: 3em;
            clear: none;
          }
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action='//savoryinstitute.us10.list-manage.com/subscribe/post?u=8067c5756934c846542e0a0f5&id=1b68c31fe6', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            #mc_embed_signup_scroll
              .mc-field-group
                label(for='mce-FNAME') First Name
                input#mce-FNAME(type='text', value='', name='FNAME')
              .mc-field-group
                label(for='mce-LNAME') Last Name
                input#mce-LNAME(type='text', value='', name='LNAME')
              .mc-field-group
                label(for='mce-EMAIL')
                  | Email Address
                  span.asterisk *
                input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
              .mc-field-group
                label(for='mce-MMERGE4') City
                input#mce-MMERGE4(type='text', value='', name='MMERGE4')
              .mc-field-group
                label(for='mce-MMERGE3') Country
                input#mce-MMERGE3(type='text', value='', name='MMERGE3')
              .mc-field-group
                input(type='checkbox', value='1', name='group[1][1]', id='mce-group[1]-1-0', class='checky')
                label(for='mce-group[1]-1-0') YES, I'd like to receive news and updates from the Savory Institute

              #mce-responses.clear
                #mce-error-response.response(style='display:none')
                #mce-success-response.response(style='display:none')
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style='position: absolute; left: -5000px;')
                input(type='text', name='b_8067c5756934c846542e0a0f5_1b68c31fe6', tabindex='-1', value='')
              .clear
                input#mc-embedded-subscribe.button(type='submit', value='Add My Name', name='Add My Name')
        // End mc_embed_signup
      .medium-12.columns
        br
        h1.center
          a(href="/assets/images/soilforchange/soilmanifesto.pdf")  PRINTABLE VERSION OF THE SOIL MANIFESTO
        h1.terra.center signatures: 337
          br

      hr
      br
      br
      br
      br

      .row
        .medium-12.columns
          h1.section-title.center SOIL CAMPAIGN SUPPORTERS
          br
          .soil-supporters
            ul
              li
                a(href="https://www.facebook.com/groups/Soil4Climate/")
                  img(src='/assets/images/Soil4ClimateCircularBadge.jpg')
              li
                a(href="https://www.thecarbonunderground.org/")
                  img(src='/assets/images/tcu.png')
              li
                a(href="http://www.americangrassfed.org/")
                  img(src='/assets/images/cld.jpg')
              li
                a(href="http://regenerationinternational.org/")
                  img(src='/assets/images/ri-logo-large.png')
              li
                a(href="")
                  img(src='/assets/images/ktg.jpg')

  section.main.speaker-bios
    header
      .row
        .medium-6.columns
          h1.section-title CELEBRATE the signing of the SOIL MANIFESTO
          h2.section-title Global Celebration Events
        .medium-6.columns
          a.twitter-timeline(data-dnt='true', href='https://twitter.com/hashtag/soilmanifesto', data-widget-id='672604966926819328') #soilmanifesto Tweets
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  section.main.speaker-bios
    header.overview-header
      .row
        .medium-12.columns
          h2.section-title SAVORY HUB MALAWI
      .row
        .medium-12.columns
          h4 Date: December 11
          h4 Location: KUSUMALA, MALAWAI
          h4 Screening of Allan Savory Ted Talk &amp; Soil Manifesto Signing

  section.main.speaker-bios
    header.overview-header
      .row
        .medium-12.columns
          h2.section-title SAVORY HUB SOUTH AFRICA
      .row
        .medium-12.columns
          h4 Date: December 10
          h4 Location: Savory Hub South Africa - Rockford Farm

  section.main.speaker-bios
    header.overview-header
      .row
        .medium-12.columns
          h2.section-title SAVORY HUB KANSAS
      .row
        .medium-12.columns
          h4 Date: December 1
          h4 Location:  Ecumenical Campus Ministries, 1204 Oread Ave., Lawrence, Kansas
          h4
            a(href="http://www.tallgrassnetwork.com/news/2015/11/23/join-us-soil-for-climate-celebration") http://www.tallgrassnetwork.com/news/2015/11/23/join-us-soil-for-climate-celebration

  section.main.speaker-bios
    header.overview-header
      .row
        .medium-12.columns
          h2.section-title SAVORY HUB CALIFORNIA
      .row
        .medium-12.columns
          h4 Date: December 11
          h4 Location: Fort Bidwell Hotel - Fort Bidwell, California from 3-5pm
          h4 Screening of Allan Savory Ted Talk & Soil Manifesto Signing



  section.main.speaker-bios
    header.overview-header
      .row
        .medium-12.columns
          h2.section-title BOULDER, Colorado
      .row
        .medium-12.columns
          h4 Date:   December 1, 2015
          h4 Time:   6:00 - 8:00pm. Drinks and networking at 5:00pm.
          h4 Place:  Shine Restaurant &amp; Gathering Place
          h4 General Admission $20; Student $10
      .row
        .medium-12.columns
          h1
            a(href="https://www.eventbrite.com/e/soil-for-climate-celebration-event-tickets-19537076923") REGISTER NOW

    .row
      .small-12.columns
        h3.section-title KEYNOTE SPEAKERS
        .row
          .medium-3.columns
            a(href='')
              figure
                .plus +
                img(src='/assets/images/event/speakers/allan.jpg')

          .medium-8.columns
            h1 Allan Savory
            p Allan is the author of <a href="http://www.amazon.com/The-Grazing-Revolution-Radical-Earth-ebook/dp/B00H7JW4OW/ref=sr_1_1?ie=UTF8&qid=1399854843&sr=8-1&keywords=allan+savory">The Grazing Revolution</a> and <a href="http://www.amazon.com/Holistic-Management-Framework-Decision-Making/dp/155963488X/ref=sr_1_3?ie=UTF8&qid=1399854843&sr=8-3&keywords=allan+savory">Holistic Management: A New Framework for Decision Making</a>. He has spoken around the world at hundreds of events, and has become an icon to farmers, ranchers, economists, researchers, managers and more. In 2013 Allan presented at TED in Long Beach on <a href="https://www.ted.com/talks/allan_savory_how_to_green_the_world_s_deserts_and_reverse_climate_change?language=en">How to Fight Desertification and Reverse Climate Change</a>. It is one of the top 100 TED talks of all time with over 3 million views on TED’s site alone.

            h4.sfc-read-more
              a(href="#alan-bio-content" data-content-toggle) see full bio...

            .alan-bio-content#alan-bio-content.extra-content
              p Allan was born in Rhodesia, southern Africa. He pursued an early career as a research biologist and Game Ranger in the British Colonial Service of what was then Northern Rhodesia (today Zambia), and later as a farmer, game rancher, politician and international consultant, based in Southern Rhodesia (today Zimbabwe). In the 1960's, while working on the interrelated problems of increasing poverty and disappearing wildlife, he made a significant breakthrough in understanding what was causing the degradation and desertification of the world’s grassland ecosystems. He went on to work, as a resource management consultant, with numerous managers, eventually on four continents, to develop sustainable solutions.

              p His early results in reversing land degradation in a manner that made, rather than cost, money were impressive. But, as he often states, his failures were equally impressive! Finally, in the mid 1980’s the last of some key missing pieces fell into place. Since then thousands of land, livestock and wildlife managers have been able to demonstrate consistent results following the methodology he called “Holistic Management.”

              p Savory served as a Member of Parliament in the latter days of Zimbabwe’s civil war and leader of the opposition to the ruling party headed by Ian Smith. Exiled in 1979, as a result of his opposition, he emigrated to the United States. In 1992, after Allan was safe to return to Zimbabwe, he and wife Jody Butterfield formed a non-profit, social welfare organization, near Victoria Falls, Zimbabwe, the <a href="http://www.africacentreforholisticmanagement.org/">Africa Centre for Holistic Management</a>. They donated a ranch that would serve as a learning site for people all over Africa. Savory and the five local Chiefs are permanent Trustees of the Africa Centre. Savory and Jody divide their time between their home in Zimbabwe and their house in New Mexico. In 2009, Allan co-founded the <a href="http://savory.global/">Savory Institute</a> with the goal of fostering truly international cooperation in regeneration of the world’s grasslands.

              p In 2003, Savory was awarded the Banksia International Award for the person or organization doing the most for the environment on a global scale. His current work in Africa is receiving much praise and recognition and the Africa Centre for Holistic Management was announced the winner of the 2010 Buckminster Fuller Award for the organization working to solve the world’s most pressing problems.

        hr

        .row
          .medium-3.columns
            a(href='')
              figure
                .plus +
                img(src='/assets/images/soilforchange/hunter.jpg')

          .medium-8.columns
            h1 L. Hunter Lovins
            p L. Hunter Lovins is President of Natural Capitalism Solutions (NCS,) a Colorado non-profit that educates senior #alan-bio-contentdecision makers in the business case for a p Regenerative Economy. NCS, helps companies, communities and countries implement more sustainable practices profitably.

            p Trained as a sociologist and lawyer (JD), Hunter is a professor of sustainable business management at Bard College, and Denver University; and the chief p insurgent of the Madrone Project. Named a Master at the Chinese De Tao Academy, she recently helped launch the Institute for Green Investment in Shanghai.

            h4.sfc-read-more
              a(href="#hunter-bio-content" data-content-toggle) see full bio...

            .hunter-bio-content#hunter-bio-content.extra-content
              p Lovins has consulted for scores of industries and governments worldwide, including International Finance Corporation, Unilever, Walmart, the United Nations and Royal Dutch Shell, as well as sustainability champions Interface, Patagonia and Clif Bar. She has briefed heads of state, leaders of the numerous local p governments, the Pentagon, and about 30 other countries, as well as the UN, and the US Congress.

              p Hunter lectures regularly to audiences around the globe. She has worked in economic development in countries from Afghanistan to New Zealand, served the King of Bhutan on his International Expert Working Group, charged with transforming the global economy. She sits on the steering committee of the Alliance for Sustainability And Prosperity, and Capital Institute Advisory Board. A founding mentor of the Unreasonable Institute, she teaches entrepreneuring and coaches p social enterprises around the world. She is a founding partner in Principium, an impact investing firm.

              p Hunter has written 15 books and hundreds of articles. The Way Out: Kickstarting Capitalism to Save Our Economic Ass (2012) succeeds her international best-selling book, Natural Capitalism, now used in hundreds of colleges. Her latest, Creating a Lean and Green Business System won the 2014 Shingo Prize for p Excellence in Manufacturing Research.

              p Hunter has worked in sustainability policy since 1972. She was instrumental in creating the fields of Economic Renewal, Green Development, and Sustainable Management. She has helped create several MBA schools and is currently professor of Sustainable Business at Bard MBA. She has won dozens of awards, including the European Sustainability Pioneer award, the Right livelihood Award (the alternative Nobel) and the 2012 the Rachel Carson Award. In 2013 she was inducted into the Hall of Fame of the International Society of Sustainability Professionals. Time Magazine recognized her as a Millennium Hero for the Planet, and Newsweek called her the Green Business Icon.
      hr
      .row
        .medium-12.columns
          h2.section-title Savory Hub British Isles Event
      .row
        .medium-12.columns
          h4 Date: December 2, 8-9 PM London
          h4 Location: Virtual Event using Adobe Connect
      hr
      .row
        .medium-12.columns
          h2.section-title Savory Hub Australia Event
      .row
        .medium-12.columns
          h4 Date: December 3
          h4 Location: Mungallala, Australia

      hr
      .row
        .medium-12.columns
          h2.section-title Savory Hub Canada Event
      .row
        .medium-12.columns
          h4 Date: December 4
          h4 Location: Hay River, Northwest Territories - Hay River Centennial Library
          h4 Event: Screening of Earth - A New Wild and Soil Manifesto Signing

  section.main.speaker-bios
    header.overview-header
      .row
        .medium-12.columns
          h1.section-title SAVORY ROAD TO PARIS
          h1.section-title.terra COP21 EVENTS

    header.overview-header
      .row
        .medium-12.columns
          h2.section-title ROME, ITALY
      .row
        .medium-12.columns
          h4 Date: December 4, 2014
          h4 Event: WORLD SOILD DAY - Food and Agriculture Organizations of the United Nations
          h4
            a(href="http://www.fao.org/globalsoilpartnership/world-soil-day/en/") http://www.fao.org/globalsoilpartnership/world-soil-day/en/

    header.overview-header
      .row
        .medium-12.columns
          h2.section-title PARIS, FRANCE
      .row
        .medium-12.columns
          h4 Date: December 5
          h4 Event: Savory Institute Signing of the Soil Manifesto with Kiss The Ground at the largest participatory art installation ever made! Accelerate the Climate Revolution by h4 lighting up the Eiffel tower during #COP21 #IamENERGY
          h4
            a(href="http://www.humanenergy.fr/en/") http://www.humanenergy.fr/en/

    header.overview-header
      .row
        .medium-12.columns
          h2.section-title PARIS, FRANCE
      .row
        .medium-12.columns
          h4 Date: December 5-6
          h4 Event: Global Landscapes Forum
          h4
           a(href="https://www.eventbrite.sg/e/2015-global-landscapes-forum-tickets-16934171563?access=GLF2015-EAP") https://www.eventbrite.sg/e/2015-global-landscapes-forum-tickets-16934171563?access=GLF2015-EAP
    header.overview-header
      .row
        .medium-12.columns
          h2.section-title PARIS, FRANCE
      .row
        .medium-12.columns
          h4 Date: December 6, 2015
          h4 Event: VOICES 4 MOTHER EARTH – World Wisdom Gathering
          h4
            a(href="http://embassyoftheearth.org/2015/10/27/voices-4-mother-earth-world-wisdom-gathering/") http://embassyoftheearth.org/2015/10/27/voices-4-mother-earth-world-wisdom-gathering/
    header.overview-header
      .row
        .medium-12.columns
          h2.section-title PARIS, FRANCE
      .row
        .medium-12.columns
          h4 Date: PARIS, FRANCE
          h4 Event: Women Leading Solutions on the Frontlines of Climate Change
          h4
            a(href="http://wecaninternational.org/pages/wecan-cop21") http://wecaninternational.org/pages/wecan-cop21

    header.overview-header
      .row
        .medium-12.columns
          h2.section-title SAVORY HUB CHIHUAHUA, MEXICO
      .row
        .medium-12.columns
          h4 Date: December 7
          h4 Location: Fundación Produce Chihuahua at 4pm MST
          h4 Video Screening of How to green the desert and reverse climate change ​& Soil Manifesto Signing
