block variables
  - title = 'Soil For Climate Change'

extends layout

block content
  section.soilforchange
    .photo-copy HEALTHY SOIL, a living dynamic ecosystem, is the FOUNDATION of all life on Earth. It is the basis for sustainable and productive agriculture. It is the world’s greatest terrestrial carbon sink and reservoir of water. And it plays a crucial role in regulating the CLIMATE.

  section.main.copy-overview.sfc-colorblock
    .row
      .small-12.columns
        p This December, over 50,000 people, including governments of more than 190 nations, will gather in Paris for the most important United Nations climate negotiations to date. The aim? To sign the first universal and legally binding climate agreement to reduce emissions in an effort to keep a livable climate on Earth.

        p Although reducing emissions is imperative, it is not enough. Excess atmospheric carbon needs to be drawn down from the atmosphere and safely stored where it belongs: the SOIL.

  section.main
    .row
      .medium-12.columns
        p JOIN US in declaring our UTMOST COMMITMENT to protecting, preserving, nurturing, honoring, cherishing, defending, and, above all, REGENERATING SOIL.

        h5 Through regenerating soil we can address the current CLIMATE, food and water crises, and secure a PROSPEROUS and PEACEFUL FUTURE FOR ALL GENERATIONS.

        h5 WE ARE IN THIS TOGETHER.

        iframe(src="https://docs.google.com/a/savory.global/forms/d/1_1vQ5hv_bgfrGWN5eMlnAA7xTKFdO4XcHRCnKS2lWLY/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0") Loading...

  section.sfc-second-hero

  section.main.speaker-bios
    header.overview-header
      .row
        .medium-12.columns
          h1.section-title After signing the Soil Manifesto, look for a celebration event in your area.

  section.main.speaker-bios
    header.overview-header
      .row
        .medium-12.columns
          h2.section-title BOULDER, Colorado
      .row
        .medium-12.columns
          p Join us in BOULDER, Colorado on December 1, 2015 to help us put SOIL to work for Climate.

      .row
        .medium-12.columns
          h4 Date:   December 1, 2015
          h4 Time:   6:00 - 8:00pm. Drinks and networking at 5:00pm.
          h4 Place:  eTown, Boulder
          h4 Price:   $21 for adults; $12 for students

      .row
        .medium-12.columns
          h1 REGISTER NOW

    .row
      .small-12.columns
        h3 KEYNOTE SPEAKERS
        ul.small-block-grid-2.medium-block-grid-4.image-grid
          li
            a(href='/artisans-of-the-grasslands/speakers#allan')
              figure
                .plus +
                img(src='/assets/images/event/speakers/allan.jpg')
                figcaption Allan Savory

          li
            a(href='/artisans-of-the-grasslands/speakers#allan')
              figure
                .plus +
                img(src='/assets/images/event/speakers/allan.jpg')
                figcaption HUNTER LOVINS

  section.main.speaker-bios
    header.overview-header
      .row
        .medium-12.columns
          h2.section-title OTHER GLOBAL EVENTS
      .row
        .medium-12.columns
          p TBD
