block variables
  - title = 'Artisans of the Grasslands Farm Tour'

extends /layout

block content

  section.main
    .row
      .small-12.columns
        .medium-4.columns
          img(src='/assets/images/event/tour2.png')

        .medium-8.columns
          h1 Tour Agenda
          h4 • 7am Leave Hotel
          br
          h4 • Farm Tour
          br
          h4 • Catered Lunch
          br
          h4 • Farm Tour
          br
          h4 • 5:30pm Arrive back at hotel
    br
    hr
    br
    .row
      .small-12.columns
        .medium-4.columns
          img(src='/assets/images/event/pie2.png')
          br
          br
          img(src='/assets/images/event/pie1.png')

        .medium-8.columns
          h1 PIE RANCH
          p A haven for food literacy & justice work, <a href="http://www.pieranch.org/" target="_blank">Pie Ranch</a> started farming on a 14-acre pie slice shaped piece of land with the goal of providing nourishment, education and inspiration for community level social change. Today, Pie Ranch has grown to include just over 100 acres of row crops, pasture and orchards, with over 30 staff and a volunteer board of directors. Their three program areas include youth education, new farmer training, and regional partnerships. They have been innovators in the way they integrate livestock into the rotation of their high quality organic vegetable production.

          p In the last two years, Pie Ranch has embarked on a whole supply system innovation project with Google Food, Stanford Dining, and other regional stakeholders. In particular, and which will be the focus of the tour, co-founder Jered Lawson, will share the integrated livestock and cropping rotation they are developing to feed large organization food service with the values and principles embodied in the Community Supported Agriculture model.
    br
    hr
    br
    .row
      .small-12.columns
        .medium-4.columns
          img(src='/assets/images/event/tom2.jpg')
          br
          br
          img(src='/assets/images/event/tom1.jpg')

        .medium-8.columns
          h1 TOMKAT RANCH
          p TomKat Ranch Educational Foundation is an 1,800 acre property, just off California's famous Hwy 1, and also the home of <a href="http://www.leftcoastgrassfed.com/" target="_blank">LeftCoast Grassfed Beef</a>. The ranch serves as a learning laboratory for animal agriculture focused on climate stability, nature’s benefits, healthy food, biodiversity, and vibrant community. It’s a gorgeous setting that boasts a great deal of biological diversity, with steep gorges forested with Douglas-fir and oaks, a fertile coastal stream valley, and prolific grasslands and coastal scrub. The creek still has breeding steelhead, grasshopper sparrows are abundant, and perennial grasses are thick in some places.

          p The farm was started by Tom and Kat Steyer, read this entertaining story in the NY Times, “<a href="http://www.nytimes.com/2013/11/12/business/an-accidental-cattle-ranch-points-the-way-in-sustainable-farming.html?_r=1" target="_blank">An Accidental Cattle Ranch</a>,” about the ranch and it’s interesting history. They practice Holistic Management to help them accomplish their goals on many fronts all working towards a common good. Their on-site science partner, <a href="http://www.tomkatranch.org/about-us/our-on-site-partners-2/point-blue-tomkat-ranch/" target="_blank">Point Blue</a>, conducts ecosystem studies to help understand the ecological processes that they promote and measures the success of their management actions. Their goal is to develop the ranch into a place where people can come together to learn as they simultaneously tackle the challenges of defining sustainable land management amid a changing climate.

          p We will also enjoy a delicious lunch here prepared by a local caterer sponsored by TomKat Ranch.
    br
    hr
    br
    .row
      .small-12.columns
        .medium-4.columns
          img(src='/assets/images/event/mark.jpg')
          br
          br
          img(src='/assets/images/event/mark2.jpg')

        .medium-8.columns
          h1 MARKEGARD FAMILY GRASSFED
          p And we get the pleasure of visiting the lovely <a href="http://www.markegardfamily.com/" target="_blank">Markegard Family Grassfed</a> operation and a tour of the Cloverdale Coastal Ranches as they describe their multi-generational ranching operation that is producing grassfed, pasture-raised meats and dairy for thousands of families throughout the Bay Area. Some of the management practices that they utilize on their rangeland include keyline design, catchment ponds, permaculture, carbon farming and Holistic Management.

          p The Markegard Family raise Belted Galloway cattle on over 8000 acres of coastal rangeland. Their philosophy in grazing is to manage the cattle herd to simulate large herds of elk and antelope which once roamed the California grasslands. They accomplish this by keeping the herd moving with Holistic Planned Grazing so as never to overgraze an area, but to stimulate growth and the grasslands ability to hold water, sequester carbon and enhance natural biodiversity.
