block variables
  - title = 'Artisans of the Grasslands Menu'

extends /layout

block content

  section.main
    .row
      .small-12.columns
        hr
        .medium-4.columns
          img(src='/assets/images/event/menu/friday.jpg')

        .medium-8.columns
          h1 FRIDAY - MIXER DINNER
          ul
            li Wine Tasting from local wineries that use grazing as part of their vineyard management plan
            li Artisanal Cheese from <a href="http://www.organicpastures.com/" target="_blank">Organic Pastures Dairy</a>. Accompanied by Fig Jam, Local Honeycomb and Artisanal Gluten-Free Breads
            li Organic Crudités Featuring Late-Summer Harvested Cauliflower, Red Radish, Carrots, Celery and Snap Peas, and Sun Dried Tomato Hummus
            li <a href="http://www.markegardfamily.com/" target="_blank">Markegard Family Grass-Fed</a> Bratwurst and <a href="http://www.belcampomeatco.com/" target="_blank">Belcampo Grass-Fed</a> Kielbasa Served with Organic Kraut and Whole Grain Mustard
            li <a href="http://www.bigbluffranch.com/" target="_blank">Big Bluff Ranch</a> Chicken Kabobs:  Honey & Soy and Jamaican Jerk
            li <a href="http://www.housekombucha.com/drupal/" target="_blank">House Kombucha</a>
    .row
      .small-12.columns
        hr
        .medium-4.columns
          img(src='/assets/images/event/menu/saturday.jpg')

        .medium-8.columns
          h1 SATURDAY LUNCH
          ul
            li Asian Greens with Carrots, Jicama, Radishes, Sake & White Balsamic Vinaigrette with <a href="https://epicbar.com/" target="_blank">EPIC</a> Bacon Crumble Topping
            li <a href="http://www.yellowstonegrassfedbeef.com/" target='_blank'>Yellowstone Grassfed Beef</a> Stir fry with Organic Onions and Peppers
            li Organic Bok Choy and Choy Sum with Star Anise Infused Ghee from <a href="http://www.pureindianfoods.com/" target="_blank">Pure Indian Foods</a>
            li Organic Jasmine Rice tossed with Black Sesame Seeds
            li Maple and Star Anise Roasted Fuji Apples
    .row
      .small-12.columns
        hr
        .medium-4.columns
          img(src='/assets/images/event/menu/saturday_banquet.jpg')

        .medium-8.columns
          h1 SATURDAY BANQUET
          ul
            li <a href="http://grasslandbeef.com/" target="_blank">US Wellness Meats</a> & <a href="http://grasslandbeef.com/" target="_blank">5 Dot Ranch</a> Steak Carpaccio with Organic Olive Oil, Capers, and Smoked Sea Salt
            li Organic Field Greens, Cherry Tomatoes, Roasted Asparagus and Mushrooms with Lemon Vinaigrette
            li <a href="http://www.thehonestbison.com/" target="_blank">Honest Bison</a> Meat Loaf with Roasted Sweet Potatoes, Wilted Greens, Balsamic Vinegar-Spiked Tomato Sauce
            li Flourless Chocolate Cake with Seasonal Fruit Compote and a side of <a href="http://www.organicpastures.com/" target="_blank">Organic Pastures Dairy</a> Whipped Cream
            li <a href="http://www.housekombucha.com/drupal/" target="_blank">House Kombucha</a>
    .row
      .small-12.columns
        hr
        .medium-4.columns
          img(src='/assets/images/event/menu/sunday.jpg')

        .medium-8.columns
          h1 SUNDAY LUNCH
          ul
            li “Tagine Makfoul” Moroccan <a href="http://www.starcreeklandstewards.org/" target="_blank">Star Creek Land Stewards</a> Goat Curry
            li Garlic Green Beans Tossed in <a href="http://www.organicpastures.com/" target="_blank">Organic Pastures</a> Butter
            li Roasted Butternut Squash with Ras El Hanout Spice
            li Cumin and Cardamom Spiced Rice with Raisins and Almonds
            li Organic Poached Pears in a Spiced Honey Syrup with Goat Cheese Crumbles
            li <a href="http://www.housekombucha.com/drupal/" target="_blank">House Kombucha</a>


