block variables
  - title = 'Artisans of the Grasslands Speakers'

extends /layout

block content

  section.main
    .row
      .small-12.columns
        h1 Artisans of the Grasslands Speakers
        hr

        dl.our-team-subnav
          dd: a(href='#anya') Anya Fernald
          dd: a(href='#bryan') Bryan Welch
          dd: a(href='#colin') Colin Seis
          dd: a(href='#fred') Fred Provenza
          dd: a(href='#jonah') Jonah Sachs
          dd: a(href='#judy') Judith Schwartz
          dd: a(href='#kat') Kat Taylor
          dd: a(href='#nicolette') Nicolette Niman
          dd: a(href='#robb') Robb Wolf
          dd: a(href='#sally') Sally Fallon Morell

  #anya
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/anya.jpg')

      .medium-8.columns
        h2 Anya Fernald
        p Anya Fernald brings 15 years of experience building and growing food businesses to Belcampo. Her first job after college was to launch a cooperative of cheesemakers in rural Sicily, from there she moved to direct international microinvestments for the Italian Slow Food Foundation.
        P Upon returning to the US in 2005, she built and ran a produce distribution company and launched Slow Food Nation and Eat Real. Anya then developed business plans via her own company, Live Culture, where she first began working with partner Todd Robinson as a client.
        p Anya has been a regular judge on the Food Network’s Iron Chef since 2009 and also serves as the founding board chair of the Food Craft Institute.


  #bryan
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/bryan.jpg')

      .medium-8.columns
        h2 Bryan Welch
        p Bryan Welch is a rancher and entrepreneur. He is CEO of B The Change Media, a multi-platform media company focused on business as a force for good in the world, which he founded this year in cooperation with B Lab and the B Corporations.
        p He and his wife, Carolyn, raise organic, grass-fed landrace cattle, sheep and goats at Rancho Cappuccino near Lawrence, Kansas.
        p For 19 years he ran Ogden Publications, Inc., the owners of Mother Earth News, Mother Earth Living, Utne Reader, GRIT and several other category-leading media brands focused on sustainability, natural health and rural lifestyles.
        p For 10 years leading up to 2013, Mother Earth News was the fastest-growing major magazine in North America. Last year it was also the magazine with the longest time spend reading by its audience; and the magazine most likely to be a reader’s favorite according to MediaMark Research.
        p From its inception, Ogden Publications sustained steady growth in audience, revenues and profits based on its rapid development of new products and the digital media. In the past five years revenues have grown by 15 percent and profits are up 34 percent. Over the same five years audiences have more than doubled, from about 5 million people in 2009 to more than 12 million at the end of 2014.
        p Ogden Publications is a certified B Corporation and winner of several awards for corporate environmental stewardship.
        p Bryan has served on the boards of the Magazine Publishers Association, the Social Venture Network, Down Home Ranch Foundation and several other nonprofits. He also has served on corporate boards of directors and advisory boards of companies involved in natural foods, ecommerce and the media. He was Niche Media’s 2014 “Niche Rock Star of the Year;” is a member of Mequoda Group’s Digital Media Hall of Fame; and was honored with the B Corporations’ 2014 Hal Taussig lifetime-achievement award for “using business as a force for good.”
        p He holds a master’s degree from Harvard University where he studied media policy and media management at the Kennedy School of Government and Harvard Business School.
        p Bryan’s award-winning book, Beautiful & Abundant: Building the World We Want, appeared in 2011.

  #colin
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/colin.jpg')

      .medium-8.columns
        h2 Colin Seis
        p The Seis family is one of the early pioneering families in the Gulgong district of New South Wales Australia, and has been farming and grazing sheep in the area since the 1860s.
        p Colin Seis owns the 2000 acre property “Winona” which is situated North of Gulgong in the central tablelands of New South Wales.  The property runs around four thousand, fine wool merino sheep, and grows around 500 acres annually to oats, wheat and cereal rye using the ‘pasture cropping’ technique that Colin developed over 20 years ago. Another important enterprise on Winona is native grass seed which is harvested from the property’s native grassland.
        p Winona also runs one of the largest kelpie, working dog, studs in the world and sells dogs and pups to many countries in North and South America, Europe and Scandinavia as well as all states of Australia.
        p Colin has a published book on training working dogs (“Working Dogs”), which is sold internationally.  He has also conducted dog training clinics internationally in the USA, Norway and Sweden and in most states of Australia.
        p Colin is best known for the development of a practice known as ‘Pasture Cropping’. Created in 1993 by Colin, it is a technique of zero till sowing an annual crop into perennial pastures. ‘Pasture Cropping’ will not only produce high yielding crops but has been proven to restore landscape ecological health, restore native grasslands, increase native grass recruitment in quantity and diversity , improve grazing pasture quality and sequester large amounts of soil carbon.
        p In an era of growing human population it has the potential to feed the increasing human population while restoring grassland ecosystems, and soil health.
        p This revolutionary method of growing crops goes far beyond short-term crop yields.  It contributes to the development of vitally needed topsoil, water management, stabilizing the many forms of soil erosion, controlling weeds, increasing pasture plant numbers and diversity as well as great potential for restoring grasslands, increasing soil carbon levels , improving soil health and growing nutrient dense, healthy food.
        p By retaining perennial grass in grazing and cropping systems and having 100% ground cover
        p 100% of the time, large increase in plant biomass can be achieved when compared to traditional farming methods. This biomass, when combined with plant root exudates and soil microbes, has been shown to dramatically increase soil carbon levels and improve the soil food web.
        p On “Winona” soil carbon levels have increased by over 200% during a 10 - year period.
        p Independent studies at Winona on have found that “pasture cropping” is 20% more profitable than conventional agricultural practices, this is coupled with great environment and ecological benefits that will improve the soil and regenerate landscapes.

        p Colin thought that his original concept could be further improved to enhance ecological function, soil health, and soil carbon, reduce insect attack, and reduce pesticide and fertiliser use on farms around the world. Colin developed ‘multi species pasture cropping’ in 2011 by using a group of up to 10 annual plant species that produce good quality forage, have a range of different root systems, includes, legume species, flowing plants and species that will add organic matter on the soil surface, and in the soil, as root mass. The species mix can also include vegetables. These species are sown into grassland or perennial pastures using the ‘pasture cropping’ technique, which will enhance the grassland, not destroy it.

        p ‘Multi species pasture cropping’ has been shown to:
        ul
          li Restore grasslands
          li Produce low cost, nutrient dense vegetables for human consumption.
          li Produced superior quality stock forage.
          li Improve soil health, soil carbon, structure, and water infiltration.
          li Reduced or no pesticides. (can be an organic system)
          li Reduced fertiliser inputs
          li More beneficial insects, (no insect attack)
          li After grazing the multi species crop, of oats or wheat can be harvested for grain.

        p Monoculture grain production around the world, with high pesticide use and soil destroying technology can no longer be afforded ecologically. ‘Multi species pasture cropping’ address the ecological problems associated with present day agricultural practices and produces food for the growing human population while restoring ecological function to farms worldwide.

        p In addition to owning and managing Winona, Colin’s dedication to farmer education, support programmes and generosity in enabling extensive scientific study and evaluation of his practices has resulted in ‘Pasture Cropping’ being adopted around the world and an estimated three million acres are being sown using the regenerative technique in Australia, USA, South Africa, South America Europe and Scandinavia to grow crops and restore grasslands and soil. Because of this there are now well over 3000 farmers worldwide, managing an estimated three million acres, using the technique.
        p During the development of ‘pasture cropping’ and improved land management techniques Colin has been awarded many times for his achievements. Some of these awards include:
        p The Australian Conservation Farmer of the year in 2005.  The National Carbon Farmer of the Year in 2007. The Australian Green Agriculture and Innovation award 2012 (GAIA), which is awarded for leading contributions to soil health and sequestration of Carbon and Colin’s most recent award in September 2014 was winning Australia’s most prestigious farming and environmental award, the National Bob Hawke Landcare award.
        p Colin Seis
        p “Winona”
        p Gulgong
        p NSW   Australia  2852
        p Ph 0263 759256
        p Email:   colin@winona.net.au

  #fred
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/fred.jpg')

      .medium-8.columns
        h2 Fred Provenza
        p Fred Provenza is professor emeritus of Behavioral Ecology with the Department of Wildland Resources at Utah State University.  He is a pioneer in the study of how behavior links soils, plants, herbivores, and humans and their collective effects on landscapes. The many awards he received for research, teaching, and mentoring represent the productivity that flowed from warm professional and personal relationships with over 75 graduate students, post-doctoral students, visiting scientists, and colleagues he worked with during the past 40 years.
        p For the past 40 years, Fred’s team has produced research that laid the foundation for what is now known as behavior-based management of livestock and wildlife. That work has inspired researchers in disciplines as diverse as animal behavior, animal welfare, wildlife damage science and management, veterinary science, ruminant nutrition, human nutrition and biopsychology, chemical ecology, plant ecology and horticulture, landscape restoration ecology, and pasture and rangeland science and management. Along with colleagues and students, he has authored or co-authored over 250 publications in scientific journals and books. He has been an invited speaker at over 400 conferences. His latest book, co-authored with Michel Meuret, is The Art & Science of Shepherding: Tapping the Wisdom of French Herders.
        p These efforts led to the formation in 2001 of an international network of scientists and land managers from five continents. That consortium, known as BEHAVE (Behavioral  Education for Human, Animal, Vegetation and Ecosystem Management), is committed to integrating behavioral principles and processes with local knowledge to  enhance ecological, economic and social values of rural and urban communities. They seek to inspire and enable people to understand and use knowledge of behavior, ours and other creatures, to create environmentally friendly relationships that reconcile differences of opinion about how to manage landscapes. In this process, everyone involved is a student attempting to better understand behavior at all levels from genes to landscapes. We use understanding of behavior to help people learn to appreciate that our differences are our strength in sustaining communities and landscapes by integrating diverse ecological, economic and social values and services.
        p Fred Provenza
        p Department of Wildland Resources
        p Utah State University
        p Email fred.provenza@emeriti.usu.edu


  #jonah
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/jonah.jpg')

      .medium-8.columns
        h2 Jonah Sachs
        p Jonah Sachs is an internationally recognized storyteller, author, designer and entrepreneur. As the co-founder and CEO of Free Range Studios, Jonah has helped hundreds of social brands and causes rise above the media din with breakthrough campaigns. His work on legendary viral videos like The Meatrix and The Story of Stuff series have brought key social issues to the attention of more than 70 million viewers and his interactive work has three times been honored with Best Of awards at the standard-setting South By Southwest digital festival.
        p Jonah’s passion lies in exploring the intersection of ancient storytelling techniques, social responsibility and emerging technologies. In his book Winning the Story Wars, published by Harvard Business Review Press, he argues that brands which tell values-driven stories through the right channels will not only revolutionize marketing, they may become humanity’s greatest hope for the future. Jonah’s work and opinions have been featured in The New York Times, The Washington Post, CNN, FOX News, Sundance Film Festival, NPR and in FastCompany Magazine, who named him one of the 50 most influential social innovators. He lives in Oakland California.

  #judy
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/judy.jpg')

      .medium-8.columns
        h2 Judith Schwartz
        p Judith D. Schwartz is an author and journalist whose 2013 book "Cows Save the Planet" takes a soil's-eye view of global challenges from climate change to chronic disease. Her new book, to be published by Palgrave-Macmillan in 2016, looks at the global water crisis from the perspective of land-based processes. Both works explore the role of Holistic Management in large-scale land restoration. Judith has an MA in counseling psychology and an MS from the Columbia Graduate School of Journalism, and is based in Southern Vermont.

  #kat
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/kat.jpg')

      .medium-8.columns
        h2 Kat Taylor
        p Kat Taylor’s life has been dedicated to serving social justice and environmental health. Kat is active in a variety of social business, public benefit and philanthropic ventures in the San Francisco Bay Area. Currently, she serves as CEO of Beneficial State Bank, a Community Development Financial Institution whose mission is to bring beneficial banking to low-income communities in an economically and environmentally sustainable manner. Beneficial State Bank is the result of a merger between OneCalifornia Bank, which Kat and her husband, Tom Steyer, founded in Oakland, CA, and ShoreBank Pacific, with offices in Oregon and Washington. The bank’s revolutionary ownership design means that its profits be invested in the communities it serves.
        p Kat is also a Founding Director of TomKat Ranch Educational Foundation (TKREF) dedicated to sustainable food production through ranching, tours, research, and school lunch and garden programs. TKREF owns the social business LeftCoast GrassFed, which raises cattle in ways good for people and planet. Kat serves and has served on many non-profit boards including the Harvard Board of Overseers, Good Samaritan Family Resource Center, Insight Prison Project, KQED, Co-Chair of “Building the New CuriOdyssey Campaign”, and Yerba Buena Center for the Arts. She graduated from Harvard College and earned a JD/MBA from Stanford.


  #nicolette
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/nicolette.jpg')

      .medium-8.columns
        h2 Nicolette Niman
        p Nicolette Hahn Niman is an attorney, writer and livestock rancher.  She is regularly featured in media about sustainable food production, including an August 2009 TIME magazine cover story.  Her writings include the book Righteous Porkchop:  Finding a Life and Good Food Beyond Factory Farms (HarperCollins, 2009, <a href="http://www.righteousporkchop.com" target="_blank">righteousporkchop.com</a> ), which Michael Pollan called, “a searing and utterly convincing indictment of the modern meat industry.”  She has authored several essays on the subject of food and farming for the New York Times, as well as for the Sunday Los Angeles Times.  She is regular blogger for The Atlantic, and has written for The San Francisco Chronicle, Huffington Post, Cowboys & Indians, and CHOW, among others.
        p Previously, she was the Senior Attorney for the environmental organization Waterkeeper Alliance where she was in charge of the organization’s campaign to reform the concentrated livestock and poultry industry, and, before that, an attorney for National Wildlife Federation.   She served two years on the Board of Overseers for Chefs Collaborative.  Ms. Hahn Niman served two terms on the city council for the City of Kalamazoo, Michigan (pop. 80,000), during which time she served on sixteen community boards and commissions including the Environmental Concerns Committee.
        p She received her Juris Doctorate, cum laude, from the University of Michigan in 1993 and her B.A. in Biology and French from Kalamazoo College in 1989.  She lives in Bolinas, California with her son, Miles, and her husband, Bill Niman, founder of Niman Ranch, a natural meat company supplied by a network of over 700 traditional farmers and ranchers.  They now market the products of their ranch under the name BN Ranch.

  #robb
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/robb.jpg')

      .medium-8.columns
        h2 Robb Wolf
        p Robb Wolf, a former research biochemist is the New York Times Best Selling author of The Paleo Solution – The Original Human Diet. A student of Prof. Loren Cordain, author of The Paleo Diet, Robb has transformed the lives of hundreds of thousands of people around the world via his top ranked iTunes podcast, book and seminars.
        p Robb has functioned as a review editor for the Journal of Nutrition and Metabolism, is co-founder of the nutrition and athletic training journal, The Performance Menu, co-owner of NorCal Strength & Conditioning, one of the Men’s Health “top 30 gyms in America” and he is a consultant for the Naval Special Warfare Resiliency program. He serves on the board of Directors/Advisors for: Specialty Health Inc, Paleo FX,  and Paleo Magazine. Robb lives in Reno, Nevada with his wife Nicki and daughters Zoe and Sagan.

  #sally
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/sally.jpg')

      .medium-8.columns
        h2 Sally Fallon Morell
        p Sally Fallon Morell is founding president of the Weston A. Price Foundation and author of the best-selling cookbook Nourishing Traditions and of the book Nourishing Broth (with Kaayla T. Daniel, PhD, CCN). She is also the founder of A Campaign for Real Milk.

        p Mrs. Fallon explains the importance of returning to organic farming, pasture-fed livestock and whole traditional foods, properly prepared - if Americans are to regain their health and vitality, and return to an economy based on small scale organic production and food processing that returns added value to the independent farmer, rather than to large scale food processing conglomerates.

        p Mrs. Fallon draws on a wealth of scientific and anthropological findings that include the importance of traditional bone broths as a source of minerals and as an aid to digestion, made from the bones of chicken, fish, beef and lamb; of proper preparation of grain, nuts and legumes to neutralize enzyme inhibitors and mineral-blocking substances found in all seed foods; and of ancient techniques for food preservation that enhance nutrient content while supplying beneficial digestive flora on a daily basis.


