block variables
  - title = 'Artisans of the Grasslands Speakers'

extends /layout

block content

  section.main
    .row
      .small-12.columns
        h1 Artisans of the Grasslands Speakers
        hr
        .medium-4.columns
          dl.our-team-subnav
            dd: a(href='#allan') Allan Savory
            dd: a(href='#anya') Anya Fernald
            dd: a(href='#birju') Birju Pandya
            dd: a(href='#brock') Brock Dolman
            dd: a(href='#bryan') Bryan Welch
            dd: a(href='#colin') Colin Seis
            dd: a(href='#courtney') Courtney White
            dd: a(href='#cindy') Dr. Cindy Daley
            dd: a(href='#richard') Dr. Richard Teague
            dd: a(href='#finian') Finian Makepeace
            dd: a(href='#haven') Haven Bourque
            dd: a(href='#diana') Diana Rodgers
            dd: a(href='#don') Don Shaffer
            dd: a(href='#durukan') Durukan Dudu
        .medium-4.columns
          dl.our-team-subnav
            dd: a(href='#jared') Jared Stone
            dd: a(href='#jenni') Jenni Harris
            dd: a(href='#jenny') Jenny McGruther
            dd: a(href='#jody') Jody Butterfield
            dd: a(href='#jonah') Jonah Sachs
            dd: a(href='#judy') Judy Schwartz
            dd: a(href='#kat') Kat Taylor
            dd: a(href='#kelly') Kelly Mulville
            dd: a(href='#nicolette') Nicolette Niman
            dd: a(href='#nora') Nora Gedgaudas
            dd: a(href='#precious') Precious Phiri
            dd: a(href='#ray') Ray Archuleta
            dd: a(href='#ivan') Ivan Aguirre
            dd: a(href='#jason') Jason Rowntree
            dd: a(href='#larry') Larry Kopald
        .medium-4.columns
          dl.our-team-subnav
            dd: a(href='#peter') Peter Byck
            dd: a(href='#tim') Tim Joseph
            dd: a(href='#robb') Robb Wolf
            dd: a(href='#sally') Sally Fallon Morell
            dd: a(href='#sara') Sara Scherr
            dd: a(href='#seth') Seth Itzkan
            dd: a(href='#tom') Tom Newmark
            dd: a(href='#tony') Tony Malmberg
            dd: a(href='#will') Will Harris
            dd: a(href='#andrea') Andrea Malmberg
            dd: a(href='#byron') Byron Shelton
            dd: a(href='#chris') Chris Kerston
            dd: a(href='#daniela') Daniela Ibarra-Howell
            dd: a(href='#tre') Tre' Cates

  #allan
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/allan.jpg')

      .medium-8.columns
        h2 Allan Savory
        p Allan was born in Rhodesia, southern Africa. He pursued an early career as a research biologist and Game Ranger in the British Colonial Service of what was then Northern Rhodesia (today Zambia), and later as a farmer, game rancher, politician and international consultant, based in Southern Rhodesia (today Zimbabwe). In the 1960's, while working on the interrelated problems of increasing poverty and disappearing wildlife, he made a significant breakthrough in understanding what was causing the degradation and desertification of the world’s grassland ecosystems. He went on to work, as a resource management consultant, with numerous managers, eventually on four continents, to develop sustainable solutions.
        p His early results in reversing land degradation in a manner that made, rather than cost, money were impressive. But, as he often states, his failures were equally impressive! Finally, in the mid 1980’s the last of some key missing pieces fell into place. Since then thousands of land, livestock and wildlife managers have been able to demonstrate consistent results following the methodology he called “holistic management.”
        p Savory served as a Member of Parliament in the latter days of Zimbabwe’s civil war and leader of the opposition to the ruling party headed by Ian Smith. Exiled in 1979, as a result of his opposition, he emigrated to the United States where he co­founded the non­profit organization Holistic Management International with his wife, Jody Butterfield. In 1992 they formed a second non­profit (social welfare) organization near Victoria Falls, Zimbabwe, the Africa Centre for Holistic Management, donating a ranch that would serve as a learning site for people all over Africa. Savory and the five local Chiefs are permanent Trustees of the Africa Centre. Savory and his wife divide their time between Zimbabwe and New Mexico.
        p In 2003, Savory was awarded the Banksia International Award for the person or organization doing the most for the environment on a global scale. His current work in Africa is receiving much praise and recognition and the Africa Centre for Holistic Management was announced the winner of the 2010 Buckminster Fuller Award for the organization working to solve the world’s most pressing problems.

  #anya
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/anya.jpg')

      .medium-8.columns
        h2 Anya Fernald
        p Anya Fernald brings 15 years of experience building and growing food businesses to Belcampo. Her first job after college was to launch a cooperative of cheesemakers in rural Sicily, from there she moved to direct international microinvestments for the Italian Slow Food Foundation.
        P Upon returning to the US in 2005, she built and ran a produce distribution company and launched Slow Food Nation and Eat Real. Anya then developed business plans via her own company, Live Culture, where she first began working with partner Todd Robinson as a client.
        p Anya has been a regular judge on the Food Network’s Iron Chef since 2009 and also serves as the founding board chair of the Food Craft Institute.

  #birju
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/birju.jpg')

      .medium-8.columns
        h2 Birju Pandya
        p Birju Pandya focuses on the nexus of money, social good and inner transformation. He works with multiple firms in finance and real estate on these topics, including <a href="http://armoniallc.com/">Armonia</a>, <a href="http://rsfsocialfinance.org/about/values/">RSF Social Finance</a>, and <a href="http://www.nesselinc.com/">Nessel Development</a>.  The first of which has been a key Savory Institute supporter.  Birju is a longtime volunteer of <a href="http://www.servicespace.org/about/team.php?pg=index">ServiceSpace</a>, a non-profit that has been popularizing gift culture through numerous portals. Prior to this, Birju was a consultant with <a href="http://www.mckinsey.com">McKinsey &amp; Company</a>. He lives in Berkeley, CA.

  #brock
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/brock.jpg')

      .medium-8.columns
        h2 Brock Dolman
        p Brock Dolman is a co-founder of the Sowing Circle, LLC Intentional Community &amp; <a href="http://www.oaec.org">Occidental Arts and Ecology Center</a>, where he directs the Permaculture Program, Wildlands Program and the WATER Institute in Sonoma County, California.
        p He is a wildlife biologist, permaculture designer and watershed ecologist. Brock has worked as a Permaculture educator/consultant internationally in Mexico, Costa Rica, Ecuador, U.S. Virgin Islands, Spain, Brazil, China, Canada, Zimbabwe, Democratic Republic of Congo, Cuba and Haiti &amp; and widely in the U.S.A, and has co-facilitated over 80 Permaculture Design Certificate Courses since 1995. He has been featured in the award winning films: The 11th Hour by Leonardo DiCaprio; The Call of Life by Species Alliance; and Permaculture: A Quiet Revolution by Vanessa Shultz; Russian River: All Rivers. In October 2012 he gave a <a href="http://www.youtube.com/watch?v=Izf6D1LQlFE">City 2.0 TEDx talk</a>. He was a cofounder of the Sonoma/Marin Coastal Prairie working group, which created the website: <a href="http://www.sonoma.edu/cei/prairie/">California’s Coastal Prairies</a>. He is a Board member of Sonoma Mountain Institute that works with cattle based animal impact for regenerative rangeland practices on a number of properties in Sonoma County. In 1992 he completed his BA in Agro-Ecology &amp; Conservation Biology, graduating with honors from the University of California Santa Cruz with the Biology Department and Environmental Studies Department.

  #bryan
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/bryan.jpg')

      .medium-8.columns
        h2 Bryan Welch
        p Bryan Welch is a rancher and entrepreneur. He is CEO of B The Change Media, a multi-platform media company focused on business as a force for good in the world, which he founded this year in cooperation with B Lab and the B Corporations.
        p He and his wife, Carolyn, raise organic, grass-fed landrace cattle, sheep and goats at Rancho Cappuccino near Lawrence, Kansas.
        p For 19 years he ran Ogden Publications, Inc., the owners of Mother Earth News, Mother Earth Living, Utne Reader, GRIT and several other category-leading media brands focused on sustainability, natural health and rural lifestyles.
        p For 10 years leading up to 2013, Mother Earth News was the fastest-growing major magazine in North America. Last year it was also the magazine with the longest time spend reading by its audience; and the magazine most likely to be a reader’s favorite according to MediaMark Research.
        p From its inception, Ogden Publications sustained steady growth in audience, revenues and profits based on its rapid development of new products and the digital media. In the past five years revenues have grown by 15 percent and profits are up 34 percent. Over the same five years audiences have more than doubled, from about 5 million people in 2009 to more than 12 million at the end of 2014.
        p Ogden Publications is a certified B Corporation and winner of several awards for corporate environmental stewardship.
        p Bryan has served on the boards of the Magazine Publishers Association, the Social Venture Network, Down Home Ranch Foundation and several other nonprofits. He also has served on corporate boards of directors and advisory boards of companies involved in natural foods, ecommerce and the media. He was Niche Media’s 2014 “Niche Rock Star of the Year;” is a member of Mequoda Group’s Digital Media Hall of Fame; and was honored with the B Corporations’ 2014 Hal Taussig lifetime-achievement award for “using business as a force for good.”
        p He holds a master’s degree from Harvard University where he studied media policy and media management at the Kennedy School of Government and Harvard Business School.
        p Bryan’s award-winning book, Beautiful &amp; Abundant: Building the World We Want, appeared in 2011.

  #colin
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/colin.jpg')

      .medium-8.columns
        h2 Colin Seis
        p The Seis family is one of the early pioneering families in the Gulgong district of New South Wales Australia, and has been farming and grazing sheep in the area since the 1860s.
        p Colin Seis owns the 2000 acre property “Winona” which is situated North of Gulgong in the central tablelands of New South Wales.  The property runs around four thousand, fine wool merino sheep, and grows around 500 acres annually to oats, wheat and cereal rye using the ‘pasture cropping’ technique that Colin developed over 20 years ago. Another important enterprise on Winona is native grass seed which is harvested from the property’s native grassland.
        p Winona also runs one of the largest kelpie, working dog, studs in the world and sells dogs and pups to many countries in North and South America, Europe and Scandinavia as well as all states of Australia.
        p Colin has a published book on training working dogs (“Working Dogs”), which is sold internationally.  He has also conducted dog training clinics internationally in the USA, Norway and Sweden and in most states of Australia.
        p Colin is best known for the development of a practice known as ‘Pasture Cropping’. Created in 1993 by Colin, it is a technique of zero till sowing an annual crop into perennial pastures. ‘Pasture Cropping’ will not only produce high yielding crops but has been proven to restore landscape ecological health, restore native grasslands, increase native grass recruitment in quantity and diversity , improve grazing pasture quality and sequester large amounts of soil carbon.
        p In an era of growing human population it has the potential to feed the increasing human population while restoring grassland ecosystems, and soil health.
        p This revolutionary method of growing crops goes far beyond short-term crop yields.  It contributes to the development of vitally needed topsoil, water management, stabilizing the many forms of soil erosion, controlling weeds, increasing pasture plant numbers and diversity as well as great potential for restoring grasslands, increasing soil carbon levels , improving soil health and growing nutrient dense, healthy food.
        p By retaining perennial grass in grazing and cropping systems and having 100% ground cover
        p 100% of the time, large increase in plant biomass can be achieved when compared to traditional farming methods. This biomass, when combined with plant root exudates and soil microbes, has been shown to dramatically increase soil carbon levels and improve the soil food web.
        p On “Winona” soil carbon levels have increased by over 200% during a 10 - year period.
        p Independent studies at Winona on have found that “pasture cropping” is 20% more profitable than conventional agricultural practices, this is coupled with great environment and ecological benefits that will improve the soil and regenerate landscapes.

        p Colin thought that his original concept could be further improved to enhance ecological function, soil health, and soil carbon, reduce insect attack, and reduce pesticide and fertiliser use on farms around the world. Colin developed ‘multi species pasture cropping’ in 2011 by using a group of up to 10 annual plant species that produce good quality forage, have a range of different root systems, includes, legume species, flowing plants and species that will add organic matter on the soil surface, and in the soil, as root mass. The species mix can also include vegetables. These species are sown into grassland or perennial pastures using the ‘pasture cropping’ technique, which will enhance the grassland, not destroy it.

        p ‘Multi species pasture cropping’ has been shown to:
        ul
          li Restore grasslands
          li Produce low cost, nutrient dense vegetables for human consumption.
          li Produced superior quality stock forage.
          li Improve soil health, soil carbon, structure, and water infiltration.
          li Reduced or no pesticides. (can be an organic system)
          li Reduced fertiliser inputs
          li More beneficial insects, (no insect attack)
          li After grazing the multi species crop, of oats or wheat can be harvested for grain.

        p Monoculture grain production around the world, with high pesticide use and soil destroying technology can no longer be afforded ecologically. ‘Multi species pasture cropping’ address the ecological problems associated with present day agricultural practices and produces food for the growing human population while restoring ecological function to farms worldwide.

        p In addition to owning and managing Winona, Colin’s dedication to farmer education, support programmes and generosity in enabling extensive scientific study and evaluation of his practices has resulted in ‘Pasture Cropping’ being adopted around the world and an estimated three million acres are being sown using the regenerative technique in Australia, USA, South Africa, South America Europe and Scandinavia to grow crops and restore grasslands and soil. Because of this there are now well over 3000 farmers worldwide, managing an estimated three million acres, using the technique.
        p During the development of ‘pasture cropping’ and improved land management techniques Colin has been awarded many times for his achievements. Some of these awards include:
        p The Australian Conservation Farmer of the year in 2005.  The National Carbon Farmer of the Year in 2007. The Australian Green Agriculture and Innovation award 2012 (GAIA), which is awarded for leading contributions to soil health and sequestration of Carbon and Colin’s most recent award in September 2014 was winning Australia’s most prestigious farming and environmental award, the National Bob Hawke Landcare award.
        p Colin Seis
        p “Winona”
        p Gulgong
        p NSW   Australia  2852
        p Ph 0263 759256
        p Email:   colin@winona.net.au

  #courtney
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/courtney.jpg')

      .medium-8.columns
        h2 Courtney White
        p A former archaeologist and Sierra Club activist, Courtney White dropped out of the ‘conflict industry’ in 1997 to co-found the Quivira Coalition, a nonprofit dedicated to building bridges between ranchers, conservationists, public land managers, scientists and others around practices that improve land health (see <a href="http://www.quiviracoalition.org">www.quiviracoalition.org</a>). Today, his writing and conservation work focuses on building economic and ecological resilience on working landscapes, with a special emphasis on carbon ranching and the new agrarian movement.
        p His writing has appeared in numerous publications, including Farming, Acres Magazine, Rangelands, the Natural Resources Journal and Solutions. His essay The Working Wilderness: a Call for a Land Health Movement” was published by Wendell Berry in 2005 in his collection of essays titled The Way of Ignorance.
        p In 2008, Island Press published Courtney’s book Revolution on the Range: the Rise of a New Ranch in the American West. He co-edited, with Dr. Rick Knight, Conservation for a New Generation, also published by Island Press in 2008.
        p In 2010, Courtney was given the Michael Currier Award for Environmental Service by the New Mexico Community Foundation. In 2012, he was a writer-in-residence at the U Cross Foundation, in northwestern Wyoming, and he was the first Aldo Leopold Writer-in-Residence at Mi Casita, in Tres Piedras, New Mexico, courtesy of the Aldo Leopold Foundation and the U.S. Forest Service.
        p In 2012, he published a collection of black-and-white photographs of the American West in an online book titled The Indelible West. It includes a Foreword by Wallace Stegner (written in 1992). See: <a href="http://www.indeliblewest.com">www.indeliblewest.com</a>
        p In 2014, his book Grass, Soil, Hope: a Journey through Carbon Country was published by Chelsea Green Press and included a Foreword by Michael Pollan.
        p In early 2015, Counterpoint Press published a collection of his essays titled Age of Consequences: a Chronicle of Concern and Hope with an Introduction by Wendell Berry.
        p In fall 2015, Chelsea Green Press will publish his book Two Percent Solutions for the Planet: 50 Low-cost, Low-tech, Nature-based Practices for Combating Hunger, Drought and Climate Change.
        p More of Courtney’s work can be found on his web site: <a href="http://www.awestthatworks.com">www.awestthatworks.com</a>
        p He lives in Santa Fe, New Mexico, with his family and a backyard full of chickens.

  #cindy
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/cindy.jpg')

      .medium-8.columns
        h2 Dr. Cindy Daley
        p Dr. Cindy Daley’s mission is to bring ecological farming practices into the academic setting by creating a living laboratory for students to become directly involved in organic dairy production practices. In 2007, she was involved in creating the only academically-based Organic Dairy Program (ODP) in the Western Region, a true pasture based system where students are directly involved in the process including learning the fundamentals of Holistic Planned Grazing, organic pasture management and silage production, preventative nutrition for herd health, milking hygiene, milk quality, organic calf management, and whole farm systems planning. Positions on the Student Dairy Management Team are very competitive.

        p Dr. Daley is also actively involved in grassfed beef trials and research. She is famous for her recent paper on fatty acid profile and antioxidant content in grassfed beef and it’s comparison to grainfed beef.

        p Dr. Daley is actively involved in a national consortium of researchers working to bring a variety of educational materials and research bulletins on-line to benefit organic producers as well as the extension service, organic certification personnel and agricultural educators. The applied research program is driven by the recommendations of organic dairy producers throughout the Western Region. Active research projects include reduced grain feeding and the use of soil amendments to improve forage quality and net profitability; the effect of pasture DMI on milk nutrient content and the use of fodder as a grain alternative in mid-size dairy operations.

        p She is also starting her own dairy in Oroville, CA called Sweet Grass Organics <a href="http://www.sweetgrassorganics.com/">sweetgrassorganics.com</a>.


  #diana
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/diana.png')

      .medium-8.columns
        h2 Diana Rodgers
        p Diana Rodgers is a farmer, nutritionist, and best‐selling author of Paleo Lunches and Breakfasts on the Go and The Homegrown Paleo Cookbook. On her blog, Sustainable Dish, and local television show of the same name, she explores which foods are optimal for human nutrition, the environment, animal welfare and social justice. Diana also coproduces the podcast Modern Farm Girls with Liz Wolfe and produces short films on sustainable agriculture. She has been featured in The Los Angeles Times, The Boston Globe, Mother Earth News, Edible Boston, and is a staff writer for Paleo Magazine. She lives at Clark Organic Farm in Carlisle, Massachusetts which runs a vegetable and meat CSA, plus operates a farm stand, runs education programs to local schools and colleges, and hosts interns from around the world looking to learn about sustainable agriculture.

  #don
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/don.jpg')

      .medium-8.columns
        h2 Don Shaffer
        p Don Shaffer serves as President &amp; CEO of RSF Social Finance. As leaders in social finance, RSF is transforming the way the world works with money through its innovative investing, lending, and giving services. Since 1984, RSF has made almost $300 million in loans, with a 100% repayment rate to investors, and facilitated over $130 million in grants. A graduate of Cornell University, Don has been a social entrepreneur for many years, growing an education-related business, a software company, a sporting goods manufacturer, and BALLE. He lives in Berkeley, California with his wife Jennifer and their two children.

  #durukan
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/durukan.jpg')

      .medium-8.columns
        h2 Durukan Dudu
        p Bio Coming soon...

  #richard
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/richard.png')

      .medium-8.columns
        h2 Dr. Richard Teague
        p Dr. Richard Teague is a research scientist with the Texas A&M University System. He uses a systems approach in his research by working with leading conservation ranchers who are able to regenerate ecosystem function and improve their livelihoods. His aim is to determine the extent that livestock producers can use different grazing management strategies to mitigate and adapt to alternative climate change scenarios.

  #finian
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/finian.png')

      .medium-8.columns
        h2 Finian Makepeace

        p Finian Makepeace is the co­founder and Policy Chair of Kiss the Ground. He is a recording artis and his passion for soil came after learning that the loss of topsoil (humus) plays a major role in climate change, drought, and the nutrition of our food. He loves telling "the soil story", especially the part about what can happen when we build it back through Regenerative Agriculture.
        p Through  media,  policy  and  education,  his  none­profit  Kiss  The  Ground,  is  committed  to connecting  culture  to  agriculture.  Their  mission  is  to  inspire  and  advocate  for  soil restoration worldwide.  They  help  farmers  and  communities  rebuild  soil  through  policy  and  consumer awareness. As Director of the policy department Finian works at the local (Los Angeles), State (California)  and Federal  level. His primary focus  is to bring NGO's  and government  agencies together to assist in developing strategies and programs to build back soil.
        p Most  recently,  with  the  launch  of  The  Soil  Story,  Finian  ran  a  campaign  petition  urging  the California legislature to allocate 160 million from the Greenhouse Gas Reduction Fund to a state Healthy Soil's Budget.
        p Finian's hope is that this year, "The International Year of Soil", the whole world falls in love with soil.

  #haven
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/haven.jpg')

      .medium-8.columns
        h2 Haven Bourque
        p Haven Bourque founded Oakland-based <a href="http://www.havenbmedia.com/">HavenBMedia</a> to bring communications expertise to food system transformation. Her media advocacy group develops communications strategies and programs, trains spokespersons, and teaches social media engagement for diverse organizations ranging from prestigious non-profits to small businesses, national corporations and community activists working to reform food systems around health and wellness, social justice and environmental conservation. Her clients have been featured in national, regional and local media including in the New York Times, Washington Post, Boston Globe, San Francisco Chronicle, Oakland Tribune, San Jose Mercury News, Los Angeles Times, Chicago Tribune, POLITICO, Modern Farmer, Al-Jazeera America, Edible Communities, Daily Candy, Newsweek, TIME, NPR, KQED and Fast Company.  She is proud of her work with <a href="http://oakland.impacthub.net/event/diy-pr-for-movers-shakers-market-makers/">Impact Hub Oakland</a>, Anna Lappe’s <a href="http://realfoodmedia.org/">Real Food Media Contest</a>, <a href="http://www.rootsofchange.org">Roots of Change</a>, the Natural Resources Defense Council, Mindful Meats and <a href="http://www.strausfamilycreamery.com">Straus Family Creamery</a>. She is a contributor to food-issues media platform <a href="http://www.civileats.com">CivilEats.com</a>, a Good Food Awards Judge, and was a creator of the nation’s first TEDx conference focused on farmworkers. She also co-founded Bay Area Women Leaders of Food &amp; Agriculture. She lives in Oakland with her husband and three extraordinary Maine Coon cats. Follow her on Twitter: <a href="https://twitter.com/HavenBourque">@HavenBourque</a>.
  #ivan
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/ivan.jpg')

      .medium-8.columns
        h2 Ivan Aguirre
        p Ivan Aurelio Aguirre Ibarra, a 7th generation Sonoran Native. Raised in an agrarian culture. educated in a catholic, military and U.S.A. university. In the U.S. he was exposed to Allan Savory's Holistic Management in the early 80's. He has worked his ranch in Mexico for 40 years and, for the past 30 of those years, he’s been practicing and learning more about how to manage holistically, both within his barbed wire fence as well as outside it, through demonstrating, teaching, learning and having fun. He is a proud father of 4 professionals and an inspiration to many more.

  #jason
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/jason.png')

      .medium-8.columns
        h2 Jason Rowntree
        p Dr. Jason Rowntree, an associate professor of Animal Science, is currently the faculty coordinator for two research facilities at Michigan State University, The Lake City Research and Upper Peninsula Research and Extension Centers.  His current research and outreach is focused on applying Holistic Management principles to agricultural settings.  He is the faculty coordinator for two Michigan State University Research Centers: Lake City and the Upper Peninsula Research and Extension Center. Specifically Dr. Rowntree has three primary areas of research and outreach interest: 1) improving energy efficiency at the farm level through properly managed grazing and integrated cropping systems; 2) understanding the impact of grazing systems on GHG flux and 3) development of pasture­based local beef production systems.  He is currently developing a genetic beef cattle base using Red Angus across the two research facilities to provide grass finishing genetics to the upper Midwest.

  #jared
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/jared.jpg')

      .medium-8.columns
        h2 Jared Stone
        p JARED STONE attended the University of Kansas, graduating with dual B.A.s in Cultural Anthropology and Film, with a concentration in Visual Anthropology. He began his career with National Geographic Television, beginning as an intern and rising through the ranks to become a producer. At that point, he entered the agency world, producing television for a multitude of clients including ABC, NBC, FOX, the CW, FX, Bravo, USA, Lifetime, Sony, and Telepictures, where he won an Emmy in 2013 for his work on The Ellen DeGeneres Show.
        p In addition to his television work, Stone is also the author of several screenplays and is the creator of yearofthecow.com, a blog that detailed his quest to make the absolute best use of an entire cow that he possibly can.
        p Stone lives with his wife, Summer, their two children, and a large dog in a small house in Los Angeles.

  #jenni
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/jenni.jpg')

      .medium-8.columns
        h2 Jenni Harris
        p Jenni Harris, Will’s middle daughter, is the fifth generation of the Harris family to tend cattle at White Oak Pastures. After living on the farm her entire life, Jenni went to Valdosta State University and earned a degree in Business Marketing, graduating in 2009. She remained intimately involved in the family business throughout her studies.
        p After graduating, Jenni set out to learn the industry. She moved to Atlanta where she interned at Buckhead Beef, a SYSCO company. She put in time in every department, from shipping and receiving to the cut shop, and was later hired to work as a sales associate.
        p In June of 2010 Jenni returned home to Early County to work for White Oak Pastures full time. As the Director of Marketing, Jenni works closely with customers who purchase her family’s grassfed beef and lamb and pastured poultry to distributors, retailers, and restaurateurs.



  #jenny
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/jenny.jpg')

      .medium-8.columns
        h2 Jenny McGruther
        p Jenny McGruther is a food educator and the voice behind the award-winning traditional foods website Nourished Kitchen, and the bestselling book <a href="http://www.amazon.com/gp/product/1607744686?ie=UTF8">The Nourished Kitchen</a>. She teaches workshops and retreats on traditional foods, fermentation, and food activism. Jenny's work emphasizes back-to-basics, old-world culinary techniques, and simple, traditional home cooking.

  #jody
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/jody.jpg')

      .medium-8.columns
        h2 Jody Butterfield
        p Jody Butterfield is a Savory Institute co-founder and the Director of Special Projects. She has worked over the last 30 years to communicate the story of Holistic Management, initially as a freelance writer and then as a collaborator with husband Allan Savory on books, articles and papers, including the basic texts still in use today – Holistic Management: A New Decision Making Framework (1999) and the Holistic Management Handbook: Healthy Land, Healthy Profits (2006). In 1984 she co-founded, with Allan, the Center for Holistic Management (later renamed Holistic Management International) and over the following two decades served in a variety of positions, including Publications Director, Training Programs Director, and Research Coordinator. In 1992 she and Allan co-founded the Africa Centre for Holistic Management in Victoria Falls, Zimbabwe.

        p Shortly after the launch of the Savory Institute in 2009, Jody landed the opportunity to fulfill a decades’ long dream to bring holistic management to pastoral communities in Africa with a multi-year grant from the US Agency for International Development. Working with the dedicated staff of the Africa Centre for Holistic Management (ACHM) and training professionals, she developed methods and materials for introducing communities to Holistic Land &amp; Livestock Management – a curriculum specific to communal land situations where livestock are herded. ACHM has since trained over 100 community facilitators from Southern Africa who are proving increasingly successful at empowering communities to restore their land through Holistic Planned Grazing. In 2014, in collaboration with her Savory Institute colleagues, Jody adapted the Holistic Land &amp; Livestock Management curriculum for online presentation to the worldwide Savory Hub community.

        p In 2015 she took on the role of Special Projects Director, working with partnering organizations to build capacity and proof of concept in key strategic regions where the power of Holistic Management has not yet been demonstrated.

        p Jody was born in Salt Lake City, Utah. She received a BA in Journalism and an MA in American Studies from the University of Utah following a year of classwork, writing and lecturing at the Polytechnic of Central London. From 1975–1983 she worked as a freelance writer, editor and photographer, based in The Netherlands, Washington, DC, and Albuquerque, New Mexico, where she met Allan in 1979.

  #jonah
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/jonah.jpg')

      .medium-8.columns
        h2 Jonah Sachs
        p Jonah Sachs is an internationally recognized storyteller, author, designer and entrepreneur. As the co-founder and CEO of Free Range Studios, Jonah has helped hundreds of social brands and causes rise above the media din with breakthrough campaigns. His work on legendary viral videos like The Meatrix and The Story of Stuff series have brought key social issues to the attention of more than 70 million viewers and his interactive work has three times been honored with Best Of awards at the standard-setting South By Southwest digital festival.
        p Jonah’s passion lies in exploring the intersection of ancient storytelling techniques, social responsibility and emerging technologies. In his book Winning the Story Wars, published by Harvard Business Review Press, he argues that brands which tell values-driven stories through the right channels will not only revolutionize marketing, they may become humanity’s greatest hope for the future. Jonah’s work and opinions have been featured in The New York Times, The Washington Post, CNN, FOX News, Sundance Film Festival, NPR and in FastCompany Magazine, who named him one of the 50 most influential social innovators. He lives in Oakland California.

  #judy
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/judy.jpg')

      .medium-8.columns
        h2 Judith Schwartz
        p Judith D. Schwartz is an author and journalist whose 2013 book "Cows Save the Planet" takes a soil's-eye view of global challenges from climate change to chronic disease. Her new book, to be published by Palgrave-Macmillan in 2016, looks at the global water crisis from the perspective of land-based processes. Both works explore the role of Holistic Management in large-scale land restoration. Judith has an MA in counseling psychology and an MS from the Columbia Graduate School of Journalism, and is based in Southern Vermont.

  #kat
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/kat.jpg')

      .medium-8.columns
        h2 Kat Taylor
        p Kat Taylor’s life has been dedicated to serving social justice and environmental health. Kat is active in a variety of social business, public benefit and philanthropic ventures in the San Francisco Bay Area. Currently, she serves as CEO of Beneficial State Bank, a Community Development Financial Institution whose mission is to bring beneficial banking to low-income communities in an economically and environmentally sustainable manner. Beneficial State Bank is the result of a merger between OneCalifornia Bank, which Kat and her husband, Tom Steyer, founded in Oakland, CA, and ShoreBank Pacific, with offices in Oregon and Washington. The bank’s revolutionary ownership design means that its profits be invested in the communities it serves.
        p Kat is also a Founding Director of TomKat Ranch Educational Foundation (TKREF) dedicated to sustainable food production through ranching, tours, research, and school lunch and garden programs. TKREF owns the social business LeftCoast GrassFed, which raises cattle in ways good for people and planet. Kat serves and has served on many non-profit boards including the Harvard Board of Overseers, Good Samaritan Family Resource Center, Insight Prison Project, KQED, Co-Chair of “Building the New CuriOdyssey Campaign”, and Yerba Buena Center for the Arts. She graduated from Harvard College and earned a JD/MBA from Stanford.

  #kelly
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/kelly.jpg')

      .medium-8.columns
        h2 Kelly Mulville
        p In addition to farming and working with livestock for most of his life, Kelly has designed for, consulted with and given presentations to grape growers, farmers and ranchers throughout the western USA, Spain, New Zealand, Australia and China. His work focuses on combining the principles of holistic management with experience in viticulture, orchards and crop farming to design and create farming practices that are resilient, productive and profitable - in order that they may contribute to the restoration of health, beauty and balance to the ecosystem..  His education includes Ecological Horticulture at UC Santa Cruz, Viticulture studies at UC Davis and a degree in Holistic Management from The Center for Holistic Management.  Kelly directs farming operations at Paicines Ranch and runs an agricultural design service.

  #larry
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/larry.png')

      .medium-8.columns
        h2 Larry Kopald
        p Considered a leading brand-building architect, Larry Kopald spent over twenty years at some of the world’s leading advertising agencies, representing the world’s largest companies. Originally coming up on the creative side of the business, where he brought a devotion to research and insight to challenges, he oversaw advertising for companies like Coke, American Express, McDonalds, Honda and other Fortune 50 companies.

        p He is presently managing partner at Kopald/Stranger, a change agency that sits at the intersection of business development and responsible transformation. Working with companies like Patagonia, Coke, Nike, Toyota and Target, as well as governments from Mexico to Canada, Kopald/Stranger  brings market-based thinking to the drivers of social change to benefit both organizations and the planet.

        p For over two decades Kopald has also been a leader in the environmental movement, working with environmental, scientific, corporate, and both NGO and governmental agencies.  He has done the environmental communications for the Olympics and the United Nations, the latter of which honored him at the UN in 2002 for his efforts on behalf of the planet. He currently sits on the boards of Greenpeace, 1% For The Planet, The National Marine Sanctuaries, Oceana, and the Los Angeles Sustainability Collaborative.

        p In 2015 he co-founded The Carbon Underground, an organization dedicated to restoring industrially degraded soil and promoting regenerative agriculture as a means to reverse climate change.

        p He is presently a Senior Fellow at the USC Marshall School of Business on Social Entrepreneurship, and an ongoing member of the White House Panel on Business Innovation.

  #nicolette
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/nicolette.jpg')

      .medium-8.columns
        h2 Nicolette Niman
        p Nicolette Hahn Niman is an attorney, writer and livestock rancher.  She is regularly featured in media about sustainable food production, including an August 2009 TIME magazine cover story.  Her writings include the book Righteous Porkchop:  Finding a Life and Good Food Beyond Factory Farms (HarperCollins, 2009, <a href="http://www.righteousporkchop.com" target="_blank">righteousporkchop.com</a> ), which Michael Pollan called, “a searing and utterly convincing indictment of the modern meat industry.”  She has authored several essays on the subject of food and farming for the New York Times, as well as for the Sunday Los Angeles Times.  She is regular blogger for The Atlantic, and has written for The San Francisco Chronicle, Huffington Post, Cowboys &amp; Indians, and CHOW, among others.
        p Previously, she was the Senior Attorney for the environmental organization Waterkeeper Alliance where she was in charge of the organization’s campaign to reform the concentrated livestock and poultry industry, and, before that, an attorney for National Wildlife Federation.   She served two years on the Board of Overseers for Chefs Collaborative.  Ms. Hahn Niman served two terms on the city council for the City of Kalamazoo, Michigan (pop. 80,000), during which time she served on sixteen community boards and commissions including the Environmental Concerns Committee.
        p She received her Juris Doctorate, cum laude, from the University of Michigan in 1993 and her B.A. in Biology and French from Kalamazoo College in 1989.  She lives in Bolinas, California with her son, Miles, and her husband, Bill Niman, founder of Niman Ranch, a natural meat company supplied by a network of over 700 traditional farmers and ranchers.  They now market the products of their ranch under the name BN Ranch.

  #nora
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/nora.jpg')

      .medium-8.columns
        h2 Nora Gedgaudas
        p Nora Gedgaudas, a widely recognized expert on what is popularly referred to as the "Paleo diet" is the author of the international best-selling book, Primal Body, Primal Mind: Beyond the Paleo Diet for Total Health and A Longer Life.  She is also the author of the newly released ebook: Rethinking Fatigue: What Your Adrenals Are Really Telling You and What You Can Do About It.
        p Nora is a highly successful, experienced nutritional consultant, speaker and educator, widely interviewed on national and international radio, popular podcasts, television and film. Among her many media appearances Nora has been a guest on The Dr. Oz Show, Coast To Coast AM, Sydney, Australia’s Today and Sunrise Show and has been interviewed by US News and World Report.  Her own popular podcasts are widely listened to on iTunes and are available for free download at her website <a href="http://www.primalbody-primalmind.com">www.primalbody-primalmind.com</a>, along with numerous free articles/videos and a location on the homepage, where anyone can subscribe for her free newsletter. She maintains a private practice in Portland, Oregon as both a Board-Certified nutritional consultant and a Board-Certified clinical Neurofeedback Specialist.

  #peter
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/peter.jpeg')

      .medium-8.columns
        h2 Peter Byck
        p Peter Byck is the director, producer and writer of carbon nation. Byck is also faculty at Arizona State University, in both the School of Sustainability and the Cronkite School of Journalism. Via carbon nation and ASU, Byck has met and collaborated with the leading minds from the world of climate, clean energy, military applications and land use. Byck is currently in production for carbon nation 2.0 - an on-going series of short films produced in collaboration with ASU. He is also working with scientists and ranchers on soil health research - the focus of the 1st cn 2.0 short film Soil Carbon Cowboys.
        p Byck’s public speaking engagements highlight his most unique discovery during the 3 year promotion of carbon nation: liberals and conservatives in the U.S. are not polarized, as the popular press presents. Through Byck’s humor, curious mind and respectful approach, he gets to the core of peoples’ beliefs – listening carefully for common ground. And in the realm of energy, he’s realized that if the subject of climate change is tabled, there is vast agreement on how the country should approach our use of energy: people are chomping at the bit for clean energy and energy efficiency. And, a large portion of Americans are willing to make sacrifices to get us to a low carbon economy – they’re just waiting for someone to lead.
        p TV &amp; Radio: Byck has recently appeared on Real Time with Bill Maher (episode 255) and NPR’s Science Friday. As a public speaker, Byck has presented carbon nation at Google, Facebook, McDonald’s, Boeing, Nike, Microsoft, TetraPak, Shell, Walmart.com, SC Johnson, St. Gobain; House of Commons &amp; U.S. Embassies in London, Berlin and Vienna, various U.S. Consulates in Scotland, Ireland and Germany; Richard Branson’s Carbon War Room, White House CEQ, NetImpact, Urban Land Institute, SXSW ECO, BSR, EcoAmerica Prince Charles’ B.E.P. program @ Cambridge University, Yale, Duke, Arizona State University (many events), Conservation International, &amp; many other universities, companies and conferences across the country and internationally.
        p Byck has over 20 years experience as a director and editor. His first documentary, “Garbage,” won the South by Southwest Film Festival, screened in scores of festivals and played at the Museum of Modern Art and Lincoln Center. Byck has directed shows for MTV starring Will Smith, John Travolta, Nicholas Cage, Drew Barrymore, Gwyneth Paltrow &amp; David Duchovny. In addition, he has edited documentaries for Peter Jackson’s “Lord of the Rings” and “King Kong.” Byck has edited documentaries and promotional shorts for Warner Bros., Universal Pictures, 20th Century Fox, MTV, Vh1, BBC, Disney and MGM, including “The West Wing,” “The Matrix,” “Scrubs,” “er” and many more.
        p Byck has a Bachelor of Fine Arts from California Institute of the Arts.
        p He is married with 2 young sons.


  #precious
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/precious.jpg')

      .medium-8.columns
        h2 Precious Phiri
        p Precious Phiri is a representative for the <a href="http://www.africacentreforholisticmanagement.org/">Africa Centre for Holistic Management</a> (ACHM) Hub in Zimbabwe.  She has vast training experience working with rural villages in the Hwange Communal Lands region that are implementing restorative grazing programs using Holistic Land and Livestock Management (HLLM). These trainings help rural communities in Africa to reduce poverty, rebuild soils, and restore food and water security for people, livestock and wildlife. Holistic Land and Livestock Management has been successfully used on different landscapes in Africa and many parts of the world.

        p Precious was born and raised in one of the communities now implementing HLLM, and has been involved as a great influence in helping communities restore land and water, while feeding themselves.  She holds a BSc degree in Geography and Geographic Information Systems from the University of Fort Hare (South Africa) and an Executive Diploma in Business Leadership (EDBL) with the Zimbabwe Institute of Management.

  #ray
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/ray.jpg')

      .medium-8.columns
        h2 Ray Archuleta
        p Ray Archuleta is a Conservation Agronomist at the NRCS East National Technology Center, in Greensboro, North Carolina. Ray teaches soil health and the principles of agroecology throughout the country.  He has 30 years of work experience with the Natural Resources Conservation Service. He has worked for NRCS in New Mexico, Missouri, Oregon, and now lives in North Carolina and has held the following positions: Soil Conservation technician, Soil Conservationist, Nutrient/Irrigation Specialist, Water Quality Project Manager, District Conservationist, and Area Agronomist. He is also a Certified Professional Soil Scientist with Soil Science Society of America. He also served two years in Guatemala working as Livestock Specialist in the Peace Corps. He received his B.S. in Agricultural Biology from New Mexico State University.

  #robb
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/robb.jpg')

      .medium-8.columns
        h2 Robb Wolf
        p Robb Wolf, a former research biochemist is the New York Times Best Selling author of The Paleo Solution – The Original Human Diet. A student of Prof. Loren Cordain, author of The Paleo Diet, Robb has transformed the lives of hundreds of thousands of people around the world via his top ranked iTunes podcast, book and seminars.
        p Robb has functioned as a review editor for the Journal of Nutrition and Metabolism, is co-founder of the nutrition and athletic training journal, The Performance Menu, co-owner of NorCal Strength &amp; Conditioning, one of the Men’s Health “top 30 gyms in America” and he is a consultant for the Naval Special Warfare Resiliency program. He serves on the board of Directors/Advisors for: Specialty Health Inc, Paleo FX,  and Paleo Magazine. Robb lives in Reno, Nevada with his wife Nicki and daughters Zoe and Sagan.

  #sally
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/sally.jpg')

      .medium-8.columns
        h2 Sally Fallon Morell
        p Sally Fallon Morell is founding president of the Weston A. Price Foundation and author of the best-selling cookbook Nourishing Traditions and of the book Nourishing Broth (with Kaayla T. Daniel, PhD, CCN). She is also the founder of A Campaign for Real Milk.

        p Mrs. Fallon explains the importance of returning to organic farming, pasture-fed livestock and whole traditional foods, properly prepared - if Americans are to regain their health and vitality, and return to an economy based on small scale organic production and food processing that returns added value to the independent farmer, rather than to large scale food processing conglomerates.

        p Mrs. Fallon draws on a wealth of scientific and anthropological findings that include the importance of traditional bone broths as a source of minerals and as an aid to digestion, made from the bones of chicken, fish, beef and lamb; of proper preparation of grain, nuts and legumes to neutralize enzyme inhibitors and mineral-blocking substances found in all seed foods; and of ancient techniques for food preservation that enhance nutrient content while supplying beneficial digestive flora on a daily basis.


  #sara
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/sara.jpg')

      .medium-8.columns
        h2 Dr. Sara Scherr
        p Dr. Sara Scherr is an agricultural and natural resource economist specializing in land management policy in tropical developing countries and has been a leading voice globally in promoting the restoration of degraded agricultural lands and new approaches for integrated landscape management. Founder of EcoAgriculture Partners, she now serves as its President and CEO. In 2011 she led the founding of the Landscapes for People, Food and Nature Initiative, for which EcoAgriculture Partners now serves as secretariat. She currently serves on the board of international agricultural biodiversity research organization Bioversity International, as well as on the advisory board of Food Tank, the Scientific Advisory Board for the ASSETS (Attaining Sustainable Services from Ecosystems) research program, as a member of the UN Agri-food Task Force, and on the design team of the Solutions from the Land initiative. She is also a member of the scientific editorial boards of the journals Agroforestry Systems, International Journal of Agricultural Sustainability, and Land Use Policy. Before founding EcoAgriculture Partners, Dr. Scherr held positions as Director of Ecosystem Services at the non-profit Forest Trends; adjunct professor at the University of Maryland, College Park, USA; co-leader of the CGIAR Gender Program; senior research fellow at the International Food Policy Research Institute in Washington, D.C.; and principal researcher at the World Agroforestry Centre based in Nairobi, Kenya. She received her MSc and PhD in International Economics and Development at Cornell University in New York.

  #seth
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/seth.jpg')

      .medium-8.columns
        h2 Seth Itzkan
        p Seth Itzkan is an environmental futurist. Since 2008, he has focused on investigating and promoting innovative means of land management that offer hope for reversing global warming. His primary interest is the carbon drawdown potential of restored grasslands and the role of livestock in kickstarting soil recovery, with the greater goal of incorporating Holistic Management into society’s climate narrative.

        p Over a three-year period, Seth spent a total 16 weeks at the Africa Center for Holistic Management (ACHM) in Zimbabwe, traveling with herders, interviewing village practitioners, and working alongside ACHM staff. His 2012 TEDx talk, <a href="https://www.youtube.com/watch?v=lOpoRdpvlh0">Reversing Global Warming with Livestock?</a>, a firsthand account of witnessing the ecological fruits of regenerative grazing, helped set the stage for Allan Savory’s seminal 2013 <a href="http://www.ted.com/talks/allan_savory_how_to_green_the_world_s_deserts_and_reverse_climate_change?language=en">TED talk</a>.

        p Seth has twice facilitated <a href="http://fletcher.tufts.edu/CIERP-old/News/more/Allan-Savory-Fletcher-Jan2013">visits</a> for Allan Savory at Tufts University, working closely with the Center for International Environment and Resource Policy (CIERP) at the Fletcher School of Law and Diplomacy. These presentations by Savory at a major American university, the first such appearances in a U.S. collegiate setting in many decades, heralded a sea change in academic acceptance of regenerative grazing and Holistic Management.

        p Seth has been <a href="http://blogs.worldwatch.org/nourishingtheplanet/an-interview-with-seth-itzkan/">interviewed</a> by World Watch and recently published a <a href="http://www.planet-tech.com/upsidedrawdown">whitepaper</a> on carbon drawdown in grasslands. His essay, <a href="http://foodtank.com/news/2014/01/the-good-shepherds">The Good Shepherds</a>, on Foodtank.org, discusses the limitations of the “meat is bad” mantra and advocates for grass fed beef. He has spoken extensively, including at the 2014 Savory Institute conference in London, Tufts University, Harvard Extension School, the 2014 Bioneers Connecting for Change conference, and at workshops and talks hosted by the Northeast Organic Farming Association (NOFA) the Boston Area Solar Energy Association (BASEA), and the MIT Museum Lecture Series. He also researches innovations for municipal wellbeing and has consulted for The Boston Foundation, the Massachusetts Technology Collaborative, and the U.S. Bureau of the Census. He is a graduate of Tufts University College of Engineering and the Studies of the Future Program at University of Houston-Clear Lake.

  #tim
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/tim.jpg')

      .medium-8.columns
        h2 Tom Newmark
        p In 2004, at the age of 32, Tim Joseph followed his lifelong dream and decided to pursue his dream of becoming a farmer. With no experience in dairy farming, it was trial­by­fire. He and his wife Laura started with 63 cows on 250 acres of land in upstate New York while still working a full­time remote corporate job. Tim and Laura started feeding and managing their dairy cows in the traditional system, but very quickly realized that conventional farming wasn’t for them. They decided to start grazing and work towards a transition to organic certification in 2006. By 2007, the Josephs had stopped feeding grain. Tim believed that while organic was a positive change to existing farming and food systems, 100% grass­fed could take it even further. With the help of Pete Meck and his wife, Tim’s sister Julia, they gained a growing foothold in stores across the Northeast. Today, Maple Hill Creamery is the first national dairy brand to be third­party certified as 100% Grassfed and can be found on shelf in over 5,000 stores across every state in the US.

        p Tim, Laura and their now five children continue to live and work at the Maple Hill Creamery farmstead in Stuyvesant with Pete and Julia Meck. In addition to running a successful yogurt company, Tim is committed to building a 100% grass­fed milkshed in the Northeast. Maple Hill Creamery purchases milk currently from over 40 small family farms in New York State, and is recruiting organic and conventional farms to transition to 100% grass­fed organic. By year end, Maple Hill Creamery will pick up milk from close to 60 farms, proudly and consistently paying dairy farmers a premium price for their milk, allowing them and their families stability, as well as growing an ecologically regenerative dairy system by feeding “just grass”.
  #tom
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/tom.jpg')

      .medium-8.columns
        h2 Tom Newmark
        p Tom Newmark is a environmentalist and organic farmer. He is the co-owner of Finca Luna Nueva Lodge in Costa Rica, a Demeter-certified Biodynamic farm and conference center.
        p Tom is the co-founder and chair of The Carbon Underground, a nonprofit that teaches farmers, ranchers, and corporations how to use regenerative agricultural practices to sequester carbon dioxide and possibly reverse climate change. He is a member of the Steering Committee of Regeneration International, a newly formed network of organizations promoting the regeneration of soil organic matter in all forms of food production.  He also co-founded and chaired Sacred Seeds, an international network of 16 botanical sanctuaries that preserve traditional and medicinal plants and the knowledge surrounding their important uses.
        p Tom also chairs the Greenpeace Fund USA, the 501(c)(3) support organization for Greenpeace organizations around the world, and the American Botanical Council (“ABC”), an independent scientific clearinghouse for the herbal community and the publisher of the peer-reviewed journal HerbalGram.

  #tony
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/tony.jpg')

      .medium-8.columns
        h2 Tony Malmberg
        p Tony Malmberg is a third-generation rancher. As the recipient of many honors from agricultural organizations, environmental and wildlife interests, including the National Environmental Stewardship Award from the National Cattlemens’ Association. Tony demonstrates profitable ecological land use that adds value to his community.
        p As founder and president of Ranchers Management Company, Tony managed ranch properties and consulted for individual ranches in the western United States for nearly twenty years.
        p Tony owned and operated Twin Creek Ranch, south of Lander, Wyoming, for 31 years. The ranch served as a laboratory for master’s thesis and other academic studies concerning the interaction of properly managed grazing and sage grouse habitat, wildlife friendly fence and migration, riparian habitat and migratory songbird population.
        p Tony has been a practitioner of Holistic Management for nearly thirty years, is a Field Professional for Savory Institute and serves as the Managing Member of the Holistic Holdings International, LLC, which promotes the large-scale restoration of the world’s grasslands. He also serves on the Board of Directors of Grasslands-LLC and is the Senior Regional Manager for the Northern Great Plains.
        p Tony and his wife, Andrea, sold their Wyoming ranch in 2009. They used the Holistic Decision Making Framework in selecting northeastern Oregon and now ranch the Ponderosa grasslands in Union county Oregon. They raise Beyond Organic Beef: Grown to Enhance the Land that Creates it and the People who Enjoy it.
        p A key criteria of their search was to ranch in a place where they could live with and learn about salmon and their habitat. They have leased some of their water rights to The Freshwater Trust for Steelhead and Chinook Salmon habitat. Tony is delighted to be working for The Freshwater Trust as a Flow Restoration Manager, where he helps ranchers better manage their irrigation resource to supply salmon habitat.

  #will
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/will.jpg')

      .medium-8.columns
        h2 Will Harris
        p Will Harris is a fourth generation cattleman, who tends the same land that his great-grandfather settled in 1866. Born and raised at White Oak Pastures, Will left home to attend the University of Georgia’s School of Agriculture, where he was trained in the industrial farming methods that had taken hold after World War II. Will graduated in 1976 and returned to Bluffton where he and his father continued to raise cattle using pesticides, herbicides, hormones and antibiotics. They also fed their herd a high-carbohydrate diet of corn and soy.

        p These tools did a fantastic job of taking the cost out of the system, but in the mid-1990’s Will became disenchanted with the excesses of these industrialized methods. They had created a monoculture for their cattle, and, as Will says, “nature abhors a monoculture.” In 1995, Will made the audacious decision to return to the farming methods his great-grandfather had used 130 years before.

        p Since Will has successfully implemented these changes, he has been recognized all over the world as a leader in humane animal husbandry and environmental sustainability. Will is the immediate past President of the Board of Directors of Georgia Organics. He is the Beef Director of the American Grassfed Association, and was selected 2011 Business Person of the year for Georgia by the Small Business Administration.

        p Will lives in his family home on the property with his wife Yvonne. He is the proud father of three daughters, Jessi, Jenni, and Jodi. His favorite place in the world to be is out in pastures, where he likes to have a big coffee at sunrise and a “750ml glass of wine” at sunset.


  #andrea
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/andrea.jpg')

      .medium-8.columns
        h2 Andrea Malmberg
        p Andrea Malmberg is the Director of Research and Knowledge Management at the Savory Institute, a global network restoring the grasslands of the world. She was raised on the land with livestock and real food in the western United States. She has run profitable land-based businesses for over fifteen years. She holds a Bachelor of Science in Agriculture and a Master of Science in Natural Resources from Washington State University as well as a Masters of Applied Positive Psychology from the University of Pennsylvania. After completing her studies in Zimbabwe and Argentina in 2007, Andrea became an Accredited Field Professional in Holistic Management. Over the last twenty years and in many different capacities, Andrea has facilitated researchers and citizens in gathering data and interpreting and understanding ecological, financial, and psycho-sociological phenomena so that they can make sound ecological, economic, and quality of life decisions.

  #byron
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/byron.jpg')

      .medium-8.columns
        h2 Byron Shelton
        p Byron Shelton is the Senior Program Director at the Savory Institute, providing facilitation and training in whole farm planning using Holistic Management decision-making, financial planning, ecosystem processes management, grazing planning, biological monitoring, land planning, policy analysis and development processes, and low stress animal handling in agricultural, natural resource, business, family, and community settings. He is a Professional Educator/Field Professional. He has worked with large and small beef and dairy operations across the US and in Europe as well as with a wide range of other livestock and crop enterprises.

        p Byron is the founder and managing member of Landmark Harvest, LLC producing and marketing primarily 100 grass-fed and grass-finished, land-improving, beyond-organic beef. He has managed organic and non-organic ranches and farms in Colorado, New Mexico, and Virginia. Grass-based enterprises included cattle, veal, bison, sheep, hog, broiler, layer, and turkey. Other enterprises included orchard, market garden, draft show horse, hay, guest ranch, horseback riding, and adventure youth/family camp enterprises.

        p Byron has served as a founding Board Member of the Central Colorado Food Shed Alliance, Faculty Innovator Coordinator in Instructional Technology for Colorado Mountain College, Adjunct Instructor of Agriculture/Natural Resource Economics at Colorado Mountain College, Career/job Skills Instructor for the Colorado Correctional Alternative Program, President and Board Member of the Colorado Branch of Holistic Management, Independent Construction Contractor, and as a High School Vocational Agriculture Instructor and FFA and Young Farmer Advisor in Colorado.

  #chris
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/chris.jpg')

      .medium-8.columns
        h2 Chris Kerston
        p Chris Kerston is the Director of Public Outreach and Events for the Savory Institute. He has been grazing grass-fed cattle for over a decade. With a longstanding passion for alternative agricultural models, Chris has dedicated much of his life to helping connect ranchers with consumers in ways that create real value for both parties.

        p For 6 years Chris co-managed a 2,000 acre diversified farm based on holistic planned grazing and permaculture in the Sacramento Valley. The farm is comprised of old growth olive orchards, heirloom stonefruits and citrus groves, and also raises grassfed cattle, sheep, goats, and pasture-raised chickens for both meat and eggs. The farm attracted national notoriety and the attention from public figures such as Joel Salatin and Michael Pollan. Chris has also played a role as a leader in the emerging agri-tourism market and he facilitated a partnership with a European-based hospitality company and the farm he managed. The resulting farmstays provided urban dwellers a recreational, but also educational, outlet to see first-hand how food could be produced in abundance outside the realm of conventional industrial systems.

        p Chris has become a recognized public speaker championing for stronger connections between grower and eater and providing training to help build those connections. He has been on the forefront of the collaborative process with state and federal regulators, advocating for the acknowledgment of alternative safe agricultural models in addition to the consumers' right to access healthy local foods. Chris is also very enthusiastic about developing opportunities for young ranchers. Fostering creative solutions to removing barriers of available land and capital will ultimately help cultivate the next generation of holistic land stewards.

  #tre
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/tre.jpg')

      .medium-8.columns
        h2 Tré Cates
        p Tré Cates is the Chief Operating Officer and the Chief Financial Officer of the Savory Institute. He is a proven leader, innovator and social entrepreneur. Motivating and understanding people have proven to be indispensable while defining, developing, and communicating an organization’s vision for the future. His ability to create and lead high performing organizations is foundational to his success.

        p After graduating from Ouachita Baptist University in 1993, he focused his efforts in creating and growing faith-based community organizations. He also has served on the board of over 6 different non-profits during his professional career. After moving to Colorado in 1996, he fined tuned his skills as an entrepreneur through founding a technology company in 1997 and leading the organization's growth to annual revenues of $36+ million, 100+ employees, and a publicly-traded company. His company was recognized two times as one of the fastest growing companies in the US on the INC 500/5000 list and won several top company awards in the state of Colorado.

        p He has received multiple awards including Entrepreneur of Distinction in Boulder, CO and two-time semi-finalist of Ernst &amp; Young Entrepreneur of the Year. He is active in his community by serving on the board of several companies including multiple non-profits. Tré has a BA in Philosophy from Ouachita Baptist University and a MA in Theology from Southwestern seminary.

  #daniela
  section.main
    .row
      .medium-4.columns
        img(src='/assets/images/event/speakers/daniela.jpg')

      .medium-8.columns
        h2 Daniela Ibarra-Howell

        p Daniela Ibarra-Howell is the CEO and co-founder of the Savory Institute. A native Argentinean, born and raised in Buenos Aires, Daniela is an agronomist by profession and holds a MS in Natural Resource Management and Economics. With over 25 years of international experience in ranching, Holistic Management, and collaborative ecosystem restoration programs, Daniela co-founded with Allan Savory and other colleagues the Savory Institute in 2009, and became its CEO in 2011. Since then she has led her team in the design and implementation of a revolutionary entrepreneurial, self-sustaining global impact strategy for large-scale restoration of grasslands through Holistic Management to tackle global food and water security, and climate change issues.

        p She has served as an advisor to sustainability initiatives such as UN Global Compact, UN Rio+20 informal-informals, Solidaridad’s Farmers Support Program (FSP), Global Roundtable for Sustainable Beef (GRSB), Sustainable Food Lab, Sustainable Agriculture Network (SAN), and others. She holds executive degrees in Advanced Negotiation and Conflict Resolution from University Notre Dame.

        p Before her involvement with the Savory Institute, Daniela co-founded Del Cerro LLC, a land management and consulting firm and served as its Director for seventeen years. During that time she co managed the family’s 9,000-acre ranch in western Colorado, increasing its productivity by 300%. In the off-season she and her husband led educational ranch tours around the world.

        p All along she worked closely with Allan Savory, teaching and consulting in many continents, having completed training in Holistic Management with Savory himself in 1996, when she became a certified educator.

        p Earlier in her career she served as a Resource Policy Analyst for the Argentine Ministry of Agriculture, the Under-secretariat Environmental Policy, and the National Commission for Desertification in Patagonia (CONADEPA); and served as a consultant to the Inter American Institute for Cooperation in Agriculture (IICA), and the UN on agricultural and land restoration policies.

        p An advocate of entrepreneurial approaches to tackle global problems, she is a co-founder and member of Holistic Holdings International Inc. and Grasslands LLC.

        p An avid traveler, Daniela enjoys exploring with her family the world’s cultures and countryside. Additionally she loves to follow her two daughters in their horse jumping, ballet, and gymnastics performances.
