block variables
	//- if possible, the title should be dynamic
  - title = 'Dynamic'

extends /layout-get-involved

block content
  
  section.main.overview
    .row
      .small-12.columns
				//- overview should get pulled in here
				h1= title
	
	section.main.responsibilities
    .row
      .small-12.columns
				//- responsibilities should get pulled in here
	
	section.main.skills
    .row
      .small-12.columns
				//- skills should get pulled in here
	
	section.main.apply
    .row
      .small-12.columns
				//- apply should get pulled in here