block variables
  - title = 'Get Involved'

extends /layout-get-involved

block content

  #overview(data-magellan-destination='overview')
  section.overview

  section.half-color
    .art
    .color
    .row
      .medium-6.columns
        h1= title

      .medium-6.columns
        p We are on the brink of affecting major change at the landscape level. With an estimated 45 million acres already managed holistically, the Savory Network strategy seeks to influence 1 billion hectares by 2025 through the establishment of 100 Hubs as we continue to facilitate improved conditions for success.




  #join-the-tribe(data-magellan-destination='join-the-tribe')
  section.main.join-the-tribe
    header.overview-header
      .row
        .small-8.small-centered.columns
          figure.img-love
            img(src='/assets/images/get-involved/join-the-tribe.jpg')

      .row
        .medium-offset-2.medium-3.columns
          h2.section-title Join the Tribe
        .medium-5.end.columns
          p One of the best ways you can get involved is to follow us on social media. Together we can change the world.


    .row
      .small-8.small-centered.columns
        .social-icon-holder
          ul.inline-list.social-media
            include /partials/social.jade






  #newsletter-subscription(data-magellan-destination='newsletter-subscription')
  section.main.newsletter-subscription
    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Newsletter Subscription
        .medium-9.columns
          p Subscribe to our newsletter for periodic mailings concerning upcoming events and industry news. We promise not to spam you or sell your information and you can unsubscribe at any time.

    .row
      .small-12.columns
        #mc_embed_signup
          form#mc-embedded-subscribe-form.mail-signup( action='//savoryinstitute.us10.list-manage.com/subscribe/post?u=8067c5756934c846542e0a0f5&amp;id=df3e15967e' method='post' name='mc-embedded-subscribe-form' autocomplete='on' novalidate data-abide)
            .row.collapse
              .medium-9(style='margin: 0 auto')
                .row.collapse
                  .medium-5.columns
                    label First Name
                    input#mce-FNAME(type='text', name='FNAME')
                  .medium-5.columns
                    label Last Name
                    input#mce-LNAME(type='text', name='LNAME')
                .row.collapse
                  .medium-5.columns
                    label City
                    input#mce-CITY(type='text', name='CITY')
                  .medium-5.columns
                    label Country
                    input#mce-COUNTRY(type='text',name='COUNTRY')
                .row.collapse
                  .medium-5.columns
                    label Email
                    input#mce-EMAIL(type='email', name='EMAIL', required)
                    small.error Required
                  .medium-5.columns
                    label &nbsp;
                    input#mc-embedded-subscribe.btn-primary.postfix.mc-subscribe-btn(type='submit', value='Subscribe', name='subscribe')

            #mce-responses.clear
              #mce-error-response.response(style='display:none')
              #mce-success-response.response(style='display:none')
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style='position: absolute; left: -5000px;')
                input(type='text', name='b_8067c5756934c846542e0a0f5_df3e15967e', tabindex='-1', value='')
              .clear

  include /partials/donate.jade

  #savory-journeys(data-magellan-destination='savory-journeys')
  img(data-interchange='[/assets/images/get-involved/savory-journeys.jpg, (default)], [/assets/images/get-involved/savory-journeys-lg.jpg, (medium)]')
  section.main
    header
      .row
        .medium-3.columns
          h2.section-title Savory Journeys
        .medium-9.columns
          p Savory journeys explore the work of the global network of savory hubs with a focus on educating and connecting visitors to the practices, learning, and success of holistic management throughout the world.
          p These tours immerse guests in the communities, land, production models, markets, food, and culture of each host you will visit. Savory journeys are committed to creating meaningful, informative, and memorable experiences.
          p Next tour:
            br
            | Journey to the eastern cape grasslands - March 2016
            br
            | In collaboration with the South Africa savory hub and the olive leaf foundation.

          a.btn-primary(href='http://savory-institute.myshopify.com/collections/savory-journeys', target='_blank') learn more

  #careers(data-magellan-destination='careers')
  img(data-interchange='[/assets/images/water_buffalo.png, (default)], [/assets/images/water_buffalo.png, (medium)]')
  section.main
    header
      .row
        .medium-3.columns
          h2.section-title Careers
        .medium-9.columns

          h3 Network Coordinator

          p The Savory Institute is looking to engage an individual to manage the growth and evolution of the Savory network. The Savory Network is the deployment mechanism for HM training, consulting, implementation support, and local land and livestock project management. The Savory Network Coordinator will exhibit a passion for, deep knowledge of, and commitment to the integrity and high quality standards of Savory HM. He/she will join a group of people passionate for the restoration of grasslands and pastoral livelihoods around the world.

          p This will be a challenging position, which will require hard, smart, and empathic work, and to be fully committed to the vision, values, culture and strategy of the Savory Institute. The job will suit a highly motivated individual with a proven track record of being able to work on his/her own initiative, enjoy rich social interactions and thrive in situations that require skillful negotiations, clear communication and persuasion through articulating a vision for the network that supersedes the particular interests of any of its members.

          p The SI core driving values are: results oriented, collaborative, entrepreneurial.

          p The Savory Institute Holistic Context will be provided to final candidates for consideration.

          h3 Summary of Main Responsibilities:

          p The Network Coordinator will be responsible for managing and supporting the four Savory network programs: 1) Savory Hubs 2) Accredited Professionals 3) Champions (new) & 4) Corporate partners (new). Here is a list of the main responsibilities:
          ul
            li Work closely with SI Executive team to Manage the existing network strategy, budget and communications/marketing for each program group.
            li Organize (or partner with network members to organize) regular activities and/or meetings to improve the member’s success and communication.
            li Provide the support necessary to build relationships and actively support connections between network members and Savory initiatives; using existing meetings, webinars and conferences to connect members.
            li Identify and select new potential members of the Network and facilitate their active participation.

          h3 Specific Duties:

          p The Network Coordinator will work closely with the Tre’ Cates, COO, & Daniela Howell, CEO, and other SI  senior staff to implement the program details. Specific duties will include –
          ul
            li Build meaningful and robust relationships with the members of the Network, identifying their needs and areas in which SI can support progress for the network as a whole, and developing and maintaining lines of communication both with and between network members.
            li Create, maintain and make available network information and materials (collateral, PR and communications, marketing, governance, etc) as will be required to support the success of the network.
            li Identifying opportunities to utilize and develop the knowledge, tools and skills identified by the members of the Network in order to advance the mission of Savory and Network.
            li Working proactively to identify and engage potential members for the Network in different areas of the world through a pull strategy that meets the SI, network and member’s goals.
            li Maintaining links with other appropriate networking organizations in order to ensure that the Savory Network can be profiled and can maximize its range of contacts and impact.
            li To continuously and proactively listen to, observe, assess and monitor the Network’s dynamics, progress, needs, model, etc. and research and study other successful networks, in order to innovatively adjust and evolve the savory network for optimum growth and development and maximum positive impact.
            li Establishing effective financial and administrative systems for the network and the interface with SI.
            li Working with the Director of Marketing and Communications to implement communications and marketing strategies.
            li To work closely with appropriate team members to contribute to the maintenance of the network platform
            li Approaching, and identifying (as required), new members of the Network and promoting their participation in the network.
            li Providing regular reports for the Executive Team or point person and additional reports as required.

          h3 Knowledge
          ul
            li An in-depth knowledge and understanding of Holistic Management as a framework for decision-making.
            li An in-depth knowledge and experience of organizing member networks.
            li An in-depth understanding and appreciation of and commitment to the SI’s network strategy and business model, both at a high level and in intimate detail.
            li Awareness of contemporary global social, economic, and environmental issues.

          h3 Skills and abilities
          ul
            li Superb ability to communicate effectively, both orally and in writing.
            li A detailed knowledge of business planning, strategy development, and financial outcomes.
            li Superb ability to work collectively and effectively with Network Members, Executive Team and Savory team.
            li The ability to demonstrate good inter-personal relationship skills. The ability to relate to other networks and organizations with an interest in Holistic Management and to broker services, where appropriate, in order to maximize the impact of the network.
            li The ability to provide support and facilitation to network members.
            li The ability to demonstrate competent administrative and project management skills.
            li The proven ability to manage a budget and to prepare reports on outcomes related to the programs.

          h3 Experience/Qualifications
          ul
            li The experience of working on either an international or multi-country/cultural basis.
            li A thorough understanding of Holistic Management as a framework for decision-making.
            li A minimum of 5 years’ direct experience of working within a community/network context organizing operational activities.
            li While written and spoken English is essential, the ability to communicate in Spanish will be regarded as desirable.
            li A bachelor’s degree or equivalent experience in a relevant discipline will be considered.

          h3 Conditions:
          p Period of Employment: 1-year consultancy contract, full-time, with the possibility of renewal based on performance.
          p Travel: The post will require an ability to undertake regular travel for which travel costs will be paid.
          p Location: Open. As it is the aspiration of the Savory Institute to work for the development of a global network, the location of the post is open for negotiation

          p For further Information, contact: <a data-behavior="truncate" href="mailto:contact@savory.global" target="_blank">contact@savory.global</a>

          p Closing date for receipt of completed applications is January 22, 2015. Interviews for selected candidates will commence promptly after 1/22 and final candidates will take a suitability and eligibility assessment before final selection is made.
