block variables
  - title = 'Regenerative Agriculture - Planned Grazing'
  - metaDesc = 'The Savory Institue is commited to teaching the population about regenerative agriculture. If you are interested in planned grazing for your farm, please contact us today to find out more information and how we can start you in the Holistic Management process.'

extends /layout-get-involved

block content

  #overview(data-magellan-destination='overview')
  section.overview

  section.half-color
    .art
    .color
    .row
      .medium-6.columns
        h1= 'Get Involved'

      .medium-6.columns
        p We are on the brink of affecting major change at the landscape level. With an estimated 45 million acres already managed holistically, the Savory Network strategy seeks to influence 1 billion hectares by 2025 through the establishment of 100 Hubs as we continue to facilitate improved conditions for success.




  #join-the-tribe(data-magellan-destination='join-the-tribe')
  section.main.join-the-tribe
    header.overview-header
      .row
        .small-8.small-centered.columns
          figure.img-love
            img(src='/assets/images/get-involved/join-the-tribe.jpg' alt='Regenerative Agriculture')

      .row
        .medium-offset-2.medium-3.columns
          h2.section-title Join the Tribe
        .medium-5.end.columns
          p One of the best ways you can get involved is to follow us on social media. Together we can change the world.


    .row
      .small-8.small-centered.columns
        .social-icon-holder
          ul.inline-list.social-media
            include /partials/social.jade






  #newsletter-subscription(data-magellan-destination='newsletter-subscription')
  section.main.newsletter-subscription
    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Newsletter Subscription
        .medium-9.columns
          p Subscribe to our newsletter for periodic mailings concerning upcoming events and industry news. We promise not to spam you or sell your information and you can unsubscribe at any time.

    .row
      .small-12.columns
        #mc_embed_signup
          form#mc-embedded-subscribe-form.mail-signup( action='//savoryinstitute.us10.list-manage.com/subscribe/post?u=8067c5756934c846542e0a0f5&amp;id=df3e15967e' method='post' name='mc-embedded-subscribe-form' autocomplete='on' novalidate data-abide)
            .row.collapse
              .medium-9(style='margin: 0 auto')
                .row.collapse
                  .medium-5.columns
                    label First Name
                    input#mce-FNAME(type='text', name='FNAME')
                  .medium-5.columns
                    label Last Name
                    input#mce-LNAME(type='text', name='LNAME')
                .row.collapse
                  .medium-5.columns
                    label City
                    input#mce-CITY(type='text', name='CITY')
                  .medium-5.columns
                    label Country
                    input#mce-COUNTRY(type='text',name='COUNTRY')
                .row.collapse
                  .medium-5.columns
                    label Email
                    input#mce-EMAIL(type='email', name='EMAIL', required)
                    small.error Required
                  .medium-5.columns
                    label &nbsp;
                    input#mc-embedded-subscribe.btn-primary.postfix.mc-subscribe-btn(type='submit', value='Subscribe', name='subscribe')

            #mce-responses.clear
              #mce-error-response.response(style='display:none')
              #mce-success-response.response(style='display:none')
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style='position: absolute; left: -5000px;')
                input(type='text', name='b_8067c5756934c846542e0a0f5_df3e15967e', tabindex='-1', value='')
              .clear

  include /partials/donate.jade

  #soil-manifesto(data-magellan-destination='soil-manifesto')
  section.main.soil-manifesto-section
    .content
      .row
        .medium-6.columns.soil-manifesto-left-column
        .medium-6.columns.soil-manifesto-right-column
          header.overview-header
            .row
              .small-12.columns
                h2.section-title Soil Manifesto
                p The Soil Manifesto states that healthy soil, a living dynamic ecosystem, is the foundation of life on Earth. It is the basis for sustainable and productive agriculture. It is the world’s greatest terrestrial carbon sink and reservoir of water. And it plays a crucial role in regulating the climate.  The soil manifesto, with all collected signatures, will be presented to the UNCCD and the UNFCC at COP22. 
                p Please read the Soil Manifesto and take action by signing now.
                a.btn-primary(href='/soilforclimate') Soil Manifesto

  #savory-journeys(data-magellan-destination='savory-journeys')
  section.main
    header
      .row
        .medium-3.columns
          h2.section-title Savory Journeys
        .medium-9.columns
          p Savory journeys explore the work of the global network of savory hubs with a focus on educating and connecting visitors to the practices, learning, and success of regenerative agriculture and planned grazing throughout the grasslands of the world.
          p These tours immerse guests in the communities, land, production models, markets, food, and culture of each host you will visit. Savory journeys are committed to creating meaningful, informative, and memorable experiences.

          a.btn-primary(href='/savory-journeys') View Upcoming Trips

  #careers(data-magellan-destination='careers')
  img(data-interchange='[/assets/images/water_buffalo.png, (default)], [/assets/images/water_buffalo.png, (medium)]')
  section.main
    header
      .row
        .medium-3.columns
          h2.section-title Careers
        .medium-9.columns
          h3 Director of Corporate Development (Extensive experience)
          h4 Location of Position: Boulder, Colorado, United States
          h4 Employment Type: Full Time
          p This is a highly strategic position that requires great commitment to the vision, evolution, and implementation success of all Savory Global programs. A successful execution of the job will ensure the necessary funds and relationships to bridge the gap to full sustainability for both the Savory Institute and its network.
          h5 Job description and focus areas
          p The Director of Corporate Development: 
            ol
              li Works with leadership to identify and address organizational development and institutional partnerships’ vision, key strategic engagement opportunities, and challenges to be overcome.
              li Participates with senior staff and Board in charting the organization’s course in fund development. 
              li Explores, identifies, and nurtures key institutional relationships and partnerships that can advance the scientific research, policy design, investment in the network, and relevant supply chains. These relationships create an overall shift in awareness and understanding of the Savory core principles and strategies.
              li Ensures that institutional partnership development, philanthropy, and fund development are carried out in keeping with the organization’s values, mission, vision and priority focus areas.
              li Evaluates the effect of internal and external forces on the organization and its fund development.
              li Recommends short- and long-range fund development strategies and programs that leverage the organization’s strengths and resources for maximum movement towards its mission.
              li Helps develop a robust portfolio of Institutional contracts and investment opportunities.
              li Helps develop a balanced funding mix o philanthropic revenue sources.
              li Helps establish performance measures, monitors results and helps the Chief Executive Officer, and Board evaluate the effectiveness of the organization’s Institutional relationships and fund development program. 
          h5 Primary Relationships 
          p This position reports to the CEO and serves as a part of the senior management team and has primary relationships with the financial operation. Outside the organization, the position coordinates with the governing board, donors, funding sources, and Institutional partners. 

          a.btn-primary(href='https://www.applyjobfit.com/applicant/applyJob.do?referenceNumber=hqkn-wfce' target='_blank') Apply Now
