block variables
  - title = 'Get Involved'

extends /layout-get-involved

block content

  #overview(data-magellan-destination='overview')
  section.overview

  section.half-color
    .art
    .color
    .row
      .medium-6.columns
        h1= title

      .medium-6.columns
        p We are on the brink of affecting major change at the landscape level. With an estimated 45 million acres already managed holistically, the Savory Network strategy seeks to influence 1 billion hectares by 2025 through the establishment of 100 Hubs as we continue to facilitate improved conditions for success.

    
      

  #join-the-tribe(data-magellan-destination='join-the-tribe')
  section.main.join-the-tribe
    header.overview-header
      .row
        .small-8.small-centered.columns
          figure.img-love
            img(src='/assets/images/get-involved/join-the-tribe.jpg')
            
      .row
        .medium-offset-2.medium-3.columns
          h2.section-title Join the Tribe
        .medium-5.end.columns
          p One of the best ways you can get involved is to follow us on social media. Together we can change the world.

          
    .row
      .small-8.small-centered.columns
        .social-icon-holder
          ul.inline-list.social-media
            include /partials/social.jade


        



  #newsletter-subscription(data-magellan-destination='newsletter-subscription')
  section.main.newsletter-subscription
    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Newsletter Subscription
        .medium-9.columns
          p Subscribe to our newsletter for periodic mailings concerning upcoming events and industry news. We promise not to spam you or sell your information and you can unsubscribe at any time.
        
    .row
      .small-12.columns
        #mc_embed_signup
          form#mc-embedded-subscribe-form.mail-signup( action='//savoryinstitute.us10.list-manage.com/subscribe/post?u=8067c5756934c846542e0a0f5&amp;id=df3e15967e' method='post' name='mc-embedded-subscribe-form' autocomplete='on' novalidate data-abide)
            .row.collapse
              .medium-9(style='margin: 0 auto')
                .row.collapse
                  .medium-5.columns
                    label First Name
                    input#mce-FNAME(type='text', name='FNAME')
                  .medium-5.columns
                    label Last Name
                    input#mce-LNAME(type='text', name='LNAME')
                .row.collapse
                  .medium-5.columns
                    label City
                    input#mce-CITY(type='text', name='CITY')
                  .medium-5.columns
                    label Country
                    input#mce-COUNTRY(type='text', name='COUNTRY')
                .row.collapse
                  .medium-5.columns
                    label Email
                    input#mce-EMAIL(type='email', name='EMAIL', required)
                    small.error Required
                  .medium-5.columns
                    label &nbsp;
                    input#mc-embedded-subscribe.btn-primary.postfix.mc-subscribe-btn(type='submit', value='Subscribe', name='subscribe')
          
            #mce-responses.clear
              #mce-error-response.response(style='display:none')
              #mce-success-response.response(style='display:none')
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style='position: absolute; left: -5000px;')
                input(type='text', name='b_8067c5756934c846542e0a0f5_df3e15967e', tabindex='-1', value='')
              .clear
  
  include /partials/donate.jade

  #savory-journeys(data-magellan-destination='savory-journeys')
  img(data-interchange='[/assets/images/get-involved/savory-journeys.jpg, (default)], [/assets/images/get-involved/savory-journeys-lg.jpg, (medium)]')
  section.main
    header
      .row
        .medium-3.columns
          h2.section-title Savory Journeys
        .medium-9.columns
          p Savory Journeys explore the work of the global network of Savory Hubs with a focus on educating and connecting visitors to the practices, learning, and success of Holistic Management throughout the world.
          p These tours immerse guests in the communities, land, production models, markets, food, and culture of each host you will visit. Savory Journeys are committed to creating meaningful, informative, and memorable experiences.
          p NEXT TOUR: 
            br 
            | Journey To The Eastern Cape Grasslands - March 2016
            br 
            | In collaboration with the South Africa Savory Hub and the Olive Leaf Foundation.

          a.btn-primary(href='http://savory-institute.myshopify.com/collections/savory-journeys', target='_blank') Learn More

          