block variables
  - title = 'NEWSROOM'

extends /layout-newsroom

block content
  #overview(data-magellan-destination='overview')
  section.overview
    .newsroom-hero-image
      img(src='/assets/images/newsroom/savory_newsroom_hero.jpg')

  section.half-color
    .art
    .color
    .row
      .medium-6.columns
        h1= title

      .medium-6.columns
        p The Savory Newsroom contains up-to-date, relevant and comprehensive online files of press releases, articles, frequently asked questions, and media resources regarding the restoration of the world's grasslands through the implementation of holistic management.


  section.main.schedule
      header.overview-header
        //- .row
        //-   .medium-3.columns
        //-     h2.section-title Schedule
        //-   .medium-9.columns
        //-     h2
        //-       a.tab-link.is-active(href='/assets/docs/schedule.pdf') Click this link to view the visual program.

        .row
          ul.accordion-tabs-minimal
            li.tab-header-and-content
              a.tab-link.is-active(href='#') IN THE NEWS
              .tab-content
                .row
                  h4 Coming soon.


            li.tab-header-and-content
              a.tab-link(href='#') PRESS RELEASES
              .tab-content
                .row
                  h4 Coming soon.

            li.tab-header-and-content
              a.tab-link(href='#') HONORS & RECOGNITION
              .tab-content
                header.overview-header
                  .row
                    .large-3.medium-6.columns
                      h2.section-title Honors and Recognition
                    .large-9.medium-6.columns
                      p Allan Savory, Savory Institute, and the Africa Centre for Holistic Management continually receive high-profile honors and recognition for their efforts empowering others to use Holistic Management to restore grasslands.

                .row
                  .small-12.columns
                    ul.no-bullet.smaller
                      li
                        h5 UN Convention to Combat Desertification Land for Life Award—2013
                        p Savory Institute was named a semi-finalist for the UNCCD Land for Life Award for the second straight year. The award recognizes excellence and innovation in sustainable land management and provides winners with visibility and support to expand their work.

                      li
                        h5 40 Organizations That Are Shaking Up the Food System
                        p In 2013 FoodTank included Savory Institute among their list of 40 Organizations That Are Shaking Up the Food System. The groups in the list "... are doing invaluable work to change the way we eat, grow, cook, buy, and sell food."

                      li
                        h5 Sustainia 100
                        p Savory Institute has been selected for inclusion in the Sustainia 100 guide, and entered the field of nominees for international 2013 Sustainia Award.

                      li
                        h5 TED2013 Conference
                        p Allan Savory was chosen to present at the TED2013 global conference “The Young. The Wise. The Undiscovered” in the Sustain! category. His presentation was titled “How to green the world’s deserts and reverse climate change.”

                      li
                        h5 UN Convention to Combat Desertification Land for Life Award
                        p Allan Savory was a semi-finalist for the 2012 Land for Life Award. The award recognizes excellence and innovation in sustainable land management and provides winners with visibility and support to expand their work.

                      li
                        h5 Virgin Earth Challenge
                        p The Savory Institute is among a dozen remaining groups nominated for the 2012 Virgin Earth Challenge. Our organization emerged from an extensive review process of over 2,600 submissions.

                      li
                        h5 Buckminster Fuller Challenge Award
                        p The Savory Institute’s sister organization, the Africa Centre for Holistic Management, won the 2010 Buckminster Fuller Challenge Award for the organization performing work that has significant potential to solve humanity’s most pressing problems.

                      li
                        h5 Banksia International Award
                        p In 2003, Allan Savory won this award given to the person doing the most for the environment on a global scale.

                      li
                        h5 USAID Office of Foreign Disaster Assistance
                        p This organization identified Holistic Management as a way to empower people to reverse the Africa-wide cycle of failing surface and ground water, failing land productivity, massive drought, livestock deaths, famine, food aid and destocking.

                      li
                        h5 TED’s <em>Ads Worth Spreading</em>
                        p Allan Savory was featured in a video selected as one of TED’s “Ads Worth Spreading” in 2010, based on his ability “to engage in a dialog with [his] audience based on creativity, authenticity, and a shared pursuit of a better future.”

                      li
                        h5 Keynote Address at United Nations Framework Convention on Climate Change
                        p In 2011, Allan Savory gave the keynote address at the United Nations Land Day 4 during the United Nations Framework Convention on Climate Change in Bonn, Germany.

            li.tab-header-and-content
              a.tab-link(href='#') FAQs
              .tab-content
                header.overview-header
                  .row
                    .medium-9.columns
                      h2.section-title Frequently Asked Questions

                .row
                  .small-12.columns
                    h3 WHAT IS THE SAVORY INSTITUTE'S POSITION ON ANIMAL WELL-BEING?

                    p Animal well-being and proper management are at the heart of the Savory Institute’s approach to land management.

                    p The Savory Institute maintains that human and animal interactions are complex and region specific. We are well aware that some people do not believe in the use of animals for any human purpose. This is a belief we respect but do not share.

                    p 50+ years of experience by Savory Institute and its network have demonstrated that animals are a critical component to healthy soil and thriving living communities, and have been key to soil health for thousands of years. Properly managed domestic herbivores play a crucial role in maintaining the integrity of grasslands. Additionally, more than a billion people in the most impoverished parts of the world rely on animals for both their primary food and a sole income source for their families. They live under remote and in many cases harsh conditions that offer very few food choices (there are no Whole Foods or even Walmart stores in Argentina’s Patagonian steppes or Kenya’s Masai Mara). An increasing number of people who raise livestock are now working with the Savory Network to learn how to manage their animals in a way that will heal their land.

                    p The Savory Institute defends and believes in these farmers and ranchers who are making a real contribution to heal the land and the environment in the process of feeding and clothing our global community. Their hard work makes all of us more resilient to the impacts of our own daily uninformed decisions.

                    p Therefore we encourage conscientious consumers and corporations to dig deeper into ethical questions about food and farming, into the realities of our food and fiber supply chains and how our daily choices impact the entire global community.

                    p The least we can do as consumers, business owners, and conscientious human beings is to strive to better understand how the things we buy impact the quality of life of others and the health of the planet, all along the supply chain, and demand that all along the supply chain do the same.
                    hr

                .row
                  .small-12.columns
                    h3 WHAT IS HOLISTIC MANAGEMENT?

                    p Holistic Management is a decision-making framework and a suite of planning processes which results in ecologically regenerative, economically viable, and socially sound management of resources.  Holistic Management specifically helps land managers, farmers, ranchers, policy makers and others understand the relationship between large herds of wild herbivores and the grasslands and develop strategies for managing herds of domestic livestock to mimic those wild herds to restore balance to the land.  Holistic Management is successful because it is cost-effective, highly scalable and nature-based.
                    hr


                .row
                  .small-12.columns
                    h3 WHAT IS THE SAVORY INSTITUTE'S POSITION ON LIVESTOCK AND METHANE?

                    p Like their wild counterparts, domestic ruminants - cattle, sheep, goats, etc. - emit methane as a result of bacterial digestion of cellulose in the rumen - the first of their multiple stomachs. Despite large populations of wild grazing animals worldwide before the introduction of agriculture, atmospheric methane concentrations did not increase to environmentally harmful levels.  And despite a 70% increase in livestock between 1999 and 2008, atmospheric methane levels did not increase from decades before.  Therefore it is reasonable to conclude that an intact ecosystem effectively balances ruminant methane production and breakdown. While there are indeed excessive sources of methane from conventional livestock management, such as manure lagoons and land use changes (for example, conversion of forests and grasslands to croplands for animal feed), other than market-related transportation costs, Holistic Management requires none of those practices. Healthy, well-aerated soils - a characteristic quality of grasslands under Holistic Planned Grazing - harbor bacteria called methanotrophs, which break down methane. Soil-based decomposition of methane may be equal to or greater than ruminant methane production, depending on animal density, soil type and soil health. Thus, the benefits of eco-restoration through Holistic Management far outweigh methane emissions resulting from livestock.
                    hr


                .row
                  .small-12.columns
                    h3 HOW DOES HOLISTIC MANAGEMENT AFFECT CLIMATE CHANGE?

                    p Livestock, properly managed on the grasslands of the world, have a critical role to play in mitigating climate change. Although it is crucial that we greatly reduce CO2 emissions, more is needed.  Excess CO2 in the atmosphere needs to be drawn down to Earth and safely stored in the soil if we are to maintain a livable climate. The microorganisms in the soil convert CO2 into stable forms of soil carbon that contribute to its ability to absorb and hold water,  support life forms, and increase resilience. Grasslands, because of their sheer size – 40% of Earth’s land surface – and their inherent ability to store more carbon in their soils than any other environment, are our best opportunity for carbon sequestration.  For each 1% increase in soil organic matter achieved on the world’s 5 billion hectares of grasslands, 64 ppm of carbon dioxide would be removed from atmospheric circulation.

                    p Proper management of the wild and domestic grazers that evolved in and still inhabit the grasslands of the world is key to restoring healthy grassland soils and engaging this carbon sink. In one study we have seen a 400%  increase in permanent soil carbon on land under Holistic Planned Grazing, relative to the neighboring land managed conventionally.
                    hr
                .row
                  .small-12.columns
                    h3 WHAT DOES HOLISTIC MANAGEMENT HAVE TO DO WITH FOOD SECURITY?

                    p Holistic Management increases the health of the soil and the  productivity of the land, enhancing its ability to provide food. Holistic Management is successful because it is cost-effective, highly scalable and nature-based.  It is sustainable because it increases profits for landowners without compromising the long term viability of the  resource base. Holistic Management guides the use of livestock to prepare crop fields increasing yields by over four times with no additional inputs.
                    hr
                .row
                  .small-12.columns
                    h3 DOES HOLISTIC MANAGEMENT INCREASE LAND PRODUCTIVITY?

                    p Holistic Management equips land stewards with tools and processes to properly manage livestock by mimicking the once vast herds of wild herbivores and their associated pack-hunting predators.  Bunched and moving, herbivores are essential for to the productivity of grasslands.  Their hooves chip capped soil and trample plant material allowing for seed germination and enhanced water infiltration. Grazing stimulates grass growth, and dung and urine fertilize the soils. Only when the plants and roots in a grazing area have fully recovered, are livestock returned to it to once again do what Nature intended.  As a result, Holistic Management has been shown to increase productivity by up to 400%.  This productivity doesn’t only improve profitability and food security but also enhances wildlife habitat and biodiversity.
                    hr
                .row
                  .small-12.columns
                    h3 WHAT IS HOLISTIC PLANNED GRAZING?

                    p Holistic Planned Grazing is a strategic planning process that brings simplicity to the great complexity livestock managers face daily integrating livestock production with forage, crop, wildlife needs, and other myriad considerations, while working to ensure continued land regeneration, animal health and performance, and profitability. Holistic Planned Grazing helps ensure that livestock are in the right place, at the right time, and with the right behavior.
                    hr
                .row
                  .small-12.columns
                    h3 CAN HOLISTIC MANAGEMENT INCREASE WATER SECURITY AND MITIGATE DROUGHT?

                    p For many years, large areas of grasslands around the world have been turning into barren deserts. This process, called desertification, is happening at an alarming rate around the world.  Desertification creates large areas of exposed soil which dramatically decreases the effectiveness of rainfall. Water evaporates or runs off instead of soaking into the soil where it is available for plants and living organisms and recharges water tables. This change leads to the increasing frequency and severity of floods and droughts -- even with no change in rainfall in a specific region. Holistic Planned Grazing increases the organic matter in the soil and therefore increases its ability to hold water, reducing the risk of floods and droughts. In one study we have seen a 40% increase in water holding capacity on land under Holistic Planned Grazing compared to adjacent land that had no grazing on it.
                    hr
                .row
                  .small-12.columns
                    h3 WHERE IS THE SCIENCE?

                    p Holistic Management is a decision-making framework with associated planning processes that  address the ever-changing complexity surrounding land management, using sound established scientific principles. Given the uniqueness of each situation and context, processes can never be replicated as can prescriptive practices.  Savory Institute is working in collaboration with research institutions and partners, to measure the outcomes of managing holistically, by monitoring the health of ecosystem processes, levels of permanent soil carbon, quality of life of the people, as well as financial vitality.  There is solid evidence that Holistic Management works - both in peer reviewed journals and from the experiences of holistic managers throughout the world.  One of the challenges is that many researchers see Holistic Management only as a grazing system and do not acknowledge the decision-making and feedback loop underpinning the practices.  No plan is ever the same anywhere, and is never the same year to year within a given context. Moreover, the plan is never executed as planned - we assume we are wrong and as we implement we monitor our assumptions, forage estimates, animal and wildlife performance, markets,  quality of life, weather, etc. and adjust so that we stay on track.  Please visit the Evidence section of our website to find peer reviewed articles and data on the outcomes of Holistic Management.
                    hr
                .row
                  .small-12.columns
                    h3 CAN HOLISTIC MANAGEMENT IMPROVE THE POVERTY AND SOCIAL ISSUES WE ARE SEEING THROUGHOUT THE WORLD?

                    p Managing livestock holistically to mimic the behavior of wild herds, results in healthier soils, that can absorb rainfall, and grow more food for people and animals.  In the world’s vast grasslands, livestock production is the primary source of livelihood and cultural pride. Healthier land means more livestock, and more livestock, means more wealth.  The grasslands are also where most grains are grown and when we include holistically managed livestock in the mix with crops, we have demonstrated substantially increased yields as a result of better soil health.  Improvements in the effectiveness of the water cycle on any area of land, such as reduced evaporation and runoff, means that water sources are more secure and people, livestock (and wildlife) can stay healthy and resilient. Healthy people and healthy livestock are productive rather than impoverished.


            li.tab-header-and-content
              a.tab-link(href='#') SAVORY BLOG
              .tab-content
                .row
                  h4 Coming soon.

            li.tab-header-and-content
              a.tab-link(href='#') PARTNERS
              .tab-content
                .row
                  h4 Coming soon.


  section.main.our-strategy
    header.overview-header
      .row
        .medium-12.columns
          h2.section-title FOR JOURNALISTS
          h3.section-title-alt Savory Office Media Contact
          h4 Sarah Gleason
          h5.description Marketing and Communications Director
          p
            a(href="mailto:sgleason@savory.global") sgleason@savory.global
          p +1 303-327-9764

  #our-strategy(data-magellan-destination='our-strategy')
