.btn {
  display: block;
  padding: 0 .65rem;
  font-size: 1rem;
  line-height: $learn-more-simple-size;
  color: white;
  min-width: $learn-more-simple-size;
  height: $learn-more-simple-size;
  display: inline-block;
  transition: background .35s;

  &:hover {
    color: white;
    transition: background .35s;
  }

  &:last-child {
    margin: 0;
  }
}

.btn-no-link {
  @extend .btn;
  line-height: $learn-more-simple-size;
  min-width: $learn-more-simple-size;
  display: inline-block;
  border: 1px solid $elf;
  background: rgba($elf, .75);

  &:hover {
    background: $elf;
  }
}

.btn-simple {
  @extend .btn;
  border: $border-opaque-light;
  background: $opaque-light-3;
  font-size: $learn-more-simple-size * .7;

  &:hover {
    color: white;
    background: $opaque-light-2;
    }
}

.btn-dark {
  @extend .btn;
  background: $opaque-dark-2;
  border: 1px solid $terra;

  &:hover {
    background: $opaque-dark-1;
  }
}

.btn-primary {
  @extend .btn;
  border: 1px solid $elf;
  background: rgba($elf, .75);
  margin: 1rem 0;

  &:hover {
    background: $elf;
  }

  i {
    font-size: .9rem;
    margin-right: .75rem;
  }
}