section.donate {
  // @extend .photo-background;
  // @extend .dark;
  // background: url('/assets/images/platform/donate.jpg') no-repeat black;

  .content {
    background: $opaque-dark-1;
    padding: 1rem;
    position: relative;

    h2 {
      color: $poppy;
    }

    hr {
      border-top: $border-dashed-lighter;
    }

    em {
      color: $elf;
      font-style: normal;
    }
  }

  .key-points {
    margin: 1.5rem 0;
  }

  .other-amount-holder {
    margin-top: .25rem;
  }

  .fine-print {
    opacity: .4;
  }
}
