section.donate {

  .key-points {
    margin: 1.5rem 0;
  }

  .other-amount-holder {
    margin-top: .25rem;
  }

  .legal {
    border: $border-dotted;
    border-radius: 4px;
    padding: .5rem;
    @include smallest-font;
    margin-top: 1rem;
    color: lighten($terra, 20%);
  }
}
