// home page hero
.event-callout {
  bottom: 0;
  min-height: 100px;
  width: 100%;
  position: absolute;
  @extend .hide-for-small-only;

  .event {
    border-left: $border-dashed-lighter;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  h2 {
    color: $opaque-light-2;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: 0 0 .3rem 0;
  }

  a img:hover {
    opacity: .85;
    transition: .2s opacity;
  }
}

// home page event section and hero for interior
section.artisans-event-overview {
  background-image: url('/assets/images/event/artisans-hero.jpg');
  min-height: 600px;

  @media #{$medium-up} {
    background-image: url('/assets/images/event/artisans-hero-lg.jpg');
  }

  header {
    position: absolute;
    bottom: 1rem;
    width: 100%;

    h1, h2 {
      color: $opaque-light-1;
      font-size: 2rem;
      line-height: 1em;
    }

    h3 {
      color: white;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }

  .btn-simple {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}


// event main title (the type treatment)
.event-main-title {
  max-width: 350px;

  @media #{$medium-up} {
    margin-left: -1rem;
  }
}

// interior page
body.artisans-of-the-grasslands {

  section.food, section.farm-tour {
    background: url('/assets/images/event/food.jpg') no-repeat center center;
    background-size: cover;
    padding: 5rem 0;

    .content {
      background: $opaque-dark-1;
      padding: 1rem;
    }

    p {
      color: white;
    }
  }

  section.farm-tour {
    background: url('/assets/images/event/tour.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    .sold-out-image {
      position: absolute;
      top: -25px;
      left: 284px;
    }
  }



  section.speakers {
    ul {
      list-style-type: none;
      margin: 0;

      li {
        display: inline-block;
        margin-right: 1rem;
      }
    }
  }



  section.tickets {
    .sf {
      position: absolute;
      width: 48%;
      height: 100%;
      left: 0;
      top: 0;
      background: url('/assets/images/event/sf.jpg') no-repeat center center;
      background-size: cover;
      @extend .hide-for-small-only;
    }

    .fine-print {
      border: $border-dotted;
      padding: .5rem;
      margin-bottom: 2rem;
    }

    strong {
      background: $stone;
      padding: .25rem;
      color: white;
      font-weight: 300;
      font-size: .8rem;
      border-radius: .15rem;
      display: inline-block;
      width: 65px;
      text-align: center;
      margin-right: .25rem;
    }

    li {
      margin-bottom: .5rem;
      @include smaller-font;
    }
  }
}


section.speaker-bios, section.sponsors {
  figure {
    position: relative;
    background: none;
    transition: all .2s;

    .plus {
      color: white;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.85rem;
      font-weight: 300;
      height: 1.75rem;
      width: 1.75rem;
      top: .5rem;
      right: .5rem;
      position: absolute;
      background: $opaque-dark-1;
      border: $border-opaque-lighter;
      transition: all .2s;
    }

    img {
      transition: all .2s;
      position: relative;
      z-index: -1;
    }

    &:hover {
      transition: all .2s;

      img {
        filter: blur(3px);
        transition: all .2s;
      }

      .plus {
        border: $border-opaque-light;
        background: $opaque-dark-2;
        transition: all .2s;
      }
    }
  }
}

section.sponsors {
  .sponsor-title {
    text-align: center;
    margin-top: 2em;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    border-bottom: $border-dashed;
  }
}

.main.sponsors {
  background: white;
}

section.schedule {

  .accordion-tabs-minimal {
    line-height: 1.5;
    padding: 0;
  }

  .accordion-tabs-minimal::after {
    clear: both;
    content: "";
    display: table;
  }

  .accordion-tabs-minimal li.tab-header-and-content {
    list-style: none;
  }

ul.in-the-news li, ul.press-releases li { 
    border-bottom : 1px dotted lightgray; 
    margin-bottom:1em; 
    padding-bottom: 1em; 
} 
 
  @media screen and (min-width: 600px) {
    .accordion-tabs-minimal li.tab-header-and-content {
      display: inline;
    }
  }

  .accordion-tabs-minimal a.tab-link {
    background-color: #cccccc;
    border-top: 1px solid white !important;
    border-right:1px solid white;
    color: #333;
    display: block;
    padding: 0.75em .5%;
    text-decoration: none;
  }

  .accordion-tabs-minimal .tab-header-and-content:first-of-type a.tab-link{
    border-left: 1px solid white;
  }

  @media screen and (min-width: 600px) {
    .accordion-tabs-minimal a.tab-link {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      border-top: 0;
      margin-bottom: 1px;
    }
  }

  .accordion-tabs-minimal a.tab-link:hover {
    color: #477DCA;
  }

  .accordion-tabs-minimal a.tab-link:focus {
    outline: none;
  }

  .accordion-tabs-minimal a.tab-link.is-active {
    border-bottom: 0;
    background-color: #b5c034;
    color: white;
  }

  @media screen and (min-width: 600px) {
    .accordion-tabs-minimal a.tab-link.is-active {
      border-bottom: 0px solid white;
      margin-bottom: -1px;
    }
  }

  .accordion-tabs-minimal .tab-content {
    display: none;
    padding: 1.5em 1em;
    width: 100%;
  }

  @media screen and (min-width: 600px) {
    .accordion-tabs-minimal .tab-content {
      border-top: 1px solid gainsboro;
      float: left;
      .row {
        margin-top: 35px;
        &:first-child { margin-top: 0; }
      }

      .time {
        display: block;
        float: left;
        width: 18%;
        margin-top: 6px;
      }
      .details {
        float: right;
        width: 78%;
      }
    }
  }
}
