form {
  .error input,
  .error textarea,
  .error select {
      margin-bottom: 0.94118rem;
  }

  .radio-label {
    font-size: 1rem;
  }

  .adjoined-input {
    @media #{$medium-up} {
      border-left: none;
    }
  }
}