body.get-involved {

  .primary-nav .get-involved-link  {
      @include primary-nav-you-are-here;
  }

  section.overview {
    background-image: url('/assets/images/get-involved/get-involved-hero.jpg');

    @media #{$medium-up} {
      background-image: url('/assets/images/get-involved/get-involved-hero-lg.jpg');
    }
  }

  .social-media {
    margin-top: 1rem;
  }

  .mail-signup {
    @media #{$medium-up} {
      input {
        margin-bottom: 0;
      }
    }

    small.error {
      font-style: normal;
      font-size: .8rem;
      margin: 0;
      padding: .5rem;
      border-right: $border-opaque-lighter;
    }
  }

}
