body.index {

  section.greeting {
    position: relative;
    .donate { z-index: 1; }
    a {
      .button {
        position: absolute;
        top: 2em;
        right: 3em;
        z-index: 10;
        padding: 1em;
        text-align: center;
        color: white;
        background: #e35825;

        @media #{$medium-up} {
          font-size: 3em;
          top: 1.5em;
          right: 4em;
          padding: 0.5em 1.5em;
        }
      }
    }
  }

  section.grasslands {
    background: url('/assets/images/home/grasslands.jpg') no-repeat center bottom;
    height: 550px;
    background-size: cover;

    p, ul {
      color: $opaque-light-1;
      font-size: 1.35rem;
      line-height: 1.2em;
      margin: 0;

      span {
        color: white;
        font-weight: 400;
      }
    }

    @media #{$medium-up} {
      background: url('/assets/images/home/grasslands-lg.jpg') no-repeat center bottom;
      min-height: 550px;
    }

    .one-third, .event-callout {
      position: absolute;
      bottom: 2rem;
      img {
        margin-bottom: 1rem;
      }

    }
    .one-third {
      width: 60%;
      img {
        margin-left: 10rem;
      }
    }

    .event-callout {
      left: 5rem;
      width: 75%;

      img {
        margin-left: 1rem;
      }
    }
  }

  .mission {

    p {
      color: $stone;
      font-size: 1.4rem;
    }

    .hm-logo {
      padding-left: 1.5rem;
      display: inline-block;
      z-index: 10;
      position: relative;
    }

    .right-side p { padding: 0 1.5rem; }

    @media #{$medium-up} {
      .left-side p { padding-right: 1.5rem; }
    }

    @media #{$small-only} {
      padding-top: 0;
      padding-bottom: 2rem;
    }

  }

  .tag-background {
    position: absolute;
    height: 100%;
    width: 50%;
    background: url('/assets/images/noise.png') $terra;
    top: 0;
  }

  .map {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background: url('/assets/images/home/map.png') no-repeat left bottom;
    z-index: 10;
  }


  .tagline {

    p {
      color: $opaque-light-2;
      font-size: 1.4rem;
    }

    span {
      color: $marigold;
    }

    strong {
      color: white;
    }

    span.promote {
      color: white;
    }

    @media #{$small-only} {
      background: $mud;
      padding-top: 2rem;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }
  }


  section.holistic-management {
    background: url('/assets/images/noise.png') $stone;
    color: white;

    h2 {
      color: lighten($elf, 20%);
    }

    .hm-header {
      max-width: 230px;
    }

    @media #{$small-only} {
      img {
        margin-bottom: 2rem;
      }
    }

  }

  section.nav-overview {

    h3 {
      border-left: 4px solid $marigold;
      padding-left: .5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: 400;

      a {
        color: lighten($mud, 20%);

        &:hover {
          color: $mud;
        }
      }
    }


    p {
      @include smaller-font;

      &:last-of-type {
        margin: 0;
      }
    }

    a {
      @include smaller-font;
      margin-top: .5rem;
    }

    .center-column {

      margin: 2rem 0;

      @media #{$medium-up} {
        border-right: $border-dotted;
        border-left: $border-dotted;
        margin: 0;
      }
    }
  }


  // about section (quote)
  section.about {

    .allan-savory-quote {
      font-family: $font-family-serif;

      @media #{$medium-up} {
        display: flex;
        align-items: center;
      }

      blockquote {
        color: $terra;
        font-size: rem-calc(16);
        border: none;
        padding: 0;
        line-height: 1.2em;
        margin: 0;

        footer {
          margin: 0;
        }

        @media #{$medium-up} {
          font-size: rem-calc(22);
        }
      }
    }

    // hover figure
    figure {
      background: $elf;
      @extend %hover-effect;
      @extend .hover-effect-std;

      figcaption {
        bottom: 0;
        padding-right: $learn-more-simple-size + 20px;
      }
    }
  }





  // products and tools
  section.get-involved-and-tools {
    background: white;

    h2 {
      color: white;
    }

    figure {
      @extend %hover-effect;
      @extend .hover-effect-std;
      background: $elf;

      figcaption {
        bottom: 0;
        padding-right: $learn-more-simple-size + 20px;
      }
    }
  }

}
