body.index {



  // outcomes and case study
  section.outcomes {
    position: relative;
    padding: 0;
    color: white;

    .row {
      display: flex;
      align-items: flex-end;
    }

    button {
      position: relative;
      right: 0;
      margin: 0;
      bottom: 0;
      float: right;
    }

    .case-study-content {
      position: absolute;
      bottom: 2rem;
      width: 100%;

      img {
        opacity: .85;
      }
    }

    .stats-column {
      @media #{$small-only} {
        display: none;
      }
    }

    .stats {
      border-left: $border-opaque-lighter;
      height: $hero-height;
      margin-bottom: -2rem;
      padding-left: 1rem;

      .orbit-slide-number, .orbit-next, .orbit-prev, .orbit-timer {
        display: none;
      }

      ul li {
        height: $hero-height - 32px;
        padding: 0 1px;
      }

      .orbit-container {
        bottom: 0;
        position: relative;
      }

      .orbit-bullets-container {
        position: relative;
        top: -.5rem;
      }

      figure {
        position: absolute;
        bottom: 0;
        border: $border-opaque-light;
        margin: 0 auto;

        .number {
          padding: .3rem;
          text-align: center;
          font-family: $font-family-serif;
          font-weight: 700;
          font-size: 3rem;
          line-height: 5rem;
          margin-bottom: -.5rem;
          letter-spacing: -2px;
        }

        figcaption {
          border-top: $border-opaque-light;
          padding: .5rem;
          background: $opaque-light-2;
          color: $oil;
          font-weight: 400;
        }
      }
    }

    // case studies
    %case-study {
      width: 100%;
      padding: 3rem 0;
      background-size: cover;
      background-position: center top;
      height: 414px;

      @media #{$medium-up} {
        height: $hero-height;
      }
    }

    // case study 01 (Zimbabwe)
    .case-study-01 {
      @extend %case-study;
      background-image: url('/assets/images/home/herd.jpg');

      @media #{$medium-up} {
        background-image: url('/assets/images/home/herd-lg.jpg');
      }
    }
  }


  // about section (quote)
  section.about {

    .allan-savory-quote {
      font-family: $font-family-serif;

      @media #{$medium-up} {
        display: flex;
        align-items: center;
      }

      blockquote {
        color: $terra;
        font-size: rem-calc(16);
        border: none;
        padding: 0;
        line-height: 1.2em;
        margin: 0;

        footer {
          margin: 0;
        }

        @media #{$medium-up} {
          font-size: rem-calc(22);
        }
      }
    }

    // hover figure
    figure {
      background: $elf;
      @extend %hover-effect;
      @extend .hover-effect-std;

      figcaption {
        bottom: 0;
        padding-right: $learn-more-simple-size + 20px;
      }
    }
  }



  // news
  section.news {
    border-bottom: $border;

    h2 small {
      margin-left: .65rem;
    }

    // fixing bracket positioning in header
    h2 small span {
      top: -1px;
      position: relative;
      margin: 0 2px;
    }

    .news-grid {
      $tri-size: 15px;
      @include block-grid(2, 0);
      counter-reset: item;
      list-style-type: decimal;

      li {
        margin: 0;
        padding: 0;
        position: relative;

        &:before {
          content: counter(item, decimal);
          counter-increment: item;
          position: absolute;
          top: 0rem;
          left: 50%;
          margin-left: 1rem;
          z-index: 1000;
          font-weight: 700;
          font-size: 2.5rem;
        }

        img {
          max-width: 50%;
          float: left;
          margin-right: 1rem;
        }

        p {
          padding: 3rem .5rem .5rem .5rem;
          @include smaller-font;
        }

        a {
          background: white;
          display: inline-block;
          height: 100%;
          position: relative;
          color: $terra;

          &:hover {
            background: $opaque-light-2;
          }
        }

        .marker {
          position: absolute;
          border-style: solid;
          border-width: $tri-size $tri-size $tri-size 0;
          border-color: transparent white transparent transparent;
          top: 50%;
          left: 50%;
          margin-top: -$tri-size;
          margin-left: -$tri-size;
        }
      }

      // for the middle row
      li:nth-child(3), li:nth-child(4) {

        &:before {
          left: 0;
        }

        img {
          float: right;
          margin-right: 0;
          margin-left: .5rem;
        }

        .marker {
          border-width: $tri-size 0 $tri-size $tri-size;
          border-color: transparent transparent transparent white;
          margin-left: auto;
          margin-right: -$tri-size;
        }
      }
    }
  }


  // products and tools
  section.get-involved-and-tools {
    padding: 2rem 0;

    h2 {
      color: white;
    }

    figure {
      @extend %hover-effect;
      @extend .hover-effect-std;
      background: $elf;

      figcaption {
        bottom: 0;
        padding-right: $learn-more-simple-size + 20px;
      }
    }
  }

}


