body.ie9 {

  section.core-beliefs {
    .flex {
      display: table;

      .columns {
        height: 600px;
      }
    }
  }

  .case-study-content {

    .stats-column {
      display: none;
    }
  }
}
