// hover effects patterned off this: http://tympanus.net/Development/HoverEffectIdeas/
%hover-effect {
  z-index: 1;
  overflow: hidden;
  background: $terra;

  img {
    position: relative;
    display: block;
    transition: opacity .35s, transform .35s;
    backface-visibility: hidden;
  }

  figcaption {
    padding: .5rem;
    color: white;
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    width: 100%;

    &::before, &::after {
      pointer-events: none;
    }

    p {
      @include smaller-font;
    }

    h2 {
      color: $opaque-light-1;
      margin: 10px 0 0 0;
    }
  }

  &:hover {
    img {
      opacity: 0.25;
      transform: translate3d(-10px,10px,0) scale(1.12);
      transition: opacity .35s, transform .35s;
    }
  }
}


// if we want the paragraph to animate as well
figure.hover-effect-std {
  @extend %hover-effect;

  .hidden-content {
    opacity: 0;
    transition: opacity .35s, transform .35s;
    transform: translate3d(-40px,0,0);
    color: white;
    font-family: $font-family-sans-serif;
  }

  &:hover {
    .hidden-content {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
}


figure.img-love {
  background: white;
  border: $border;
  padding: .7rem;
  margin-bottom: 1rem;

  img {
    display: block;
    margin: 0 0 .4rem 0;
    border: 1px solid rgba(black, .1);
  }

  figcaption {
    line-height: 1.1rem;
  }
}


// dark figcaption
.dark-figcaption {
  margin: 0;

  figcaption {
    position: absolute;
    background: $opaque-dark-1;
    bottom: 0;
    width: 100%;
    padding: .5rem;
    color: white;
  }

}


// big gradient that overlays images/sections
.gradient {
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(black, 0), black);
}


// image grids
ul.image-grid {
  figure {
    border-radius: $global-radius;
    overflow: hidden;
    @extend .dark-figcaption;
  }
}


// global image slider adjustments
.orbit-container {

  .orbit-slide-number, .orbit-timer, .orbit-timer-paused {
    display: none;
  }

}

