.leaflet-control-attribution {
  display: none;
}

section.hubs {
  height: $hero-height;

  @media #{$small-only} {
    height: 300px;
  }

  .legend {
    position: absolute;
    bottom: 1rem;
    left: 0;
    z-index: 10;
    color: white;
    margin: 0;
    width: 100%;

    ul {
      @extend .no-bullet;
      background: $opaque-dark-2;
      display: inline-block;
      margin: 0;
      padding: 1rem;
      @include smaller-font;
      border-radius: 4px;
    }

    li {
      padding-left: .5rem;
      border-width: 1.25rem;
      border-left-style: solid;
      margin-top: .5rem;

      &:first-child {
        margin-top: 0;
      }
    }

    .elf {
      border-color: $elf;
    }

    .verdant {
      border-color: $verdant;
    }

    .poppy {
      border-color: $poppy;
    }
  }

  button {
    position: absolute;
    right: 1rem;
    bottom: 0;
    z-index: 100;
  }

  .hubs-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}