// hover effects patterned off this: http://tympanus.net/Development/HoverEffectIdeas/
%hover-effect {
  z-index: 1;
  overflow: hidden;
  background: $terra;

  img {
    position: relative;
    display: block;
    transition: opacity .35s, transform .35s;
    backface-visibility: hidden;
  }

  figcaption {
    padding: .5rem;
    color: white;
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    width: 100%;

    &::before, &::after {
      pointer-events: none;
    }

    p {
      @include smaller-font;
    }

    h2 {
      color: $opaque-light-1;
      margin: 10px 0 0 0;
    }

    .btn-simple {
      position: absolute;
      right: .5rem;
      bottom: .5rem;
    }
  }

  &:hover {
    img {
      opacity: 0.25;
      transform: translate3d(-10px,10px,0) scale(1.12);
      transition: opacity .35s, transform .35s;
    }
  }
}



// for graphic grids (like courses in platforms)
.graphic-thumbs {
  margin-top: 1rem;
}


// if we want the paragraph to animate as well
figure.hover-effect-std {
  @extend %hover-effect;

  .hidden-content {
    opacity: 0;
    transition: opacity .35s, transform .35s;
    transform: translate3d(-40px,0,0);
    color: white;
    font-family: $font-family-sans-serif;
  }

  &:hover {
    .hidden-content {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
}


figure.img-love {
  background: white;
  border: $border;
  padding: .7rem;
  margin-bottom: 1rem;

  img {
    display: block;
    margin: 0;
    border: 1px solid rgba(black, .1);
  }

  figcaption {
    line-height: 1.1rem;
    margin-top: .4rem;
  }
}


// dark figcaption
.dark-figcaption {
  margin: 0;

  figcaption {
    position: absolute;
    background: $opaque-dark-1;
    bottom: 0;
    width: 100%;
    padding: .5rem;
    color: white;
  }

}


// big gradient that overlays images/sections
.gradient {
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(black, 0), black);
}


// image grids
ul.image-grid {
  figure {
    border-radius: $global-radius;
    overflow: hidden;
    @extend .dark-figcaption;
  }
}


// global image slider adjustments
.orbit-container {

  .orbit-slide-number, .orbit-timer, .orbit-timer-paused {
    display: none;
  }

}

// video embeds

section .video {
  padding: 1.5rem 2.5rem;
  background: $opaque-dark-2;
  position: relative;

  .navigator {
      position: absolute;
      font-size: 5em;
      top: 40%;

      a {
          color: #EEE;
          opacity: .8;
      }
  }

  .navigator.back {
      left: .1em;
  }

  .navigator.forward {
      right: .1em;
  }

  .flex-video {
    margin-bottom: 0;
  }

  .controls {
      margin-top: .5em;
      text-align: center;
      a {
          color: #DEDEDE;
          margin: 0 .1em;
      }

      a.active {
          color: $marigold;
      }
  }

  @media #{$small-only} {
    margin-bottom: 1.5rem;
  }
}

section .video:hover .navigator a {
    opacity: 1;
}

// for store stuff
section.store-items {

  figure {
    background: white;

    img {
      margin-bottom: 0;
    }

    figcaption {
      padding: 0;

      h5 {
        position: absolute;
        bottom: 0rem;
        left: 1rem;
        background: $opaque-dark-1;
        width: 100%;
        left: 0;
        padding: .5rem;
        // padding-right: 2.5rem;
        color: $opaque-light-1;
        margin: 0;
        font-size: 1rem;
        font-weight: 300;
      }
    }

    .shopping-cart-icon {
      position: absolute;
      right: .65rem;
      bottom: 0rem;
      font-size: 1.1rem;
      border-left: $border-opaque-light;
      padding-left: .5rem;
      padding-top: .35rem;
      color: $opaque-light-2;
      transition: color .2s;

      &:hover {
        color: white;
        transition: color .2s;
      }
    }

    footer {
      display: none;

      a, {
        color: white;
        padding: .5em;
        background: $elf;
        transition: background .2s;
        display: block;
        width: 100%;

        &:hover {
          background: $verdant;
          transition: background .2s;
        }
      }
    }
  }

  // prices
  .price {
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .5rem;
    background: $opaque-dark-1;
    transition: all .2s;
    font-size: rem-calc(22);
    border-radius: .3rem;
    line-height: 1rem;
    color: $opaque-light-1;

    &:hover {
      background: black;
      color: white;
      transition: all .2s;
    }

    i {
      padding-left: .5rem;
      margin-left: .5rem;
      border-left: $border-dotted-lighter;
    }
  }
}
