body.network {

  .primary-nav .network-link  {
      @include primary-nav-you-are-here;
  }

  section.overview {
    background-image: url('/assets/images/network/hero.jpg') center top;

    @media #{$medium-up} {
      background-image: url('/assets/images/network/hero-lg.jpg');
    }

    .content {
      position: absolute;
      bottom: 2rem;
      width: 100%;
    }

    h1, p {
      color: white;
    }

    .network-logo {
      max-width: 75px;
      float: left;
      margin-right: 1rem;
    }
  }


  ul.application-process {
    @extend .no-bullet;
    border-top: $border-dashed;

    li p {
      @include smaller-font;
    }

    .bordered-list {
      margin-left: 0;
    }
  }


  section.technology-platform {

    .tech-platform-points {
      margin-top: 1rem;

      .panel {
        position: relative;
        padding-top: 4rem;
        padding-bottom: 2.5rem;
        margin-bottom: 1.5rem;

        @media #{$medium-up} {
          margin-bottom: 0;
        }

        header, footer {
          position: absolute;
          width: 100%;
          left: 0;
        }

        header {
          padding: 0 1rem;
          border-bottom: $border;
          top: 0;
          background: $smoke;
          height: 3rem;

          h3, i {
            line-height: 3rem;
            margin: 0;
          }

          i {
            float: left;
            margin-right: .5rem;
            font-size: 1.5rem;
            color: $stone;
            border-right: $border;
            padding-right: .5em;
          }
        }

        footer {
          bottom: 0;
          height: 2rem;
          line-height: 2rem;

          a {
            display: block;
            background: $elf;
            transition: background .2s;
            color: white;
            padding: 0 1rem;

            &:hover {
              background: darken($elf, 10%);
              transition: background .2s;
            }
          }

          i {
            margin-right: .5rem;
          }

          a.no-link {
            background: lighten($elf, 20%);
          }
        }

        p, li {
          @include smaller-font;
        }
      }
    }
  }


  // hub landing page
  .hub-overview {
    margin: 1rem 0;

    .stats ul {
      @extend .smaller;
      @extend .bordered-list;
    }

    .hub-logo {
      margin-bottom: 1rem;
      padding: .5rem;
      border: $border;
      background: white;
      border-radius: $global-radius;
    }
  }


  section.videos {
    @extend .dark;

    .flex-video {
      margin-bottom: 0;
    }
  }

}
