body.network {

  .primary-nav .network-link  {
      @include primary-nav-you-are-here;
  }

  section.overview {
    background: url('/assets/images/network/hero.jpg') center top;
    background-size: cover;
    height: 300px;

    @media #{$medium-up} {
      background: url('/assets/images/network/hero-lg.jpg') center top;
      height: 500px;
      background-size: cover;
    }

    .content {
      position: absolute;
      bottom: 2rem;
      width: 100%;
    }

    h1, p {
      color: white;
    }

    .network-logo {
      max-width: 75px;
      float: left;
      margin-right: 1rem;
    }
  }


  ul.application-process {
    @extend .no-bullet;
    border-top: $border-dashed;

    li p {
      @include smaller-font;
    }

    .bordered-list {
      margin-left: 0;
    }
  }

  section.technology-platform {

    .tech-platform-points {
      margin-top: 1rem;

      p, li {
        @include smaller-font;
      }
    }
  }


  // hub landing page
  .hub-overview {
    margin: 1rem 0;

    .stats {
      @extend .smaller;
      @extend .bordered-list;
    }

    .hub-logo {
      margin-bottom: 1rem;
      padding: .5rem;
      border: $border-light;
    }
  }


  section.videos {
    @extend .dark;

    .flex-video {
      margin-bottom: 0;
    }
  }

}
