body.network {

  .primary-nav .network-link  {
      @include primary-nav-you-are-here;
  }

}

// hubs
section.hubs {
  height: $hero-height;

  button {
    position: absolute;
    right: 1rem;
    bottom: 0;
    z-index: 100;
  }

  .hubs-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}