ul.in-the-news li, ul.press-releases li { 
    border-bottom : 1px dotted lightgray; 
    margin-bottom:1em; 
    padding-bottom: 1em; 
} 

.newsroom .row {
   width: 90%;
   max-width: initial; 
}

.newsroom section.schedule {
    background: white;
}
 
 .newsroom section.our-strategy {
    background: #efefef;
   max-width: 58.82353rem; 
   margin-left: 13%;
}

.newsroom-hero-image {
  overflow: hidden;
  height: 570px;
  position: relative;
  img {
    position: absolute;
    top: -330px;
  }
}

.section-title-alt {
  color: #4f483f;
  margin-top: 1em;
  margin-bottom: 1em;
}

.description {
  font-size: 0.9em;
}

  // news
  section.news {
    background: $smoke;

    .archived-posts {
      margin-top: 1rem;
    }

    border-bottom: $border;

    h2 small {
      margin-left: .65rem;
    }

    // fixing bracket positioning in header
    h2 small span {
      top: -1px;
      position: relative;
      margin: 0 2px;
    }

    .news-grid {

      width:115%;

      @include block-grid(1, 0);
      counter-reset: item;
      list-style-type: decimal;

      @media #{$medium-up} {
        @include block-grid(2, 0);
      }

      li {
        margin: 0;
        padding: 0;
        position: relative;

        @media #{$large-up} {
          &:before {
            content: counter(item, decimal);
            counter-increment: item;
            position: absolute;
            top: 0rem;
            left: 50%;
            margin-left: 1rem;
            z-index: 1000;
            font-weight: 700;
            font-size: 2.5rem;
          }
        }

        img {
          max-width: 50%;
          float: left;
          margin-right: 1rem;
        }

        p {
          padding: .5rem;
          @include smallest-font;

          @media #{$large-up} {
            padding: 3rem 1rem 1rem 1rem;
          }
        }

        a {
          background: white;
          display: inline-block;
          height: 100%;
          width: 100%;
          position: relative;
          color: $terra;

          &:hover {
            background: $opaque-light-2;
          }
        }
      }

      @media #{$small-only} {
        li:nth-child(even) {
          img {
            float: right;
            margin-right: 0;
            margin-left: .5rem;
          }
        }
      }

      @media #{$medium-up} {
        // for the middle row
        li:nth-child(3), li:nth-child(4) {

          &:before {
            left: 0;
          }

          img {
            float: right;
            margin-right: 0;
            margin-left: .5rem;
          }

          .marker {
            border-width: $tri-size 0 $tri-size $tri-size;
            border-color: transparent transparent transparent white;
            margin-left: auto;
            margin-right: -$tri-size;
          }
        }
      }

    }
  }
