body.platform {

  .primary-nav .platform-link  {
    @include primary-nav-you-are-here;
  }

  section.overview {
    background-image: url('/assets/images/platform/platform-hero.jpg');

    @media #{$medium-up} {
      background-image: url('/assets/images/platform/platform-hero-lg.jpg');
    }
  }

  .each-course {
    @extend .no-bullet;

    li {
      margin-bottom: 1rem;
      padding-left: 3.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li p {
      @include smaller-font;
    }

    i {
      font-size: 1.4rem;
      padding: .5rem;
      float: left;
      margin-top: .15rem;
      margin-left: -3.5rem;
      border: $border;

    }

    @media #{$medium-up} {
      border-left: $border;
      padding-left: 1rem;
    }

  }

  .course-listing {
    margin-top: 2rem;
  }


  section.consulting {
    .price {
      right: 1.5rem;
    }

    @media #{$small-only} {
      img { margin-bottom: 1rem; }
    }
  }


  .checkout-modal {

    ul {
      @extend .no-bullet;
      margin-top: 1rem;

      li {
        margin-top: .25rem;
        padding-top: .25rem;
        border-top: $border-dotted;
      }
    }
  }

  .total {
    margin-top: 1.5rem;
  }
}
