body.platform {

  .primary-nav .platform-link  {
    @include primary-nav-you-are-here;
  }

  section.overview {
    background-image: url('/assets/images/platform/platform-hero.jpg');

    @media #{$medium-up} {
      background-image: url('/assets/images/platform/platform-hero-lg.jpg');
    }
  }


  section.store-items {

    figure {
      background: white;
      // border: $border;

      img {
        margin-bottom: 0;
      }

      figcaption {
        padding: 0;

        h5 {
          position: absolute;
          bottom: 0rem;
          left: 1rem;
          background: $opaque-dark-1;
          width: 100%;
          left: 0;
          padding: .5rem;
          // padding-right: 2.5rem;
          color: $opaque-light-1;
          margin: 0;
          font-size: 1rem;
          font-weight: 300;
        }
      }

      .shopping-cart-icon {
        position: absolute;
        right: .65rem;
        bottom: 0rem;
        font-size: 1.1rem;
        border-left: $border-opaque-light;
        padding-left: .5rem;
        padding-top: .35rem;
        color: $opaque-light-2;
        transition: color .2s;

        &:hover {
          color: white;
          transition: color .2s;
        }
      }

      footer {
        display: none;

        a, {
          color: white;
          padding: .5em;
          background: $elf;
          transition: background .2s;
          display: block;
          width: 100%;

          &:hover {
            background: $verdant;
            transition: background .2s;
          }
        }
      }
    }

    .course-objectives {
      ul {
        @extend .plus;
        @include half-space(top);
        border-top: $border-dashed;

        li {
          font-size: .85rem;
        }
      }
    }
  }


  // prices
  .price {
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .5rem;
    background: $opaque-dark-1;
    transition: all .2s;
    font-size: rem-calc(22);
    border-radius: .3rem;
    line-height: 1rem;
    color: $opaque-light-1;

    &:hover {
      background: black;
      color: white;
      transition: all .2s;
    }

    i {
      padding-left: .5rem;
      margin-left: .5rem;
      border-left: $border-dotted-lighter;
    }
  }


  section.consulting {
    .price {
      right: 1.5rem;
    }

    @media #{$small-only} {
      img { margin-bottom: 1rem; }
    }
  }


  .checkout-modal {

    ul {
      @extend .no-bullet;
      margin-top: 1rem;

      li {
        margin-top: .25rem;
        padding-top: .25rem;
        border-top: $border-dotted;
      }
    }
  }

  .total {
    margin-top: 1.5rem;
  }
}
