body.platform {

  .primary-nav .platform-link  {
    @include primary-nav-you-are-here;
  }

  section.overview {
    background-image: url('/assets/images/platform/platform-hero.jpg');
    background-position: bottom center;

    @media #{$medium-up} {
      background-image: url('/assets/images/platform/platform-hero-lg.jpg');
    }
  }

  .store-divider {
    border-top: $border-dotted;
    margin-top: 2rem;
    @include space(bottom);
    height: 1px;
  }


  section.technology-platform {

    .tech-platform-points {
      margin-top: 1rem;
    }
  }

  .course-listing {
    margin-top: 2rem;
  }


  .consulting {
    .price {
      right: 1.5rem;
    }

    @media #{$small-only} {
      img { margin-bottom: 1rem; }
    }
  }


  .checkout-modal {

    ul {
      @extend .no-bullet;
      margin-top: 1rem;

      li {
        margin-top: .25rem;
        padding-top: .25rem;
        border-top: $border-dotted;
      }
    }
  }

  .total {
    margin-top: 1.5rem;
  }
}
