body.savory-journeys {
  section.overview {
    background-image: url('/assets/images/get-involved/ef18666a-5d9c-4ac3-9bb9-dc1787dca871.jpeg');

    @media #{$medium-up} {
      background-image: url('/assets/images/get-involved/ef18666a-5d9c-4ac3-9bb9-dc1787dca871.jpeg');
    }
  }

  section.main.savory-journeys {
  	text-align: center;
  }

  section.main {
    img {
      vertical-align: baseline;
    }

  	.panel {
  	}
    .panel header {
    }
    .panel footer {
      position: absolute;
      bottom:0;
    }
    .panel-body {
      position:relative;

      .organization, .location, .date {
          margin: 0;
          line-height: 1.5em;
      }
    }
    @media #{$medium-up} {
      .panel-body img {
        height:12rem;
      }
    }
  }
}
