body.savory-journeys {
  section.overview {
    background-image: url('/assets/images/get-involved/savory-journeys-lg.jpg');

    @media #{$medium-up} {
      background-image: url('/assets/images/get-involved/savory-journeys-lg.jpg');
    }
  }

  section.main.savory-journeys {
  	text-align: center;
  }

  section.main {
    img {
      vertical-align: baseline;
    }

  	.panel {
  	}
    .panel header {
    }
    .panel footer {
      position: absolute;
      bottom:0;
    }
    .panel-body {
      position:relative;
      height:24rem;
    }
    @media #{$medium-up} {
      .panel header img {
        height:12rem;
      }
    }
  }
}
