body.savory-journeys {
  section.overview {
      background-size: cover;
      background-position: center center;
    @media #{$medium-up} {
    }
  }

  section.main.savory-journey-template {
  	padding: 4rem;

  	h5 {
  		margin-bottom: 0;
  	}

  	h3 {
  		margin-bottom: 1em;
  	}
  }
}