html, body, .inner-wrap {
  height: 100%;
}

.inner-wrap {
  @media #{$xlarge-up} {
    border-right: $border;
    border-left: $border;
  }
}



// line halfway through
.keyline {
  position: absolute;
  width: 100%;
  left: 50%;
  border-left: $border;
  height: 100%;
  @extend .hide-for-small-only;
}

.key-points {
  margin-top: 2rem;
  position: relative;

  .point {
    border-top: $border;
    padding: 1rem 0;
    @include smaller-font;

    @media #{$medium-up} {
      &:first-child {
        border-top: none;
      }
    }

    p {
      @include smaller-font;
    }
  }

  .left .point {
    @media #{$medium-up} {
      h4, p {
        padding-right: 1rem;
      }
    }
  }

  .right .point {
    @media #{$medium-up} {
      h4, p {
        padding-left: 1rem;
      }
    }
  }
}


// sections
section {
  position: relative;
}

section.main {
  padding: $section-padding 0;
  z-index: 0;

  &:nth-of-type(even) {
    background: white;
  }
}

section.half-color {
  padding: $section-padding/2 0;
  background: $smoke;
  border-bottom: $border;

  p {
    color: white;
  }

  .nested {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .art {
    @extend .show-for-medium-up;
    @extend .nested;
    right: 50%;
    background: url('/assets/images/aspen.svg') no-repeat $smoke right center;
    background-size: cover;
  }

  .color {
    @extend .nested;
    background: lighten($stone, 20%);

    @media #{$medium-up} {
      background: $stone;
      left: 50%;
    }
  }
}

section.dark {
  padding: $section-padding 0;
  background: $mud url('/assets/images/noise.png');

  p, li, label {
    color: $smoke;
  }

  hr {
    border-top: $border-opaque-light;
  }

  .keyline {
    border-left: $border-opaque-lighter;
  }

  .key-points .point {
    border-top: $border-opaque-lighter;

    @media #{$medium-up} {
      &:first-child {
        border-top: none;
      }
    }
  }
}

section.call-to-action {
  padding: $section-padding*.7 0;
  background: lighten($mud, 70%);
  border-top: $border-dashed;
  margin-top: -2rem;
}

figure {
  margin: 0 0 2rem 0;
  position: relative;
  font-family: $font-family-sans-serif;

  @media #{$medium-up} {
    margin: 0;
  }

  button {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    margin: 0;
  }

  figcaption {
    padding-top: .5rem;

    ul, ol, p {
      margin-bottom: 0;
      @include smaller-font;
    }
  }
}

section.photo-background {
  h2 {
    color: white;
  }
}

// overview section
section.overview {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;

  @media #{$medium-up} {
    height: 400px;
  }
}

img.section-hero {
  margin-top: -$section-padding;
  margin-bottom: 2rem;
}

.off-canvas-wrap {
  max-width: rem-calc(1440);
  margin: 0 auto;
}


// big images with header overlay
%section.main-img-background {
  position: absolute;
  background-size: cover;
  background-repeat: none;
  background-position: center center;

  h2 a {
    color: $opaque-light-1;
    background: $opaque-dark-1;
    display: block;
    font-family: $font-family-serif;
    font-size: rem-calc(20);
    margin: 0;
    padding: .5rem;
    line-height: 1rem;
    position: absolute;
    bottom: 0;
  }
}

// for section headers
.section-header {
  padding: .5rem 0;
  margin-top: -$section-padding;
  background-size: cover;
  background-position: center center;
  min-height: 400px;
  margin-bottom: $section-padding * .75;
  position: relative;

  header {
    background-color: $opaque-dark-2;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  h2 {
    margin: 0;
    color: $opaque-light-1;
    padding: 1rem 0;
  }
}

// flex goodness
.flex {
  @media #{$medium-up} {
    display: flex;
    align-items: stretch;
  }
}



// panels
.grid-panel {
  background: lighten($mud, 20%);
  border: $border;
  padding: 1rem;

  p {
    @include smaller-font;
    color: white;
  }

  h4 {
    margin-bottom: .5rem;
    color: white;
  }

  figure {
    margin-bottom: 1rem;
    border: $border;
    background: $smoke;

    figcaption {
      @include smaller-font;
      padding: .5rem;
    }
  }

  header {
    border-bottom: $border-dashed-lighter;
    margin-bottom: .5rem;
  }
}


// be nice to have a little space between labels
.label {
  margin: 0 .17rem;
}


// filepicker stuff
.filepicker-drag {
  line-height: $learn-more-simple-size !important;
  background-color: white !important;
  box-shadow: none !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 0 !important;
  margin-left: .5rem !important;
  margin-top: -1px !important;

  span {
    border-radius: 0 !important;
    padding: 0 !important;
    float: none !important;
    margin: 0 0 0 .5rem !important;
  }

  div {
    border-radius: 0 !important;
    background: $elf !important;
  }
}


// for block rows (callouts, etc.)
.block-row {
  margin-top: 1rem;
}


// big opaque overlay
.overlay {
  background: linear-gradient(to right, rgba(black, 0.65) 10%,rgba(black, 0.1) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overlay-bottom {
  background: linear-gradient(to top, rgba(black, 1) 0%,rgba(black, 0) 60%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

