section.soilforchange {
  background-image: url('/assets/images/soilforchange/sfc_m.jpg');
  background-repeat: no-repeat;
  min-height: 300px;
  width: 100%;
  position: relative;

  @media #{$medium-up} {
  min-height: 600px;
    background-image: url('/assets/images/soilforchange/sfc.jpg');
  }

  .photo-copy {
    background: rgba(255,255,255,0.75);
    position: absolute;
    left: 15px;
    top: 138px;
    width: 24em;
    font-size: 0.9em;
    padding: 0.5em;
    color: rgb(0, 0, 0);
    line-height: 22px;
    @media #{$medium-up} {
      left: 120px;
      top: 260px;
      width: 60%;
      font-size: 1.05em;
      padding: 1em;
      line-height: 27px;
    }
  }
}

section.sfc-colorblock {
  background-image: linear-gradient(-90deg, #B03727, #F59047) !important;
  color: white;
}

.soil-supporters {
  ul {
    width: 100%;
  }
  li {
    width: 12%;
    display: inline-block;
    margin-left: 2%;
    &:first-child {
      margin-left: 16%;
    }
  }
}

.center { text-align: center !important; }

// section.sfc-second-hero {
//   background-image: url('/assets/images/soilforchange/sfc_m2.jpg');
//   background-repeat: no-repeat;
//   min-height: 300px;
//   width: 100%;

//   @media #{$medium-up} {
//   min-height: 600px;
//     background-image: url('/assets/images/soilforchange/sfc2.jpg');
//   }

//   .photo-copy {
//     color: rgba(255, 255, 255, 0.9);
//     padding-left: 2.3em;
//     padding-top: 6em;
//     width: 82%;
//     font-size: 1em;
//     @media #{$medium-up} {
//       padding-left: 7em;
//       padding-top: 13em;
//       width: 60%;
//       font-size: 1.25em;
//     }
//   }
// }

section.sfc-greetings {
  padding: 2em;
  .button {
    margin-top: 2em;
    background: #e35825;
    a {
      color: white;
      width: 100%;
      font-size: 3em;
      padding: 1em;
    }
   }
}

.extra-content {
  display: none;
  animation: contentReveal 0.2s ease-out;
}

@include keyframes(contentReveal) {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

section.main.manifesto .row {
  margin-top: -60px;
}

.terra {
  color: #4f483f !important;
}
