block variables
  - title = 'Thank You'

extends /layout-network

block content


  section.main
    .row
      .small-12.columns
        h1= title
        p Thank you very much for the Hub application. We will be in touch the beginning of 2016.


