block variables
  - title = 'Pacific Northwest Center for Holistic Management'

extends /layout

block content

  section.main
    .row
      .small-12.columns
        h1= title
    
    .hub-overview
      .row
        .medium-8.columns
          ul(data-orbit='')
            li
              img(src='/assets/images/hub/pict-1.jpg')
            li
              img(src='/assets/images/hub/pict-2.jpg')
            li
              img(src='/assets/images/hub/pict-3.jpg')
            li
              img(src='/assets/images/hub/pict-4.jpg')
            li
              img(src='/assets/images/hub/pict-5.jpg')
        
        .medium-4.columns
          .hub-logo
            img(src='/assets/images/hub/logo.png')
          ul.stats
            li Lazy R Ranch in Cheney, Washington
            li Beef cow/calf business that sells grass fed beef to restaurants and individual customers
            li Uses Holistic Management and Planned Grazing
            li Acreage: 1000 acres
            li Total herd size: 150 head
            li Other enterprises: Firewood and hunting
            li 
              a(href='http://pnchm.org/', target='_blank') pnchm.org
        
    .row
      .small-12.columns
        p The Pacific Northwest is a very diverse region both environmentally and culturally. The coastal areas on the west side of the Cascade Mountains are lush, non-brittle, moderately populated with large cities, forested and have many mountains, lakes, and islands. There are small diverse farms and ranches.
        p The east side is relatively brittle, dry, more sparsely populated and the majority of the farms are much larger. The geography varies from rolling wheat fields, orchards and crop lands to rocky scrub lands.
        p The Pacific Northwest Center for Holistic Management (PNCHM) is a not for profit registered in the states of Washington and Oregon. It is officially designated as a 501c3 organization by the federal government. It is the product of the collaborative effort of Managing Change Northwest, the Savory Institute, ranchers, farmers, university and extension educators, as well as other sustainability activists.
        
        h3 We promote restoration of grasslands through Holistic Management. We accomplish this by:
        ol
          li Healing the land using properly managed livestock to create triple-bottom-line benefits, thereby sequestering carbon, improving watershed health and creating conditions for more effective ecosystem processes.
          li Empowering others to use properly managed livestock to heal the land by providing consulting, facilitation services and teaching how to use Holistic Management to create environmental, economic and social benefits
          li Removing barriers on the path to successful large-scale change through activities such as conducting research, developing sound policies, creating market incentives and raising public awareness
        p Through this process we create the added benefits of building capacity, enhancing profitability and improving the quality of life for the residents of the Pacific Northwest now and for future generations. Using the principles of holistic decision making and planned grazing, PNCHM works with ranchers, agencies, organizations, and policy makers toward rejuvenation of the grasslands, increasing biodiversity, sequestering carbon, reversing desertification, and addressing climate change. In addition, farmers and ranchers can use Holistic Financial Planning to become more profitable so they can continue to stay on the land. Finally, the Holistic Management decision making framework guides people in creating the quality of life they desire.
        
  
  section.main
    .row
      .small-4.columns
        figure.img-love
          img(src='/assets/images/hub/leadership.jpg')
          figcaption
            | Maurice and Beth Robinette
            
      .small-8.columns
        h2 Leadership
        p PNCHM has six accredited professional educators and field professionals. All are or have been farmers and ranchers in the region. We proudly have a father/daughter team of educators - Maurice and Beth Robinette. The majority of the team has worked together since 1996 as a result of the five year long IFS-WSU Holistic Management Project in state of Washington. We have been practicing Holistic Management since the project began in 1995. We have experience and expertise in beef, sheep, goats, yaks and other species as well as in crop production and biological monitoring. Several members live on multi-generational farms/ranches.
        p Most of our educators have extensive training, certification and experience in consensus based group facilitation. 
        p Our university related directors have years of service in extension and research.
        p All are dedicated to helping others become more sustainable and holistic in their practices and ultimately restoring grasslands in the Pacific Northwest.


  section.main
    .row
      .medium-6.columns
        .flex-video.widescreen
          //- iframe(width='640', height='360',src='//www.youtube.com/embed/UJB4dMM5n1A?rel=0', frameborder='0', allowfullscreen='')

      
      .medium-6.columns
        .flex-video.widescreen
          //- iframe(width='640', height='360',src='//www.youtube.com/embed/aDpOr8U3mWw?rel=0', frameborder='0', allowfullscreen='')
        
    .row
      .small-12.columns
        h2 Services
        
        h3 Educational Opportunities
        p PNCHM provides workshops, field days, webinars, distance learning, and teleconferences on Holistic Management decision making, Planned Grazing, Financial Planning, Biological Monitoring, Land Planning, Policy Analysis and Development, and many more topics relevant to ranchers, farmers, land managers, organizations, agencies, and policy makers. We offer group training or we can custom tailor a workshop to fit your needs held at your location. We also train Educators, Practitioners, and Field Professionals toward certification in Holistic Management.
        
        h3 Event Speakers
        p Let one of our experienced and knowledgeable team members provide a keynote, presentation or workshop at your next event. Contact us for details.
        
        h3 Consulting
        p Our team members will work with you at your location to help you address challenges, move toward your desired landscape, improve profitability and manage your business more effectively. We can design a program to meet your specific goals and budget.
        
        h3 Biological Monitoring
        p Taking a detailed look at the soil, plants and biological activity over time will tell you if your management is leading you in the direction you desire and what changes may be needed. We provide biological monitoring that is best suited for your land and needs.
        
        h3 Group Facilitation
        p Experienced facilitators trained in consensus building techniques can guide you in planning, project development or lead your group through conflict and toward a common goal. We work with both large and small groups as well as with businesses and families.
        
        h3 Land Management
        p Information on Land Management Services will be coming in 2015!