block variables
  - title = 'Network'

extends /layout-network

block content

  section.main
    .row
      .small-12.columns
        h1= title


  section.main.hubs
    #map.hubs-map


  #empowering-others(data-magellan-destination='empowering-others')
  section.main
    .row
      .small-12.columns
        h2 Empowering Others
        h3 Training and Support
        p Through Savory Hubs we can train and support practitioners around the globe, restoring healthy soils that:
        ul
          li Withstand drought and rebuild watersheds
          li Provide habitat for wildlife
          li Are the basis for healthy food production
          li Absorb carbon from the atmosphere, mitigating climate change
          li Support livelihoods and rural traditions

        h3 Establishing Hubs
        p With Savory Hubs, we can affect large-scale change. To ensure a worldwide shift towards a holistic approach to agriculture, Savory Institute has set a goal for 2025 of establishing 100 Hubs, influencing 1 billion hectares of grasslands across the continents. In 2013, the Savory Institute will help establish the first 10 strategically-placed, locally led and managed hubs around the world–empowering people to use properly managed livestock to heal the land. Watch this video to learn more about Savory Hubs.


  #growth(data-magellan-destination='growth')
  section.main
    .row
      .small-12.columns
        h2 Growth
        p To scale up our grasslands restoration efforts through Holistic Management, the Savory Institute is establishing strategically-placed hubs around the world to empower people to use properly managed livestock to heal the land.
        p Savory Institute's goal is to establish, by 2025, 100 self-sustaining Savory Hubs in strategic areas around the world providing local capacity and infrastructure to train thousands of Holistic Management practitioners and influence the management of 1 billion hectares of land (or 1/5 of the grasslands of the world).
        p Savory Hubs will offer consulting and training services, state of the art content and tools, and access to the land, networks and funding resources necessary to create the scale of impact needed at the ground level. Savory Hubs will represent a global community of Holistic Management practitioners. Each Savory Hub will have three key elements:
        ol

          li
            h4 Staff
            p Each Savory Hub will be staffed with accredited local professionals who are experienced in using and teaching Holistic Management to successfully handle the complexities of management in commercial and/or communal land settings.Land. Each Savory Hub will be strategically located in order to influence an average of 10 million hectares of land. Each hub will also have control over specific piece of land that will serve as a learning site, providing a location for hands-on training for pastoralists who are learning to use Holistic Management and opportunities for scientific research.

          li
            h4 Infrastructure
            p Each Savory Hub will have access to the Holistic Platform™, a digital, multi-media,interactive platform that will provide access to the Savory Hub network, a global network of experts andHolistic Management practitioners, training curriculum, materials and content management, tools,entrepreneurial development support, and funding and financing resources. The Holistic Platform will provide the necessary structure and support to ensure that local restorative work is consistent, sustainable and successful.

          li
            h4 Services
            p Supported by Savory Institute each Savory Hub will be responsible for marketing the following programs and services to local practitioners, NGOs and government agencies:

            ul.circle
              li
                h3 Professional Training
                p Each Savory Hub will offer training in Holistic Management for both commercial and communal land-based practitioners, as well as NGOs and governments working with pastoralists. It will have access to land that can be used to provide practical hands-on experience as part of the training curriculum.Professional Accreditation. Each Savory Hub will offer formal accreditation for professionals who are trained to teach and support others in the practice of Holistic Management.

              li
                h3 Project Consulting
                p Each Savory Hub will offer custom training, education and consulting services to land managers, organizations and governments who are managing or working at influencing the management of large areas of grasslands or degraded dry lands.
                p Full Spectrum Monitoring. Each Savory Hub will offer biological, social and financial monitoring services to land managers, organizations and governments to ensure long-term sustainability of their projects and initiatives.

              li
                h3 Educational Programs
                p Each Savory Hub will offer opportunities for local youth and community members to learn more about Holistic Management and the business, policy and science issues involved in sustainable land management.

              li
                h3 Auditing Services
                p Each Savory Hub will offer auditing services to land managers interested in accessing established market incentives or premium prices for their products under specific sustainable land and livestock management standards.
                p Each Savory Hub will serve as a lab for Savory Institute to coordinate the implementation of relevant research targeted to removing context specific barriers in the realm of policy and/or markets to facilitate the rapid adoption of regenerative land management practices.

              li
                h3 Entrepreneurial Incubator
                p Each Savory Hub will serve as a regional incubator for innovative land-based enterprises that could enhance triple bottom line returns to land managers, including innovative approaches to monetizing ecosystem services.


  #launch-strategy(data-magellan-destination='launch-strategy')
  section.main
    .row
      .small-12.columns
        h2 Launch Strategy
        p We have developed a three-step process for launching each Savory Hub that takes into account local demand for services, potential partnerships, funding needs and estimated timeline to financial sustainability.
        p Regional Events. The Savory Institute will sponsor regional training events, workshops and/or conferences to determine the demand for Holistic Management products and services in a specific area. We may also work to establish pilot or demonstrations sites in partnership with other organizations as a way of establishing proof of concept and offering viable alternatives, thus increasing the local and regional demand for Holistic Management training.
        p Field Offices. If the regional event or demonstrations sites prove to be successful and adequate demand is established, the Savory Institute will deploy resources to establish a regional field office. The field office will be staffed with a local accredited Holistic Management professional who will be directly responsible for facilitating and coordinating local activities, business development and networking initiatives. The field office will coordinate with local accredited Holistic Management field professionals and trainers to help fulfill the demand for trainings and consulting.
        p Savory Hub. After the the viability of starting a local Savory Hub has been established, Savory Institute and the local field office will collaborate for the successful establishment of a locally led and managed accredited Hub.


  #healing-the-land(data-magellan-destination='healing-the-land')
  section.main
    .row
      .small-12.columns
        button.primary
          a(href='/network/hub-application') Hub Application
  