block variables
  - title = 'Holistic Training - Farm Planning & Holistic Grazing'
  - metaDesc = 'Here at The Savory Institute we offer professional holistic training, educational programs and farm planning to assist you and your land in becoming a Holistic Grazing farm. Call (303)327-9760 and start your courses today.'

extends /layout-network

block content

    #overview(data-magellan-destination='overview')
    section.main.overview
        .content
            .row
                .small-12.columns
                    a.btn-primary.apply(href='https://docs.google.com/forms/d/e/1FAIpQLSdEf3mM7FUkntWw_KcaxIY33a5MgQLo67Ny85HvDGmxXlH_qQ/viewform', target='_blank')
                        i(class='fa fa-mail-forward')
                        span Apply

    section.main.what
        .content
            .row
                .medium-8.medium-centered.columns
                    div.callout
                        h3 What is Savory Global Network?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


    #signature-stories(data-magellan-destination='signature-stories')
    section.main.signature-stories
        header.overview-header
            .row
                .medium-12.columns
                    h2.section-title Signature Stories
        .row.signature-video
            .medium-10.medium-offset-1.columns
                .video
                    .flex-video.widescreen.vimeo
                        iframe(src='https://player.vimeo.com/video/179280081?title=0&byline=0&portrait=0')

        .row
            .medium-4.columns
                .panel
                    header
                        i.fa.fa-book
                        h3 Jefferson Center
                    p: img(src='/assets/images/network/signature-stories-jefferson.png')
                    p: strong: em By Abbey Smith
                    p We enjoy field walks with our friends. On this late summer afternoon, Spencer takes a break from checking pasture, cattle and soil conditions to share this information with us. He is joined by our beloved cow Belle (really it is our daughter Maezy’s cow) and other relaxed cattle enjoying the warm, peaceful afternoon on the ranch.
                    p Please take three minutes to share in this September walk with us through Springs Ranch and learn more about Grazing for Change: Igniting a Consumer Revolution.
                    footer
                        a(href='http://jeffersonhub.com/grazing-for-change-2016-learn-about-the-savory-land-to-market-program/' target='_blank') Learn More
            .medium-4.columns
                .panel
                    header
                        i.fa.fa-book
                        h3 3LM
                    p: img(src='/assets/images/network/signature-stories-3lm.png')
                    p: strong: em By Sheila Cooke
                    p As a member of the global Savory Network, we are hosting a conference for British farmers, suppliers, retailers and consumers in order to lay the foundation for transforming the provision of meat, milk, wool and leather into a supply framework of producers and market partners looking to source truly regenerative products.
                    p (By "regenerative" we mean agricultural practices that regenerate soil.)
                    footer
                        a(href='http://3lm.network/event/conference-regenerate/' target='_blank') Learn More
            .medium-4.columns
                .panel
                    header
                        i.fa.fa-book
                        h3 Tallgrass Network
                    p: img(src='/assets/images/network/signature-stories-tallgrass.png')
                    p: strong: em By Chloe Burns
                    p The human side of climate change.
                    p I'm the Tallgrass Network youth outreach coordinator. This video describes the trip I took to Zimbabwe and how it changed the way I viewed the climate justice movement.
                    footer
                        a(href='http://www.tallgrassnetwork.com/news/2016/5/30/the-human-side-of-climate-change?rq=video' target='_blank') Watch Video

    #consulting(data-magellan-destination='accredited-pros')
    section.main.consulting
        .row
            .small-12.columns
                .key-points
                    .keyline
                    .row.collapse
                        .medium-6.columns.left
                          .point
                            h4 Accredited Professional
                            p Accredited professionals lead training and implementation of Holistic Management. Equipped with accreditation in the complete and current Holistic Management body of knowledge, they teach, train and support Holistic Management practitioners. Some add Savory Institute credentials to their existing profession and others focus their career on Holistic Management education. Either way, training from Allan Savory himself and other Holistic Management pioneers and innovative thinkers, make Savory Institute Accredited Professionals truly outstanding in their field.
                            p
                                a(href='mailto:asmith@savory.global', class='btn-primary apply')
                                    i(class='fa fa-mail-forward')
                                    span Apply

                        .medium-6.columns.right
                            .point
                                h4 Savory Global Network Hub
                                p Hubs have a unique place in the Global Network. They are key to achieving large-scale restoration of the world’s grasslands. Hubs create a flexible and quick-moving global network of ordinary, entrepreneurial people who are driven to create abundance for the people and places that matter most to them. Hubs are proxies for the Savory Institute in given region of the world. It is through Savory Global hubs that Holistic Management education, training, events, special projects, research and experiences are realized. A hub coordinates all Savory Institute Holistic Management activities and developments in their defined region of the world.
                                p
                                    a.btn-primary.apply(href='https://docs.google.com/forms/d/e/1FAIpQLSdEf3mM7FUkntWw_KcaxIY33a5MgQLo67Ny85HvDGmxXlH_qQ/viewform', target='_blank')
                                        i(class='fa fa-mail-forward')
                                        span Apply

    #forum(data-magellan-destination='champions-program')
    section.main
        header.overview-header
            .row
                .medium-5.columns
                    h2.section-title SAVORY CHAMPION
                .medium-7.columns
        .row
            .medium-6.columns
                p The Savory Champion is the advocate for Holistic Management and regenerative agriculture. Champions understand that perceptions, beliefs and actions of institutions cannot change until public opinion changes first. The Savory Champions drive a shift in public opinion toward awareness of Holistic Management and its role in regenerating our land, communities, food and health. Supported by the Savory Institute and Global Network, Champions organize, speak about, coordinate and promote the application of Holistic Management to social, economic and environmental challenges in their region.
                h4 DIGITAL LIBRARIES:
                ul.plus
                    li Savory Scientific Portfolio
                    li Savory White Papers
                    li Savory Holistic Management ebooks (Spanish and English versions)
                    li Savory Products & Services Marketing Collateral
                    li Webinar Recordings
                    li All Savory Holistic Management Forms & Charts
            .medium-6.columns
                h4 EVERYTHING IN ONE PLACE:
                p The Savory Champion program includes:
                ul.each-course
                    li
                        i.fa.fa-clock-o
                        h3 Meetings
                        p Meetings, webinars, and access to the Collaboration Forum
                    li
                        i.fa.fa-comments
                        h3 Discounts
                        p On all Savory products, events, and speaking engagements
                    li
                        i.fa.fa-envelope
                        h3 Training
                        p Online courses and content training in Holistic Management
                    li
                        i.fa.fa-archive
                        h3 Provided Materials
                        p Access to online materials and research
                    li
                        i.fa.fa-user-secret
                        h3 Promotional
                        p Recognized as crucial partners at all Savory events
        .row
            .small-12.columns
                br
                p Members of Savory Hubs, Savory Accredited Professionals, and Savory Champions have access to the Collaboration Forum.  Please join one of these groups to receive your login information.
                p
                    a.btn-primary(href='/network#champions-program', target='_blank')
                        i.fa.fa-book
                        | Become a Champion

    section.main.hubs
        .legend
            ul
                li.poppy
                    a(href='#', data-reveal-id='accredited-hubs') Accredited Hubs
                li.verdant
                    a(href='#', data-reveal-id='hub-candidates') Hub Candidates
                li.elf
                    a(href='#', data-reveal-id='special-projects') Special Projects
        script!='var hubs_geojson='+hubs_geojson+';'
        #map.hubs-map

    section.main.news
        header.overview-header
            .row
                .medium-12.columns
                    h2.section-title Network News
        .content
            .row
                each article, i in news
                    .medium-6.columns
                        p
                            img(src=article.getImage('news.image').views['homepage'].url, align='left', width='125', height='125')
                            !=article.getText('news.title')
                        p
                            a.button.small(href='/news/'+article.getText('news.slug')) Read Full Article
