block variables
  - title = 'Holistic Training - Farm Planning & Holistic Grazing'
  - metaDesc = 'Here at The Savory Institute we offer professional holistic training, educational programs and farm planning to assist you and your land in becoming a Holistic Grazing farm. Call (303)327-9760 and start your courses today.'

extends /layout-network

block content

    #global-network(data-magellan-destination='global-network')
    section.main.overview
        .content
            .row
                .medium-8.medium-centered.columns
                    div.callout
                        h3 What is Savory Global Network?
                        p The Savory Global Network is a thriving community of people working to advance Holistic Management. The network is comprised of Savory Hubs, Accredited Professionals, and Savory Champions. Together, the global network advocates, trains, implements, and facilitates Holistic Management and regenerative agriculture practices in their own contexts to create enduring returns for the land and all who depend upon it.


    #network-stories(data-magellan-destination='network-stories')
    section.main.signature-stories
        header.overview-header
            .row
                .medium-12.columns
                    h2.section-title Hub Signature Stories
        .row.signature-video
            .medium-10.medium-offset-1.columns
                .video
                    .flex-video.widescreen.vimeo
                        iframe(src='https://player.vimeo.com/video/179280081?title=0&byline=0&portrait=0')

        .row
            .medium-4.columns
                .panel
                    header
                        i.fa.fa-book
                        h3 Jefferson Center
                    p: img(src='/assets/images/network/signature-stories-jefferson.png')
                    p: strong: em By Abbey Smith
                    p On this late summer afternoon, Spencer takes a break from checking pasture, cattle and soil conditions to share this information with us. He is joined by our beloved cow Belle and other relaxed cattle enjoying the warm, peaceful afternoon on the ranch.
                    p Please take 3 minutes to share in this September walk with us through Springs Ranch and learn more about Grazing for Change: Igniting a Consumer Revolution.
                    footer
                        a(href='http://jeffersonhub.com/grazing-for-change-2016-learn-about-the-savory-land-to-market-program/' target='_blank') Learn More
            .medium-4.columns
                .panel
                    header
                        i.fa.fa-book
                        h3 3LM
                    p: img(src='/assets/images/network/signature-stories-3lm.png')
                    p: strong: em By Sheila Cooke
                    p As a member of the global Savory Network, we are hosting a conference for British farmers, suppliers, retailers and consumers in order to lay the foundation for transforming the provision of meat, milk, wool and leather into a supply framework of producers and market partners looking to source truly regenerative products.
                    p (By "regenerative" we mean agricultural practices that regenerate soil.)
                    footer
                        a(href='http://3lm.network/event/conference-regenerate/' target='_blank') Learn More
            .medium-4.columns
                .panel
                    header
                        i.fa.fa-book
                        h3 Tallgrass Network
                    p: img(src='/assets/images/network/signature-stories-tallgrass.png')
                    p: strong: em By Chloe Burns
                    p I'm the Tallgrass Network youth outreach coordinator. This video describes the trip I took to Zimbabwe and how it changed the way I viewed the climate justice movement.
                    p During my trip, I saw firsthand the effects of how Holistic Management has transformed the area I visited to provide sustainable farming practices. This is about The Human Side of Climate Justice.
                    footer
                        a(href='http://www.tallgrassnetwork.com/news/2016/5/30/the-human-side-of-climate-change?rq=video' target='_blank') Learn More


    #applications(data-magellan-destination='applications')
    section.main.network-hub
        header.overview-header
            .row
                .medium-5.columns
                    h2.section-title NETWORK HUB
                .medium-7.columns
        .row
            .medium-6.columns
                p What is a Savory Global Network Hub? Hubs have a unique place in the Global Network. They are key to achieving large-scale restoration of the world’s grasslands. Hubs create a flexible and quick-moving global network of entrepreneurial people who are driven to create abundance for the people and places of their region and in their context. It is through Savory Global hubs that Holistic Management education, training, events, special projects, consulting, research, and experiences are realized. A hub coordinates all Savory Institute Holistic Management activities and developments in their defined region of the world.
                p
                    a.btn-primary.apply(href='https://docs.google.com/forms/d/e/1FAIpQLSdEf3mM7FUkntWw_KcaxIY33a5MgQLo67Ny85HvDGmxXlH_qQ/viewform', target='_blank')
                        i(class='fa fa-mail-forward')
                        span Become a Savory Hub
            .medium-6.columns
                h4 HUB SERVICES:
                ul.each-course
                    li
                        i.fa.fa-check-square-o
                        h3 Accreditation
                        p Offering regional Savory Accredited workshops and programs in Holistic Management.
                    li
                        i.fa.fa-graduation-cap
                        h3 Consulting
                        p Custom training, education, and consulting services to land managers, organizations and governments who are influencing the management of large areas of grasslands or degraded dry lands.
                    li
                        i.fa.fa-eye
                        h3 Full Spectrum Monitoring
                        p Biological, social, and financial monitoring services to land managers, organizations and governments to ensure long-term sustainability of their projects and initiatives.
                    li
                        i.fa.fa-balance-scale
                        h3 Auditing/Verification Services
                        p Auditing and verification services to land managers who are interested in accessing established market incentives or premium prices for their products.

    #applications(data-magellan-destination='applications')
    section.main.accredited-professional
        header.overview-header
            .row
                .medium-5.columns
                    h2.section-title ACCREDITED PROFESSIONAL
                .medium-7.columns
            .row
                .medium-6.columns
                    p What is a Savory Accredited Professional? Accredited professionals lead training and implementation of Holistic Management. Equipped with accreditation in the complete and current Savory Holistic Management body of knowledge, they teach, train, and support Holistic Management practitioners. Training from Allan Savory himself and other Holistic Management pioneers and innovative thinkers, make Savory Institute Accredited Professionals truly outstanding in their field.
                    p
                        a(href='mailto:asmith@savory.global', class='btn-primary apply')
                            i(class='fa fa-mail-forward')
                            span Become an Accredited Professional
                .medium-6.columns
                    h4 ACCREDITED PROFESSIONAL SERVICES:
                    ul.each-course
                        li
                            i.fa.fa-users
                            h3 Professional Training
                            p Training in Holistic Management for commercial practitioners, private land-managers, and communal land-based practitioners, as well as NGOs and governments working with pastoralists.
                        li
                            i.fa.fa-handshake-o
                            h3 Implementation Support
                            p On-the-ground support for land managers and Holistic Management practitioners.

    #champions-program(data-magellan-destination='champions-program')
    section.main
        header.overview-header
            .row
                .medium-5.columns
                    h2.section-title SAVORY CHAMPION
                .medium-7.columns
        .row
            .medium-6.columns
                p The purpose of the Champions program is to equip and deploy passionate advocates of holistic management to propel a paradigm shift in public opinion and ignite the movement of regenerative agriculture.
                p The Savory Champions program includes opportunities to be informed and equipped to advocate for a transformation of agriculture that results in climate-smart food production, restored ecosystems, and economic prosperity.
                p Members of Savory Hubs, Savory Accredited Professionals, and Savory Champions have access to the Collaboration Forum.  Please join one of these groups to receive your login information.
                p
                    a.btn-primary(href='/network#champions-program', target='_blank')
                        i.fa.fa-book
                        | Become a Champion
            .medium-6.columns
                h4 PROGRAM BENEFITS:
                ul.each-course
                    li
                        i.fa.fa-clock-o
                        h3 Meetings
                        p Quarterly meetings with Savory staff and other Champions, annual webinar with Allan Savory, and access to the Collaboration Forum
                    li
                        i.fa.fa-envelope
                        h3 Training
                        p Online course: "Foundations of Holistic Management" and content training on Holistic Management and how to influence decision-makers on regenerative practices
                    li
                        i.fa.fa-comments
                        h3 Discounts
                        p Discounts to all Savory products and events and 25% discount for Allan Savory or Savory staff speaking engagement
                    li
                        i.fa.fa-user-secret
                        h3 Promotional
                        p Recognition at Savory events
                    li
                        i.fa.fa-archive
                        h3 Provided Materials
                        p Materials to present at local meetings and access to online materials including slide decks, research, case studies


    section.main.hubs
        .legend
            ul
                li.poppy
                    a(href='#', data-reveal-id='accredited-hubs') Accredited Hubs
                li.verdant
                    a(href='#', data-reveal-id='hub-candidates') Hub Candidates
                li.elf
                    a(href='#', data-reveal-id='special-projects') Special Projects
        script!='var hubs_geojson='+hubs_geojson+';'
        #map.hubs-map

    #network-news(data-magellan-destination='network-news')
    section.main.news
        header.overview-header
            .row
                .medium-12.columns
                    h2.section-title Network News
        .content
            .row
                each article, i in news
                    .medium-6.columns
                        p
                            img(src=article.getImage('news.image').views['homepage'].url, align='left', width='125', height='125')
                            !=article.getText('news.title')
                        p
                            a.button.small(href='/news/'+article.getText('news.slug')) Read Full Article
