block variables
  - title = 'Savory Network'

extends /layout-network

block content

  section.main.overview
    .overlay-bottom
    .content
      .row
        .small-12.columns
          img(src='/assets/images/savory-network-light.svg', class='network-logo')

  section.half-color
    .art
    .color
    .row
      .medium-6.columns
        h1= title

      .medium-6.columns
        p Savory's greatest strength lies in empowering others. We don't have all the answers, but we've been doing this a long time, and we're made up of a lot really smart people. <em>Together, we are stronger.</em> We don't choose our Network Partners lightly, these are the best and the brightest in the industry.



  #savory-hub(data-magellan-destination='savory-hub')
  section.main
    .row
      .small-12.columns
        h2 Savory Hub
        p Our goal is to partner with local individuals and organizations to establish self-sustaining Savory Hubs. Hubs provide support for farmers, ranchers, and land-owners. By 2025, we will establish 100 Savory Hubs around the world, providing local capacity and infrastructure to train — and support — thousands of practitioners. This will influence the management of 1 billion hectares of land; <em> that's &frac15; of the grasslands of the world.</em>

        h3 Services
        p Supported by Savory Institute, each Savory Hub will be responsible for marketing the following programs and services to local practitioners, NGOs, and government agencies:


        .key-points
          .keyline
          .row.collapse
            .medium-6.columns.left
              .point
                h4 Professional Training
                p Each Savory Hub will offer training in Holistic Management for both commercial and communal land-based practitioners, as well as NGOs and governments working with pastoralists. It will have access to land that can be used to provide practical hands-on experience as part of the training curriculum. Furthermore, each Hub will offer formal accreditation for professionals who desire to train or consult with practitioners on the implementation of Holistic Management.

              .point
                h4 Project Consulting
                p Each Savory Hub will offer custom training, education, and consulting services to land managers, organizations and governments who are influencing the management of large areas of grasslands or degraded dry lands.

              .point
                h4 Full Spectrum Monitoring
                p Each Savory Hub will offer biological, social, and financial monitoring services to land managers, organizations and governments to ensure long-term sustainability of their projects and initiatives.

            .medium-6.columns.right
              .point
                h4 Educational Programs
                p Each Savory Hub will offer opportunities for local youth and community members to learn more about Holistic Management and the business, policy, and scientific issues involved in sustainable land management.

              .point
                h4 Auditing Services
                p Each Savory Hub will offer auditing services to land managers who are interested in accessing established market incentives or premium prices for their products under specific sustainable land and livestock management standards.

              .point
                h4 Entrepreneurial Incubator
                p Each Savory Hub will serve as a regional incubator for innovative land-based enterprises that could enhance triple bottom line returns to land managers, including innovative approaches to monetizing ecosystem services.


  #hub-application(data-magellan-destination='hub-application')
  section.main
    .row
      .small-12.columns
        figure.img-love
          img(src='/assets/images/network/hub.jpg')
        h2 Hub Application
        p <em>Are you interested in becoming a Hub?</em> The Savory Institute accepts applications for individuals or organizations interested in starting a Savory Hub in their region.
        p We are looking for entrepreneurial, innovative and passionate organizations or individuals who desire to create local solutions to land degradation. Hubs can be an extension of an existing organization or a completely new organization. We encourage for-profits, NGOs, and cooperatives to apply. All Hubs should be financially sustainable through providing local product and service solutions for land degradation, food and water security, and community empowerment.
        p Since 2012, the Savory Institute has received over 200 applications for the establishment of local Hubs — we choose 10 individuals or organizations to become Hub Candidates every year. We have local Hubs or Candidates in over 20+ countries.

        hr
        h3 Application Process:
        p The Savory Institute will evaluate every application in three major categories: 1) Impact 2) Scale and 3) Financial Sustainability. We will narrow all the applications to the top 20 applicants. These top 20 applications will be required to complete the following process to guide Savory in choosing the 10 Hub Candidates.

        h4 Interview
        p Every Hub applicant chosen will be required to complete a phone interview with Savory team. This interview will be important in making a final decision. You will be given an opportunity to present your proposal for becoming a Hub. We will also be available to answer any questions about the selection process.

        h4 Hub Business Plan
        p Each applicant will be required to submit a draft business plan for the Hub.

        h4 Promotional Video
        p In addition, each applicant will provide a short 3-5 minute inspirational video on why they should be selected as a Hub. We encourage creativity! Each video should include the following key points:
        ul
          li Vision for the local Hub
          li Footage of the local area’s landscape and communities
          li Insights into the people who will be impacted
          li Local challenges and issues
          li Why here and why now?
          li Tell us about your team and who will be leading these efforts

        hr
        h3 Hub Candidates:
        p After being selected as a Hub Candidate, each individual Hub will begin the process of accreditation with the Savory Institute.

        ol.smaller
          li <strong>Business Plan.</strong> Every Hub will be required to submit a final business plan providing the specifics of implementation relevant to the existing region. This implementation will involve managing the local demonstration site, offering training and consulting services, and providing monitoring and data management services for site management.

          li <strong>Demonstration site.</strong> Maintain management influence or control of a local demonstration site for the purpose of education, training and research. This site must be managed using Holistic Management. The site must use the core Holistic Management planning procedures for operating. Each Hub will use the local site for providing workshops and demonstrations on how the practice of Holistic Management works on site. The actual planning procedures and baseline monitoring must be on file before the organization can be recognized as an accredited Hub. The Hub demonstration site may be audited to confirm compliance of the requirements.

          li <strong>Savory Institute accredited professionals.</strong> To maintain quality and consistency amongst the Hub network and special projects, we require that all Hubs use Savory Institute accredited professionals in training and consulting. Each Hub will have access to the network of accredited professionals to provide these services. Each Hub can hire accredited professionals as staff or provide staff to be accredited by Savory Institute or another accredited Hub. Holistic Management Training will be provided to Hubs interested in having accredited professionals on staff.

          li <strong>Hub Leadership Bootcamp.</strong> Two leaders from each Hub will be required to attend the Hub Leadership Bootcamp. The typical format includes 8-10 days of training addressing organizational development, brand and marketing support, networking, a Holistic Management overview, and field training and support. The training will be facilitated by Savory Institute staff, including a few sessions with Allan Savory.

          li <strong>Funding.</strong> Based upon the business plan submitted, each Hub will need to raise the financial resources needed for execution. Those resources will need to be confirmed before official accreditation. The Savory Institute will provide assistance in fundraising for grants and investments. Savory Institute encourages each candidate to seek out the necessary funding for implementation of the business plan. We cannot guarantee funding will be available to existing candidates.

          li <strong>Fees and Expenses.</strong> Each Hub is required to provide funding for the fees and expenses of the following activities. In the past, Savory Institute has been able to contribute donor funds to cover the majority of expenses associated with the Leadership Bootcamp. Future funding is not guaranteed and a $5,000 deposit is required. Your deposit covers the expenses of the Hub Leadership Bootcamp (2 people for 8-10 days including food, accommodations, and travel within Zimbabwe*). *International travel to Zimbabwe is not included. Each Hub will make the decision if they need an Accredited Professional as a member of the Hub core team. If needed, Savory Institute will provide a specific training in the first quarter of 2015. This training will be a total of 8 days. The cost is $2,000 and can include 2 people. If an existing team member is already an Accredited Professional this is not needed.

        hr
        h3 Apply Now
        p Are you ready to begin to change your world, to help others realize the benefits of healther grasslands through Holistic Management practices?
        button.primary
          a(href='/network/hub-application') Apply Now

  #tech-platform(data-magellan-destination='tech-platform')
  section.main.technology-platform
    .row
      .small-12.columns
        figure.img-love
          img(src='/assets/images/network/app.jpg')
        h2 Technology Platform
        p Savory’s technology platform has been developed to provide online support and training for farmers and land managers. This platform provides specific tools that enhance your understanding of Holistic Management as well as assisting in the implementation. Our focus areas are online education, data management, and collaboration.
        blockquote We'll help you not only collect the data, but analyze it and then make changes based on your specific needs.

    .tech-platform-points
      .row
        .medium-4.columns
          h3 Online Education
          p The Savory Institute will help you describe your context for achieving objectives while integrating each individual’s cultural, material, and spiritual needs with their environment.
          p Holistic Management is about proactively managing this type of complexity and making sure that managers have all the tools to address cash flow and profit, environmental vigor, and social factors as one inseparable whole when making decisions.

        .medium-4.columns
          h3 Data Management
          p Launching in April of 2015, our data management platform allows for land managers to create and manage their farm or ranch using Holistic Management. In addition, it allows for the collection of ecological data to monitor changes and progress on the land. Here are some of the features:
          ul.bordered-list
            li Integrated with Holistic Management planning and materials
            li Land mapping
            li Advanced data collection for ecological and animal performance indicators

        .medium-4.columns
          h3 Collaboration Forum
          p Coming soon, we'll also have an online forum that allows for the global collaboration of farmers, professionals, and Hubs. This forum will incorporate the sharing of resources, ideas, challenges, successes as well as the opportunity to facilitate meaningful conversations that enable long-term success on the land.
          p We expect the forum to launch in the third quarter of 2015.

