block variables
  - title = 'Holistic Training - Farm Planning & Holistic Grazing'
  - metaDesc = 'Here at The Savory Institute we offer professional holistic training, educational programs and farm planning to assist you and your land in becoming a Holistic Grazing farm. Call (303)327-9760 and start your courses today.'

extends /layout-network

block content

    #overview(data-magellan-destination='overview')
    section.main.overview
        .content
            .row
                .small-12.columns
                    a(href='#hub-application', class='btn-primary apply')
                        i(class='fa fa-mail-forward')
                        span Apply

    section.main.what
        .content
            .row
                .medium-8.medium-centered.columns
                    div.callout
                        h3 What is Savory Global Network?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


    #signature-stories(data-magellan-destination='signature-stories')
    section.main.signature-stories
        header.overview-header
            .row
                .medium-12.columns
                    h2.section-title Signature Stories
        .row.signature-video
            .medium-6.medium-offset-3.columns
                .video
                    .flex-video.widescreen.youtube
                        iframe(src='//www.youtube.com/embed/5LHoh-OKUfU?rel=0&amp;controls=0&amp;showinfo=0')

        .row
            .medium-4.columns
                .panel
                    header
                        i.fa.fa-book
                        h3 Header 1
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .medium-4.columns
                .panel
                    header
                        i.fa.fa-book
                        h3 Header 2
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .medium-4.columns
                .panel
                    header
                        i.fa.fa-book
                        h3 Header 3
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


    section.main.consulting
        .row
            .small-12.columns
                .key-points
                    .keyline
                    .row.collapse
                        .medium-6.columns.left
                          .point
                            h4 Professional Training
                            p Each Savory Hub will offer training in Holistic Management for both commercial and communal land-based practitioners, as well as NGOs and governments working with pastoralists. It will have access to land that can be used to provide practical hands-on experience as part of the training curriculum. Furthermore, each Hub will offer formal accreditation for professionals who desire to train or consult with practitioners on the implementation of Holistic Management.

                          .point
                            h4 Auditing Services
                            p Each Savory Hub will offer auditing services to land managers who are interested in accessing established market incentives or premium prices for their products under specific sustainable land and livestock management standards.

                        .medium-6.columns.right
                            .point
                                h4 Project Consulting
                                p Each Savory Hub will offer custom training, education, and consulting services to land managers, organizations and governments who are influencing the management of large areas of grasslands or degraded dry lands.
                                p
                                    a(href='#hub-application', class='btn-primary apply')
                                        i(class='fa fa-mail-forward')
                                        span Apply

    section.main.hubs
        .legend
            ul
                li.poppy
                    a(href='#', data-reveal-id='accredited-hubs') Accredited Hubs
                li.verdant
                    a(href='#', data-reveal-id='hub-candidates') Hub Candidates
                li.elf
                    a(href='#', data-reveal-id='special-projects') Special Projects
        script!='var hubs_geojson='+hubs_geojson+';'
        #map.hubs-map

    section.main.news
        header.overview-header
            .row
                .medium-12.columns
                    h2.section-title Network News
        .content
            .row
                .medium-3.columns
                    figure.img-love
                        img(src='https://placehold.it/200x150')
                .medium-3.columns
                    figure.img-love
                        img(src='https://placehold.it/200x150')
                .medium-3.columns
                    figure.img-love
                        img(src='https://placehold.it/200x150')
                .medium-3.columns
                    figure.img-love
                        img(src='https://placehold.it/200x150')
            .row
                .medium-6.columns
                    p
                        img(src='https://placehold.it/125x100', align='left')
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .medium-6.columns
                    p
                        img(src='https://placehold.it/125x100', align='left')
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .row
                .medium-6.columns
                    p
                        img(src='https://placehold.it/125x100', align='right')
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .medium-6.columns
                    p
                        img(src='https://placehold.it/125x100', align='right')
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    section.main.footer
        .content
            .row
                .medium-12.columns
                    img(src='http://placehold.it/1400x300')
