block variables
  - title = article.getText('news.title')

extends /layout

block content

  section.main.news-post
    .row
      .medium-8.medium-centered.columns
        figure.img-love
          img(src=article.getImage('news.image').main.url)
          if caption = article.getStructuredText('news.figcaption')
            figcaption!=caption.asHtml()

        header
          h1= article.getText('news.title')
          - date = momentDate(article.getDate('news.date'))
            span.date
              =date.format('MMM DD, YYYY')

        if body = article.getStructuredText('news.body')
          !=body.asHtml()
  
  
  
  
  - videos = [article.getText('news.youtube')]
  for video in videos
    if video
      section.main.video
        .row
          .medium-8.medium-centered.columns
            .video
              .flex-video.widescreen.youtube
                iframe(width='640', height='360',src='//www.youtube.com/embed/'+video+'?rel=0', frameborder='0', allowfullscreen='')
  
  
  
  if quote = article.getText('news.quote')
    section.main.callout-quote
      .row
        .small-12.columns
          blockquote= article.getText('news.quote')
  
  
  
  
  if secondaryBody = article.getStructuredText('news.secondaryBody')
    section.main.news-post
      .row
        .medium-8.medium-centered.columns
          !=secondaryBody.asHtml()

  #disqus_thread      
  script(type='text/javascript').
    (function() {
    var d = document, s = d.createElement('script');

    s.src = '//savoryglobal.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  noscript
    p Please enable JavaScript to view the
    a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.
            
