block variables
  - title = 'Article'

extends /layout

block content

  section.main.news-post
    .row
      .small-12.columns
        figure.img-love
          img(src=article.getImage('news.image').main.url)
          if caption = article.getStructuredText('news.figcaption')
            figcaption!=caption.asHtml()

        header
          h1= article.getText('news.title')
          - date = momentDate(article.getDate('news.date'))
            span.date
              =date.format('MMM DD, YYYY')

        if body = article.getStructuredText('news.body')
          !=body.asHtml()
