block variables
  - title = 'Savory Platform'

extends /layout-platform

block content

  #overview(data-magellan-destination='overview')
  section.overview
  section.half-color
    .art
    .color
    .row
      .medium-6.columns
        h1= title

      .medium-6.columns
        p Savory’s technology platform has been developed to provide online support and training for farmers and land managers. This platform provides specific tools that enhance your understanding of Holistic Management as well as assisting in the implementation. Our focus areas are online education, data management, and collaboration.




  section.main.technology-platform
    .row
      .small-12.columns
        figure.img-love
          img(data-interchange='[/assets/images/network/app.jpg, (default)], [/assets/images/network/app-lg.jpg, (medium)]')
        
    
    .tech-platform-points
      .row(data-equalizer='')
        .medium-4.columns
          .panel(data-equalizer-watch='')
            header
              i.fa.fa-book
              h3 Online Education
            p The Savory Institute will help you describe your context for achieving objectives while integrating each individual’s cultural, material, and spiritual needs with their environment.
            p Holistic Management is about proactively managing this type of complexity and making sure that managers have all the tools to address cash flow and profit, environmental vigor, and social factors as one inseparable whole when making decisions.
            footer
              a(href='#store') Online Courses

        .medium-4.columns
          .panel(data-equalizer-watch='')
            header
              i.fa.fa-database
              h3 Data Management
            p Our data management platform allows for land managers to create and manage their farm or ranch using Holistic Management and allows for the collection of ecological data to monitor changes and progress on the land.
            ul.plus
              li Land mapping
              li Integrated with Holistic Management planning and materials
              li Advanced data collection for ecological and animal performance indicators
            footer
              a.no-link Coming Mid 2015

        .medium-4.columns
          .panel(data-equalizer-watch='')
            header
              i.fa.fa-comment-o
              h3 Collaboration Forum
            p An online forum that allows for the global collaboration of farmers, professionals, and Hubs. This forum will incorporate the sharing of resources, ideas, challenges, successes as well as the opportunity to facilitate meaningful conversations that enable long-term success on the land.
            footer
              a.no-link Coming Late 2015
                
                
                
                
  #online-ed(data-magellan-destination='online-ed')
  section.main.store-items
    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Online Education
        .medium-9.columns
    
    .row
      .medium-8.columns
        p To start you off on the road to managing holistically, we have created five online, multi-media, and self-paced courses that will provide you with the solid foundation to excel in our face-to-face workshops in the future or deepen your understanding of Holistic Management if you have already taken these courses in the past.
        p The online courses include the first three of six units (the remaining units are taught through face-to-face, hands-on workshops). These foundational courses will prepare you for taking our face-to-face workshops where you will have the opportunity to learn the skills to master the implementation of the processes unique to Holistic Management:
        ul.plus
          li Building Wealth Through Holistic Financial Planning
          li Holistic Planned Grazing
          li Holistic Land Planning
          li Holistic Ecological Monitoring

        p All our courses are intended to be learned sequentially (Course 1 before Course 2) and build upon requisite knowledge acquired in the previous course.

      .medium-4.columns
        ul.each-course
          li
            i.fa.fa-bookmark
            p Your reading is in the revised online e-books for each of the five courses and specific sections of Holistic Management: A New Framework for Decision Making.
              
          li
            i.fa.fa-video-camera
            p Each course contains many videos and animations made exclusively for the Savory Institute as well as curated videos to enhance your learning.

          li
            i.fa.fa-comments
            p Reflect on what you’ve learned and share your thoughts with others in the course on the discussion board.

          li
            i.fa.fa-tasks
            p Participate in assignments to build your capacity to manage holistically and take objective quizzes to see how well you learned the concepts of each course.
    
    .row
      .small-12.columns
        
        a.btn-primary(href='#store', target='_blank') 
          i.fa.fa-book
          | Available Courses
        
        a.btn-primary(href='http://webh2o-1.savoryinstitute.org/site/savory/ci/welcome/login/si', target='_blank') 
          i.fa.fa-lock
          | User Login for Courses
  
  
  
  
  #data-management(data-magellan-destination='data-management')
  section.main
    .row
      .small-12.columns
        h2.section-title Data Management
        p Coming Mid 2015
      
    
  
  #forum(data-magellan-destination='forum')
  section.main
    .row
      .small-12.columns
        h2.section-title Forum
        p Coming Late 2015



  #store(data-magellan-destination='store')
  section.main.store-items.consulting
    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Store
        .medium-9.columns
          p We offer an extensive collection of courses and tools that aid in training, management, and continued education. All of our e-commerce is handled securely by Shopify.
    
    
    .row
      .small-12.columns
        h3 Courses
        ul.graphic-thumbs.small-block-grid-1.medium-block-grid-4
          each pclass in platform_classes
            li.block
              figure
                img(src=pclass.getImage('platformClasses.image').main.url)
                figcaption
                  a.price(href=pclass.getLink('platformClasses.addToCart').url(), target='_blank')=pricify(pclass.getNumber('platformClasses.price'))
                    i.fa.fa-shopping-cart
                  !=pclass.getStructuredText('platformClasses.name').asHtml()
                      
    
    .store-divider            
    .row
      .medium-6.columns
        a.price(href='http://savory-institute.myshopify.com/collections/consultations', target='_blank') $100
        img(src='/assets/images/platform/consulting.jpg')
      .medium-6.columns
        h3 Consulting
        p A one-on-one consultation is a great way to either begin learning or to find tune the understanding you already have about Holistic Management. For more in-depth training, the Savory Institute encourages you to take online courses or contact us for onsite visits.
        .course-objectives
          ul
            li One hour one-on-one
            li Defining your Holistic Context
            li Strategic decision-making
            li Implementation support
            li Beginning the Holistic Management process
            li Monitoring
          a.btn-primary(href='http://savory-institute.myshopify.com/collections/consultations', target='_blank')
            i.fa.fa-shopping-cart
            | Store

    
    .store-divider
    .row
      .small-12.columns
        h3 Ebooks
        p Our ebooks are sold to you in bundles as they are related to each other. We have bundled them to help inform you which ebooks go together and are best read together in your journey on the roadmap to Managing Holistically.

  
    .row.graphic-thumbs
      .medium-4.columns
        figure
          img(src='/assets/images/platform/ebook-package-1.jpg')
          figcaption
            a.price(href='http://savory-institute.myshopify.com/collections/ebook-bundles/products/ebook-bundle-one', target='_blank') $15
              i.fa.fa-shopping-cart
            h5 Books 1-5: Foundation of Holistic Management
        
      .medium-4.columns
        figure
          img(src='/assets/images/platform/ebook-package-2.jpg')
          figcaption
            a.price(href='http://savory-institute.myshopify.com/collections/ebook-bundles/products/ebook-bundle-two', target='_blank') $6
              i.fa.fa-shopping-cart
            h5 Books 6-7: Building Wealth Through Holistic Management
        
      .medium-4.columns
        figure
          img(src='/assets/images/platform/ebook-package-3.jpg')
          figcaption
            a.price(href='http://savory-institute.myshopify.com/collections/ebook-bundles/products/land-and-livestock-management-course-e-book-bundle-unit-5', target='_blank') $21
              i.fa.fa-shopping-cart
            h5 Books 8-14: Land and Livestock Management


    .store-divider
    .row
      .small-12.columns
        h3 Tools
        p We offer a wide variety of tools that will help you better plan and organize your land via Holistic Management Practices. 
        a.btn-primary(href='http://savory-institute.myshopify.com/collections/ebooks-and-materials', target='_blank') 
          i.fa.fa-shopping-cart
          | Store


  //
    .row
      .medium-6.columns
        p Please help yourself to some of our charts, forms, and worksheets. These forms have been developed to speed you on your way toward better Holistic Management and Planning.
        p.fine-print Suggested donation is $1-3 each.
    
      .medium-6.columns
        ul.icon-list
          li: a(href='#')
            i.fa.fa-file-excel-o
            | Annual Income and Expense
          li: a(href='#')
            i.fa.fa-file-excel-o
            | Control Sheet
          li: a(href='#')
            i.fa.fa-file-word-o
            | Ecological Monitoring Data (Basic)
          li: a(href='#')
            i.fa.fa-file-word-o
            | Ecological Monitoring Analysis (Basic)
  
