block variables
  - title = 'Platform'

extends /layout

block content
  
  section.main
    .row
      .small-12.columns
        h1 Savory Platform
        p Our learning platform handles all aspects of the educational process. We’re using a state of the art, open platform, Canvas Learning Management System, to deliver world-class media-rich content. Their intuitive interface also handles registration, course administration, analysis of skill mastery and progress tracking.
        p Our program is far from the traditional self or business-improvement material you may have come across in the past. The Savory Institute will help you describe your context for achieving objectives while integrating each individual’s cultural, material and spiritual needs with their life-supporting environment. Holistic Management is about proactively managing this type of complexity and making sure that managers have all the tools to address cash flow and profit, environmental vigor, and social factors as one inseparable whole when making decisions. It addresses the key component of timing and how to create feedback loops to test new actions to ensure that the highest level of performance is realized. The Savory Institute’s new generation of curriculum provides you with the education and means to find a competitive edge to flourish on all fronts of your life. It's about fine-tuning the machine, like a performance sports car, to learn the leverage points to maximize productivity towards your goals.
  
        h3 Each course will have various components:
  
        .row(data-equalizer='')
          .medium-3.small-6.columns
            .panel(data-equalizer-watch='')
              header
                h4 Reading:
              p Your reading is in the revised online e-books for each of the five courses and specific sections of Holistic Management: A New Framework for Decision Making.
          .medium-3.small-6.columns
            .panel(data-equalizer-watch='')
              header
                h4 Videos and Animations:
              p Each course contains many videos and animations made exclusively for the Savory Institute as well as curated videos to enhance your learning.
          .medium-3.small-6.columns
            .panel(data-equalizer-watch='')
              header
                h4 Writing and Discussion:
              p Reflect on what you’ve learned and share your thoughts with others in the course on the discussion board.
          .medium-3.small-6.columns
            .panel(data-equalizer-watch='')
              header
                h4 Quizzes and Assignments:
              p Participate in assignments to build your capacity to manage holistically and take objective quizzes to see how well you learned the concepts of each course.
  
  
  #classes(data-magellan-destination='classes')
  section.main.course-catalog
    .row
      .small-12.columns
        h2 Classes
        ul.small-block-grid-1.medium-block-grid-3
          //- -classes.each do |platform_class|
          //-   li
          //-     figure
          //-       =image_tag platform_class.image_url
          //-       figcaption
          //-         =link_to platform_class.price_html, platform_class.add_to_cart_url, class: 'price'
          //-         =platform_class.name
          //-         =platform_class.description
          //-         .course-objectives
          //-           =platform_class.bullet_points
          //-       footer
          //-         =link_to '#' do
          //-           i.fa.fa-shopping-cart
          //-           Add to Cart
  

  