block variables
  - title = 'Savory Platform'

extends /layout-platform

block content

  section.overview
  section.half-color
    .art
    .color
    .row
      .medium-6.columns
        h1= title

      .medium-6.columns
        p Our e-learning platform handles all aspects of the educational process. We use a state-of-the-art, open platform which handles registration, course administration, and progress tracking through each course. Our program is far from the traditional material you may have come across in the past.


  #classes(data-magellan-destination='classes')
  section.main.store-items
    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Classes
        .medium-9.columns
          p Thanks to the generous support of the V.K. Rasmussen Foundation, Savory is proud to announce its refined and updated curriculum.
    
    .row
      .small-12.columns
        p To start you off on the road to managing holistically, we have created five online, multi-media, and self-paced courses that will provide you with the solid foundation to excel in our face-to-face workshops in the future or deepen your understanding of Holistic Management if you have already taken these courses in the past.
        p The online courses include the first three of six units (the remaining units are currently taught through face-to-face, hands-on workshops). These foundational courses will prepare you for taking our face-to-face workshops where you will have the opportunity to learn the skills to master the implementation of the processes unique to Holistic Management:
        ul.plus
          li Building Wealth Through Holistic Financial Planning
          li Holistic Planned Grazing
          li Holistic Land Planning
          li Holistic Ecological Monitoring

        p All our courses are intended to be learned sequentially (Course 1 before Course 2) and build upon requisite knowledge aquired in the previous course.

        h3 Each course will have various components:
        .block-row
          .row(data-equalizer='')
            .medium-3.columns
              .grid-panel(data-equalizer-watch='')
                header
                  h4 Reading:
                p Your reading is in the revised online e-books for each of the five courses and specific sections of Holistic Management: A New Framework for Decision Making.
            .medium-3.columns
              .grid-panel(data-equalizer-watch='')
                header
                  h4 Videos and Animations:
                p Each course contains many videos and animations made exclusively for the Savory Institute as well as curated videos to enhance your learning.
            .medium-3.columns
              .grid-panel(data-equalizer-watch='')
                header
                  h4 Writing and Discussion:
                p Reflect on what you’ve learned and share your thoughts with others in the course on the discussion board.
            .medium-3.columns
              .grid-panel(data-equalizer-watch='')
                header
                  h4 Quizzes and Assignments:
                p Participate in assignments to build your capacity to manage holistically and take objective quizzes to see how well you learned the concepts of each course.

        hr
        ul.small-block-grid-1.medium-block-grid-4
          each pclass in platform_classes
            li.block
              figure
                img(src=pclass.getImage('platformClasses.image').main.url)
                figcaption
                  a.price(href=pclass.getLink('platformClasses.addToCart').url(), target='_blank')=pricify(pclass.getNumber('platformClasses.price'))
                    i.fa.fa-shopping-cart
                  !=pclass.getStructuredText('platformClasses.name').asHtml()
                  //- !=pclass.getStructuredText('platformClasses.description').asHtml()
                  //- .course-objectives
                    //- !=pclass.getStructuredText('platformClasses.bulletPoints').asHtml()


  #consulting(data-magellan-destination='consulting')
  section.main.store-items.consulting
    .row
      .medium-6.columns
        a.price(href='http://savory-institute.myshopify.com/collections/consultations', target='_blank') $100
        img(src='/assets/images/platform/consulting.jpg')
      .medium-6.columns
        header.overview-header
          h2.section-title Consulting
        p A one-on-one consultation is a great way to either begin learning or to find tune the understanding you already have about Holistic Management. For more in-depth training, the Savory Institute encourages you to take online courses or contact us for onsite visits.
        .course-objectives
          ul
            li One hour one-on-one
            li Defining your Holistic Context
            li Strategic decision-making
            li Implementation support
            li Beginning the Holistic Management process
            li Monitoring
          a.btn-primary(href='http://savory-institute.myshopify.com/collections/consultations', target='_blank')
            i.fa.fa-shopping-cart
            | Store



  #renew(data-magellan-destination='renew')
  section.main.store-items
    header.overview-header
      .row
        .small-12.columns
          h2.section-title Renew Accreditation
    .row
      .small-12.columns
        p If you are an approved Accredited Professional with Savory and you wish to sign up and pay for your annual renewal fee, you may do so here. If you are interested in <em>becoming</em> an accredited professional with Savory, credit will be given for participation in our <a href='#classes'>Platform classes</a> — that is where you should begin.
        a.btn-primary(href='http://savory-institute.myshopify.com/collections/accredited-professional-subscriptions', target="_blank")
          i.fa.fa-shopping-cart
          | Store



  #ebooks(data-magellan-destination='ebooks')
  section.main.store-items
    header.overview-header
      .row
        .medium-3.columns
          h2.section-title Ebooks
        .medium-9.columns
          p Our ebooks are sold to you in bundles as they are related to each other. We have bundled them to help inform you which ebooks go together and are best read together in your journey on the roadmap to Managing Holistically.

  
    .row
      .medium-4.columns
        figure
          img(src='/assets/images/platform/ebook-package-1.jpg')
          figcaption
            a.price(href='http://savory-institute.myshopify.com/collections/ebook-bundles/products/ebook-bundle-one', target='_blank') $15
              i.fa.fa-shopping-cart
            h5 Books 1-5: Foundation of Holistic Management
        
      .medium-4.columns
        figure
          img(src='/assets/images/platform/ebook-package-2.jpg')
          figcaption
            a.price(href='http://savory-institute.myshopify.com/collections/ebook-bundles/products/ebook-bundle-two', target='_blank') $6
              i.fa.fa-shopping-cart
            h5 Books 6-7: Building Wealth Through Holistic Management
        
      .medium-4.columns
        figure
          img(src='/assets/images/platform/ebook-package-3.jpg')
          figcaption
            a.price(href='http://savory-institute.myshopify.com/collections/ebook-bundles/products/land-and-livestock-management-course-e-book-bundle-unit-5', target='_blank') $21
              i.fa.fa-shopping-cart
            h5 Books 8-14: Land and Livestock Management



  #tools(data-magellan-destination='tools')
  section.main.store-items
    header.overview-header
      .row
        .small-12.columns
          h2.section-title Tools
    .row
      .small-12.columns
        p We offer a wide variety of tools that will help you better plan and organize your land via Holistic Management Practices. 
        a.btn-primary(href='http://savory-institute.myshopify.com/collections/charts-and-worksheets', target='_blank') 
          i.fa.fa-shopping-cart
          | Store

    //- .row
    //-   .medium-6.columns
    //-     p Please help yourself to some of our charts, forms, and worksheets. These forms have been developed to speed you on your way toward better Holistic Management and Planning.
    //-     p.fine-print Suggested donation is $1-3 each.
    //- 
    //-   .medium-6.columns
    //-     ul.icon-list
    //-       li: a(href='#')
    //-         i.fa.fa-file-excel-o
    //-         | Annual Income and Expense
    //-       li: a(href='#')
    //-         i.fa.fa-file-excel-o
    //-         | Control Sheet
    //-       li: a(href='#')
    //-         i.fa.fa-file-word-o
    //-         | Ecological Monitoring Data (Basic)
    //-       li: a(href='#')
    //-         i.fa.fa-file-word-o
    //-         | Ecological Monitoring Analysis (Basic)



  include /partials/donate.jade
  
